[2019-08-12 07:02] wanghaiqing2015 opened #1 "依赖的镜像太多了，能否优化一下呢"
依赖的镜像太多了，能否优化一下呢

[2019-08-12 07:23] pixiake commented on #1
目前版本由于要保证功能完整性，所以用到的镜像比较多，后续版本会做功能解耦的

[2019-08-12 10:08] fish2018 opened #2 "openpitrix-iam-service-deployment无法启动，看起来像是没有初始化数据"
[root@test-k8s-master01 ~]# kubectl logs openpitrix-iam-service-deployment-768555b66d-mpps2  -n openpitrix-system
2019-08-12 09:59:24.91467 -INFO- Release OpVersion: [v0.3.5] (grpc_server.go:79)
2019-08-12 09:59:24.9147  -INFO- Git Commit Hash: [9333eae7354fc6634785df7a2fef35e74ed8dce5] (grpc_server.go:79)
2019-08-12 09:59:24.91471 -INFO- Build Time: [2018-11-22 06:37:13] (grpc_server.go:79)
2019-

[2019-08-13 08:43] runzexia opened #3 "添加新组件minio"
1. `ks-apiserver`和`ks-controller-manager` 新增参数
[code]
2.用户可以选择使用自己的对象存储/使用内置`minio`，如果使用内置`minio`就需要部署`minio`

[2019-08-13 09:25] runzexia commented on #3
如果使用op的minio：命令行参数如下
[code]

[2019-08-13 15:00] pixiake commented on #2
installer job是否变成complete状态呢？可以重复执行job试下

[2019-08-14 07:29] kerven88 opened #4 "configmap配置没生效"
我修改了kubesphere.yaml配置文件的configmap设置不部署ks-logging相关的pod，但是没生效，还是启动了es和fluent相关的pod。
logging_enable: False
![123456](https://user-images.githubusercontent.com/51351006/63068938-a72f7800-bf47-11e9-9032-09a854f98188.png)

根据ansible-playbook里面的配置，true时候才会部署ks-logging相关服务。
 - { role: ks-logging, when: "logging_enable == true" }
![654321](https://user-images.githubusercontent.com/51351006/63068999-d9d970

[2019-08-15 02:27] pixiake commented on #4
没看到installer的job    应该是没有安装成功   成功的话installer的job会变成complete状态   可以新建一个job看下安装日志

[2019-08-15 02:34] kerven88 commented on #4
我reset后重新安装一次可以了，麻烦帮忙看下另外一个configmap配置没生效的问题。

[2019-08-15 02:51] pixiake commented on #4
yaml中使用的镜像是advanced-2.0.2分支build的    仅支持metrics-server和istio不安装，其它的会默认安装，不装logging相关组件的话会影响使用，后续版本会进行功能解耦，那样的话就可以按需安装了

[2019-08-15 03:02] pixiake opened #6 "存储可配置 去掉default storageclass限制"
增加存储配置参数，支持无storageclass环境

[2019-08-15 03:03] kerven88 commented on #4
tks！ 期待新版本的解耦。
另外，再问个操作问题，我新建了一个role，user，以及企业空间，要怎样关联集群里面现有的namespaces权限呢？

[2019-08-15 08:53] pixiake commented on #6
https://github.com/kubesphere/ks-installer/pull/7

[2019-08-15 08:53] #6 closed

[2019-08-16 03:08] #3 closed

[2019-08-16 03:10] runzexia opened #12 "[gitlab-1180] 在installer的最终阶段，scale重启一下s2ioperator"
[code]

会修复问题
[code]

[2019-08-16 03:19] hygnt opened #13 "太重量级了，希望能重新编排架构"
持久化存储能改为可选项安装，Prometheus监控可选安装或可对接已安装好的，并且最好尽可能地把复杂简单化安装，做到类似于像Rancher那种轻量级别

[2019-08-16 03:25] #13 closed

[2019-08-16 03:28] hygnt opened #14 "太重量级了，希望能重新编排架构"
持久化存储能改为可选项安装，Prometheus监控可选安装或可对接已安装好的，并且最好尽可能地把复杂简单化安装，做到类似于像Rancher那种轻量级别

[2019-08-16 05:43] kerven88 opened #15 "fluent希望可以filter日志类型，默认是收集所有容器日志"
目前的版本不支持过滤需要收集的日志类型，默认收集了所有容器日志，业务量日志比较大的话，es集群扛不住，queue容易堵死，fluent发给es返回错误码429。

[2019-08-16 12:49] Forest-L opened #16 "青云和阿里云不同环境的机器，pip包冲突"
![image](https://user-images.githubusercontent.com/50984129/63170113-24074280-c06b-11e9-80d4-0e271ad16e0d.png)

执行离线安装脚本报如图显示的错误：pip安装ansible报错

[2019-08-16 13:24] lilinlinlin commented on #16
临时解决方法：
方法1
pip install setuptools==33.1.1
方法2
下载新版setuptools
[code]

[2019-08-16 13:27] lilinlinlin commented on #14
1、持久化存储已经为可选配置
2、后虚版本会做功能解耦

[2019-08-17 02:24] benjaminhuo commented on #15
现在 fluentbit 也支持通过 ui 上改配置文件设置 filter，我们以后会把这个filter设置 设计的更友好。
现在具体怎么配置稍后我们会整理出一个文档

[2019-08-17 12:12] ericswitch opened #17 "ks-account-deployment一直处于Init:0/2状态，原因不明"
kubectl get pod -n kubesphere-system
NAME                                     READY   STATUS     RESTARTS   AGE
ks-account-697996989f-dbn77              0/1     Init:0/2   0          3h13m
ks-apigateway-7bb9bccc6d-wmzx2           1/1     Running    0          3h29m
ks-console-f5bf76dd4-2qlj8               1/1     Running    0          3h28m
ks-console-f5bf76dd4-zc5gj               1/1     Running

[2019-08-17 14:06] pixiake commented on #17
1.  看下kubesphere-system下的redis和openldap是否启动
2.  检查一下环境dns解析   看下coredns的日志   机器里的/etc/resolv.conf里边是不是有不能用的dns

[2019-08-17 14:17] ericswitch commented on #17
kubesphere-system下的redis和openldap全部启动，dns也全部可用。

[2019-08-17 14:24] ericswitch commented on #17
附上redis和openldap日志：
kubectl logs -f redis-78ff75bddc-rh6rb
Error from server (NotFound): pods "redis-78ff75bddc-rh6rb" not found
[root@kube-master1 coredns]# kubectl logs -f redis-78ff75bddc-rh6rb -n kubesphere-system
1:C 17 Aug 07:13:26.281 # oO0OoO0OoO0Oo Redis is starting oO0OoO0OoO0Oo
1:C 17 Aug 07:13:26.285 # Redis version=4.0.14, bits=64, commit=00000000, modified=0, pid=1, just started
1:C

[2019-08-18 02:36] pixiake commented on #17
环境可以联网吗？机器有防火墙吗？或者云主机有安全组吗？检查下这些配置吧

[2019-08-18 04:41] ericswitch commented on #17
环境不可以联网，防火墙和selinux也全部是关闭的！

[2019-08-18 11:20] pixiake commented on #17
不可以联网的话   resolve.conf里边的那几个dns也肯定连不上呀    所以coredns会报超时   修改下cordns的配置    或者把那些连不上的dns注释掉

[2019-08-18 11:28] ericswitch commented on #17
cat coredns.yaml
# __MACHINE_GENERATED_WARNING__

apiVersion: v1
kind: ServiceAccount
metadata:
  name: coredns
  namespace: kube-system
  labels:
      kubernetes.io/cluster-service: "true"
      addonmanager.kubernetes.io/mode: Reconcile
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    kubernetes.io/bootstrapping: rbac-defaults
    addonmanager.kubernetes.io

[2019-08-18 23:43] pixiake commented on #17
可以将configmap 中包含/etc/resolving.conf 的那行注释掉   然后重启coredns 试下

[2019-08-19 02:06] ericswitch commented on #17
十分感谢，我将configmap 中包含/etc/resolving.conf 的那行注释掉 然后重启coredns，安装成功了。我检查了所有的容器，只有一个出现了CrashLoopBackOff，它是：openpitrix-iam-service-deployment-864df9fb6f-wfsmc，看日志：
 kubectl logs -f openpitrix-iam-service-deployment-864df9fb6f-wfsmc -n openpitrix-system
2019-08-19 02:05:10.83535 -INFO- Release OpVersion: [v0.3.5] (grpc_server.go:79)
2019-08-19 02:05:10.83541 -INFO- Git Commit Hash: [9333eae7354fc6634785d

[2019-08-19 03:53] pixiake commented on #17
[code]

这样试下

[2019-08-19 04:05] ericswitch commented on #17
可以了，十分感谢！！！
这样添加的：
- name: OPENPITRIX_ID_RANDOM_SEED
  value: "yes"

[2019-08-19 11:26] pixiake opened #19 "ubuntu安装kubesphere时 pip报错"
华为云  ubuntu16.04
![图片](https://user-images.githubusercontent.com/22290449/63261884-2067fb80-c2b7-11e9-91c9-4af8b1d51651.png)

![图片](https://user-images.githubusercontent.com/22290449/63261899-2b229080-c2b7-11e9-958b-9212ab223c89.png)

[2019-08-19 11:27] pixiake commented on #19
解决办法：  pip install --upgrade pip

[2019-08-19 11:51] pixiake opened #20 "ubuntu安装kubesphere时 ks-account无法启动"
安装环境：
华为云：ubuntu16.04

 ks-account一直处于init状态，无法启动

[2019-08-19 11:53] pixiake commented on #20
/etc/resolv.conf中如果有不能使用的dns服务器可参考   https://github.com/kubesphere/ks-installer/issues/17

[2019-08-19 12:08] mayuhope opened #21 "在腾讯云Ubuntu Server 16.04.1 LTS 上安装在线版失败"
安装环境：
腾讯云：Ubuntu Server 16.04.1 LTS 64位

使用在线安装包安装all in one，安装失败：
./all-in-one.sh: line 67: 30166 Illegal instruction     (core dumped) ansible-playbook -i $BASE_FOLDER/../k8s/inventory/local/hosts.ini $BASE_FOLDER/../kubesphere/kubesphere.yml -b -e logging_enable=true -e is_allinone=true -e prometheus_replica=1 -e ks_console_replicas=1 -e JavaOpts_Xms='-Xms512m' -e JavaOpts_Xmx='-Xmx512m' -e jen

[2019-08-19 13:01] lilinlinlin opened #22 "阿里云ubuntu16.04安装kubesphere遇到问题"
阿里云环境 ubuntu 16.04.6，多节点离线部署问题：
1、由于阿里云环境的安全组中有些端口没有开放，导致push镜像超时
[code]
2、由于脚本中考虑的ubuntu的版本为16.04.4和16.04.5，没有16.04.6版本iso包。
[code]

[2019-08-19 13:11] rayzhou2017 opened #23 "云平台安装测试"
|                                             | qingcloud | huawei cloud | aliyun | tencent cloud | aws | azure |
| ------------------------- | ---------- | ------------- |------- | ------------- |----- | ------ |
| __Ubuntu 16.04 online allineone__  |   &radic;    |          |             |                        | &radic;|            |
| __Ubuntu 18.04 online allinone__   |   &radic;    |

[2019-08-19 14:17] lilinlinlin commented on #22
3、pyopenssl库的问题
[code]

[2019-08-19 15:07] mayuhope commented on #23
腾讯云：
Ubuntu 16.04.1安装在线版失败
ubuntu 18.04.1安装在线单节点成功centos7.5安装在线单节点成功
ubuntu 上安装离线版失败

[2019-08-19 15:09] mayuhope commented on #23
腾讯云：
Ubuntu 16.04.1安装在线版失败

ubuntu 18.04.1安装在线单节点成功

centos7.5安装在线单节点成功

ubuntu 上安装离线版失败

[2019-08-19 15:30] rayzhou2017 commented on #23
好的，我们会测试一下

[2019-08-20 03:15] lilinlinlin commented on #23
阿里云：
centos7.5和centos7.6 单节点/多节点offline   替换了centos-7.5-amd64.iso和centos-7.6-amd64.iso  成功
centos7.5和centos7.6 online  成功

ubuntu16.04.6 单节点/多节点offline    增加ubuntu-16.04.6-server-amd64.iso   成功
Ubuntu16.04.6  单节点 online     成功

[2019-08-20 03:50] rayzhou2017 commented on #23
这个测试我都看不懂，郭峰那个就很容易看懂

[2019-08-20 05:59] rayzhou2017 commented on #23
aws rhel 7.4 online alline 出错
![Screen Shot 2019-08-20 at 1 58 56 PM](https://user-images.githubusercontent.com/28859385/63321255-bd2ba700-c352-11e9-958f-7522c079d2b2.png)

[2019-08-20 07:09] leoendless opened #24 "openpitrix_enable 置为 false 时，job运行出错"
TASK [ks-core/prepare : KubeSphere | Getting OP Secret] ************************
fatal: [localhost]: FAILED! => {"changed": true, "cmd": "cat /etc/kubesphere/openpitrix/kubernetes/iam-config/secret-key.txt", "delta": "0:00:00.102802", "end": "2019-08-20 06:37:55.175247", "msg": "non-zero return code", "rc": 1, "start": "2019-08-20 06:37:55.072445", "stderr": "cat: /etc/kubesphere/openpitrix/kubern

[2019-08-20 07:54] pixiake commented on #23
rhel 7.4由于官方yum源中没有安装脚本中指定的相关软件，所以导致安装失败
1.  可以更换或者添加centos7的yum源尝试解决
2. 下个版本中会对该问题做相关处理

[2019-08-20 08:07] pixiake commented on #24
这个应该是自己build的镜像安装的吧？

原因：
由于在做功能解耦事先添加了enable参数，内部还有依赖关系没有处理造成

[2019-08-20 10:13] mayuhope commented on #21
在这个系统上安装在线版多节点也失败了，1master，2node，配置nfs作为存储：

![image](https://user-images.githubusercontent.com/7677050/63338806-2375f100-c376-11e9-880b-b2d2d48ac67d.png)

[2019-08-20 23:36] pixiake commented on #21
这个报  illegal instruction (core dump)，具体原因应该要查看内核日志

这个是ubuntu 16.04.1   建议使用高版本操作系统ubuntu 16.04.3+

[2019-08-20 23:55] pixiake commented on #23
aws rhel 7.4 offline alline 出错
![图片](https://user-images.githubusercontent.com/22290449/63391812-961eb500-c3e6-11e9-976d-13aa61494946.png)

该问题为当前系统中没有预装ebtables，而安装包中使用的软件依赖包也缺少ebtables，导致安装失败

临时解决办法：
vi  ../k8s/roles/kubernetes/preinstall/vars/redhat.yml
注释掉ebtables

[2019-08-21 01:43] rayzhou2017 commented on #21
腾讯云上没有16.04.3+的版本吗？ @mayuhope

[2019-08-21 02:19] mayuhope commented on #21
@rayzhou2017 没有，只有16.04.1这个版本
![image](https://user-images.githubusercontent.com/7677050/63397434-1fd97d00-c3fd-11e9-88ec-91fbe07be497.png)

[2019-08-21 07:41] lilinlinlin opened #27 "用vmware搭建的虚拟机安装install域名不能解释的问题"
* 本地/etc/hosts文件没有配置以下域名和ip关系，但可以ping通；
* 而本地用vmware搭建的虚拟机不能ping通以下域名。
kubernetes-istio.pek3b.qingstor.com
kubernetes-helm.pek3b.qingstor.com
kubesphere-installer.pek3b.qingstor.com
kubesphere-release.pek3b.qingstor.com
kubesphere-containernetworking.pek3b.qingstor.com
解决方法：在机器/etc/hosts上添加域名和ip对应关系
[code]

[2019-08-21 07:59] lilinlinlin commented on #23
vmware和各个平台机器对比：
1、在青云和阿里云centos7.6 离线install版本可以正常部署；
2、而同样的离线安装包在vmware机器上还报有依赖问题；
vmware弄的机器，开发者很难有8核以上的机器。

[2019-08-21 10:33] lilinlinlin commented on #27
最好处理方法：在/etc/resolv.conf 中添加：nameserver 114.114.114.114

[2019-08-22 01:54] pixiake commented on #21
规避办法：
当安装遇到 illegal instruction (core dump)错误时，根据当前安装模式注释掉allinone.sh或multinode.sh中前两个ansible-playbook命令，重新执行对应脚本即可

[2019-08-22 09:14] #24 closed

[2019-08-23 06:04] BoBo-G opened #30 "重装之后账号问题"
服务器上重装了一次只有admin账号的密码还是上次的
并且登录上之后是普通用户
在哪里可以重置账号信息

[2019-08-23 06:52] BoBo-G commented on #30
删除数据文件重装解决

[2019-08-23 06:52] #30 closed

[2019-08-23 07:09] happinesslijian opened #31 "监控不到etcd"
监控不到etcd，集群内部etcd和外部etcd我都安装测试过。同样都监控不到。如下图：
![微信截图_20190823150817.png](https://i.loli.net/2019/08/23/hmTGudIF9orEPN4.png)

[2019-08-23 07:18] Linuxbody opened #32 "不支持应用部署么"
这个版本安装完，没有这些菜单呢

![image](https://user-images.githubusercontent.com/9931457/63573915-26acef00-c5b9-11e9-822f-c21bf77903e9.png)

[2019-08-23 07:23] zryfish opened #33 "主机设置里有未能访问的DNS地址时，安装出错"
当主机 `/etc/resolv.conf` 包含未能访问的 DNS 地址时，安装会失败。因为 coredns 配置对主机 dns 的 proxy 策略，如果主机 dns 不可访问，会导致 coredns 返回给 pod 的响应不正常。

[code]

[2019-08-23 07:48] BoBo-G commented on #33
kubectl -n kube-system edit configmap coredns
然后把proxy 删除掉就可以了 你应该是卡到wait mysql了 脚本里面host用的是xxx.xxx.svc 没有cluster.local 造成的

[2019-08-23 11:10] zryfish commented on #33
解决方法是
[code]

去掉 upstream 和 proxy 那两行，然后执行
[code]
然后重新执行下installer

[2019-08-24 02:28] lijinbang commented on #33
我更改之后重新执行install还是失败，重新看了一下配置文件，那两行被删除的又重新回来了！

[2019-08-24 07:41] benjaminhuo opened #34 "Install grafana as an optional component"
Currently, grafana has been removed from installation.
We need to install grafana as an optional component

[2019-08-25 14:33] pythonton opened #35 "托管的 K8S 集群拿不到 etcd，是否可以部署 kubesphere？"
使用腾讯云的托管 K8S ，拿不到 etcd 的 IP，请问是否可以部署 kubesphere？

[2019-08-26 08:41] BoBo-G opened #37 "已有的kubesphere中怎么设置istio网络的外网权限"
在kubesphere中部署的应用需要访问集群外部网络 而istio的egress会拦截到所有不是集群中的外部网络返回404 怎么在不影响现有集群的情况下设置istio的拦截规则

[2019-08-26 09:48] happinesslijian commented on #31
问题已解决！
kubesphere默认安装完后，监控不到etcd问题解决 ！
https://github.com/happinesslijian/kubesphere

[2019-08-27 01:25] happinesslijian commented on #31
发现一个新问题，在第一次安装完成后，因为没有开启istio所以又二次安装了。在安装完成之后，etcd又一次监控不到了。按照我提交的https://github.com/kubesphere/ks-installer/issues/31的方式，也不行。  还是监控不到etcd。盼望解决！
![微信截图_20190827092436.png](https://i.loli.net/2019/08/27/fIJDHLpWGv3PVNy.png)

[2019-08-27 01:29] rayzhou2017 commented on #32
你需要从第一个示例开始创建企业空间，每个租户需要有自己的企业空间，然后在自己的企业空间里才能看到这些菜单。

[2019-08-27 02:39] Linuxbody commented on #32
解决了

[2019-08-27 02:39] #32 closed

[2019-08-27 03:59] pixiake commented on #35
可以部署 ，但是应该获取不到etcd监控，不过可以看下kube-apiserver的yaml文件，启动参数里一般会有etcd地址以及相关证书。
@benjaminhuo @huanggze

[2019-08-27 07:09] pythonton commented on #35
好的，谢谢。

[2019-08-27 07:09] #35 closed

[2019-08-27 07:18] pythonton opened #38 "k8s 上部署 ks，请问应该创建 ingress关联default-http-backend 吗?"
我在 腾讯云的 k8s 上参照  https://github.com/kubesphere/ks-installer 部署基本成功，但无法访问
![image](https://user-images.githubusercontent.com/50493427/63748947-f1681000-c8dc-11e9-8519-ec3c5679d764.png)

（1）**请问应该创建 ingress关联default-http-backend 吗?**

- service
[code]

（2）**请问 k8s 版本一定要求  1.13.0+ 吗**？

当前使用的 **k8s 版本是 1.10**，helm 版本是 2.10.0，去年部署的，还未升级。

忽然想起来前提。
[code]

[2019-08-27 10:36] junotx opened #41 "安装日志sidecar组件"
参考[这里](https://github.com/kubesphere/logsidecar-injector#install-and-deploy)的安装部署

[2019-08-28 01:57] pixiake commented on #38
1. 本地机器上curl一下console的服务试下通不通
2. 1.13.0+是经过测试的，只要k8s api兼容，其它版本应该也可以

[2019-08-28 02:22] zryfish commented on #37
请问访问不到的url是多少，可以参考 https://istio.io/docs/reference/config/networking/v1alpha3/service-entry/ 为需要访问的 Hosts 创建 serviceentry

[2019-08-28 05:50] #31 closed

[2019-08-28 07:17] pythonton commented on #38
好的，谢谢。

默认新建的 service（default-http-backend）无法访问，我自己新建了一个（ks-console）可以访问，但返回“default backend”。

请问官方新建的service 是 `default-http-backend`吗？

# kubectl get service -n kubesphere-controls-system
NAME                   TYPE           CLUSTER-IP       EXTERNAL-IP   PORT(S)        AGE
default-http-backend   LoadBalancer   172.16.255.206   10.0.0.39     80:31380/TCP   2d17h
ks-console             LoadBala

[2019-08-29 03:02] BoBo-G commented on #37
我修改了istio-inject-sider的cm 重新部署了所有的istio-egress

[2019-08-29 03:02] #37 closed

[2019-08-29 06:55] pixiake commented on #33
修改coredns 配置后   在对应的安装脚本里注释掉前两个ansible-playbook 命令重新执行对应脚本即可

[2019-08-29 08:15] JDalready opened #45 "能在文档里说明是哪个svc访问吗？"
kubesphere-controls-system     default-http-backend                 ClusterIP   10.106.49.78     <none>        80/TCP                   66m
kubesphere-devops-system       controller-manager-metrics-service   ClusterIP   10.97.112.126    <none>        8443/TCP                 66m
kubesphere-devops-system       s2ioperator                          ClusterIP   10.100.63.204    <none>        443/TCP

[2019-08-29 09:49] currycan opened #46 "qingcloud/jenkins-uc:0.9.0-dev 镜像无法下载"
qingcloud/jenkins-uc:0.9.0-dev 镜像无法下载

[2019-08-29 10:39] ArvinChen1991 opened #47 "notification-deployment报错"
Internal error occurred: failed calling webhook "sidecar-injector.istio.io": Post https://istio-sidecar-injector.istio-system.svc:443/inject?timeout=30s: service "istio-sidecar-injector" not found; Deployment does not have minimum availability.

[2019-08-29 10:42] ArvinChen1991 opened #48 "ks-alerting | Waiting for alerting-db-init]"
TASK [ks-alerting : ks-alerting | Waiting for alerting-db-init] ****************
FAILED - RETRYING: ks-alerting | Waiting for alerting-db-init (30 retries left).
FAILED - RETRYING: ks-alerting | Waiting for alerting-db-init (29 retries left).
FAILED - RETRYING: ks-alerting | Waiting for alerting-db-init (28 retries left).
FAILED - RETRYING: ks-alerting | Waiting for alerting-db-init (27 retries le

[2019-08-30 02:30] pixiake commented on #48
可以参考下这个   https://github.com/kubesphere/ks-installer/issues/33

[2019-08-30 03:00] pixiake commented on #46
这个镜像目前版本用的是0.8.0-dev

[2019-08-30 03:03] pixiake commented on #45
访问console的话可以暴露kubesphere下的ks-console，默认是nodeport

[2019-08-30 08:16] JDalready opened #52 "我执行了脚本后又两个job报几乎一样的错误，请问是数据库问题吗"
Current version of schema `app`: 0.7
ERROR: Unexpected error
org.flywaydb.core.api.FlywayException: Schema `app` contains a failed migration to version 0.7 !
	at org.flywaydb.core.internal.command.DbMigrate.migrateGroup(DbMigrate.java:227)
	at org.flywaydb.core.internal.command.DbMigrate.access$100(DbMigrate.java:53)
	at org.flywaydb.core.internal.command.DbMigrate$2.call(DbMigrate.java:163)
	at o

[2019-08-30 08:18] JDalready commented on #45
感谢你的回答  是我没部署成功

[2019-08-30 08:18] #45 closed

[2019-09-01 06:24] dlhf commented on #33
ks-install不用重新执行吧，去掉 upstream 和 proxy 那两行，额，安装会继续的好像，然后就安装好了，然后用kubectl logs -n kubesphere-system $(kubectl get pod -n kubesphere-system -l job-name=kubesphere-installer -o jsonpath='{.items[0].metadata.name}') -f 这个命令看，就在往下安装，就OK了，我是用的breeze安装的k8s集群

[2019-09-02 09:44] ckgmg opened #56 "kubectl logs -n kubesphere-system报错"
[root@master deploy]# kubectl logs -n kubesphere-system $(kubectl get pod -n kubesphere-system -l job-name=kubesphere-installer -o jsonpath='{.items[0].metadata.name}') -f
error: error executing jsonpath "{.items[0].metadata.name}": Error executing template: array index out of bounds: index 0, length 0. Printing more information for debugging the template:
	template was:
		{.items[0].metadata.name

[2019-09-02 09:48] ckgmg commented on #56
你们的安装说明里
kubectl apply -f kubesphere.yaml命令里的kubesphere.yaml文件中，以下ks-config.yaml没有有，GIT下也没有，请修正下

ansible-playbook", "/usr/src/kubesphere/kubesphere.yaml", "-b", "-e", "@/usr/src/kubesphere/conf/ks-config.yaml

[2019-09-03 07:53] wangwei3441855 opened #58 "安装完成后admin是普通用户"
安装完成后admin是普通用户

[2019-09-05 02:47] calvinyv opened #61 "Files access problem when installing KubeSphere with netapp as backend storage"
During installing KubeSphere with NFS client provisioner, we are using netapp ONTAP Release8.0.5 as backend storage, and meets problem as below:

`kubectl logs -n openpitrix-system openpitrix-db-deployment-6999f7c49f-krk52 -p
chov/n： changing ownership of 1/var/lib/mysql/.snapshot/hourly.Q1： Read-only file system
chov/n： changing ownership of 1/var/lib/mysql/.snapshot/hourly.11： Read-only file sys

[2019-09-05 02:58] pixiake commented on #56
文件已修正   如果job开始running的话可以用该命令查看日志

[2019-09-05 03:02] pixiake commented on #47
解决办法：

kubectl get mutatingwebhookconfigurations.admissionregistration.k8s.io istio-sidecar-injector -o yaml > injector.yaml

kubectl delete mutatingwebhookconfigurations.admissionregistration.k8s.io istio-sidecar-injector

待pod启动后执行  kubectl  apply -f  injector.yaml

[2019-09-05 07:10] wangwei3441855 commented on #58
kubectl create clusterrolebinding admin --user=admin --clusterrole=cluster-admin

[2019-09-05 07:10] #58 closed

[2019-09-06 06:56] marionxue opened #65 "TASK:ks-controller-manager FAILED"
[code]

安装的pods的状态
[code]

请问如何解决？

[2019-09-06 07:40] calvinyv opened #66 "uninstall 卸载不干净"
我的kubesphere好像没卸载干净，导致我现在随便起个pod都会报这样错Internal error occurred: failed calling webhook "sidecar-injector.istio.io": Post https://istio-sidecar-injector.istio-system.svc:443/inject?timeout=30s: service "istio-sidecar-injector" not found; Deployment does not have minimum availability.

临时解决办法：kubectl delete mutatingwebhookconfigurations.admissionregistration.k8s.io istio-sidecar-injector

[2019-09-09 03:33] pixiake commented on #65
Error from server (Forbidden): error when creating \"/etc/kubesphere/ks-controller-manager/ks-controller-manager.yaml\": clusterroles.rbac.authorization.k8s.io \"ks-controller-manager-role\" is forbidden: **attempt to grant extra privileges**

[2019-09-09 13:00] liuxu623 opened #70 "ImagePullBackOff"
Some pods in  kubesphere-monitoring-system not ready because couldn't pull images from  dockerhub.qingcloud.com.
[code]
[code]
And I try docker login with guest/guest, login success but pull error is `user is not active`.
[code]

[2019-09-09 14:21] littlezo opened #71 "阿里云ECS上安装问题"
阿里云 ECS centos7.6

报错错 ansible!=2.7.0
将 scripts/os/centos7.sh 脚本中 python-pip 删掉
修改前
sudo yum install epel-release -y  && yum install  python-pip  python-netaddr sshpass -y
修改后
sudo yum install epel-release -y  && yum install  python-netaddr sshpass -y
后者
在 sudo yum install epel-release -y  && yum install  python-pip  python-netaddr sshpass -y
增加
pip install --upgrade pip

报错 ipaddress 或 netaddr
手动

[2019-09-09 14:55] FeynmanZhou commented on #70
@liuxu623 It seems to be something wrong with the QingCloud DockerHub account, it has been fixed already.

[2019-09-09 14:58] #70 closed

[2019-09-09 16:54] zryfish opened #72 "kubesphere配置"
如下，kubesphere组件配置示例，如果对应组件没有配置，或者对应组件的 host/endpoint/apiserver 为空，则视为禁用

[code]

[2019-09-10 02:11] pixiake opened #73 "离线安装 镜像仓库报 connection refused"
离线部署下载镜像报  connect: connection refused

[2019-09-10 03:58] hing007210 commented on #23
TASK [ks-devops/ks-devops : OpenPitrix | Waiting for openpitrix-db] ***************************************************************************************************************************
Tuesday 10 September 2019  11:29:55 +0800 (0:00:00.396)       0:04:18.141 *****
FAILED - RETRYING: OpenPitrix | Waiting for openpitrix-db (15 retries left).
FAILED - RETRYING: OpenPitrix | Waiting for openpit

[2019-09-10 03:58] hing007210 commented on #23
在安装时报错。

[2019-09-10 06:19] Forest-L commented on #23
@hing007210
1、麻烦额外建一个issue哦，
2、kubectl get pod -n openpitrix-system看下该namespace的pod是否正常启动，
3、然后kubectl describe pod -n openpitrix-system `kubectl get pod -n openpitrix-system|grep openpitrix-db-deployment|awk '{print $1}'`  查看pod的日志

[2019-09-10 08:24] wnxn opened #77 "用ceph作为后端存储，需要在 node 拷贝 /etc/ceph/keyring.conf 才能继续安装。"

[2019-09-11 04:38] Skarlso opened #78 "English version please?"
Hi! I'm really interested in these docs. Is an English translation in progress?

Thanks!

[2019-09-11 08:50] FeynmanZhou commented on #78
@Skarlso Yes, we'll provide English translation for these docs today, including installation guides and tutorials, will let you know when post it.

[2019-09-11 09:16] Skarlso commented on #78
Frigging awesome. :) Thanks!

[2019-09-11 18:12] FeynmanZhou commented on #78
@Skarlso English translation is done, suggest you to install on your Kubernetes cluster. Also, we have free and online trial environment, for someone who wanna quick testing and preview. If you have any other questions, you can join [Slack Channel](https://join.slack.com/t/kubesphere/shared_invite/enQtNTE3MDIxNzUxNzQ0LTZkNTdkYWNiYTVkMTM5ZThhODY1MjAyZmVlYWEwZmQ3ODQ1NmM1MGVkNWEzZTRhNzk0MzM5MmY4NDc3Z

[2019-09-12 07:22] Skarlso commented on #78
Yay! Fantastic. :) Thank you very much. I'll install it this weekend and have a look. ;) thank you for your effort!

[2019-09-12 07:22] #78 closed

[2019-09-12 07:45] Forest-L opened #81 "python3.6.8 The error was: 'dict object' has no attribute \"dict_keys(['local'])"
Env:
Python 3.6.8
ansible 2.7.6

[2019-09-14 14:37] Jensen-Lone opened #84 "Execute to this point ‘kubectl apply -f kubesphere.yaml ’ to report errors"
TASK [ks-devops/sonarqube : Sonarqube | Deploy Sonarqube] **********************
fatal: [localhost]: FAILED! => {"changed": true, "cmd": "/usr/local/bin/helm upgrade --install ks-sonarqube  /etc/kubesphere/sonarqube/sonarqube-0.13.5.tgz -f /etc/kubesphere/sonarqube/custom-values-sonarqube.yaml  --namespace kubesphere-devops-system\n", "delta": "0:00:00.424497", "end": "2019-08-24 20:20:58.029648",

[2019-09-14 14:39] Jensen-Lone commented on #84
[root@k8s-master deploy]# kubectl version
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.3", GitCommit:"2d3c76f9091b6bec110a5e63777c332469e0cba2", GitTreeState:"clean", BuildDate:"2019-08-19T11:13:54Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.3", GitCommit:"2d3c76f9091b6bec110a5e63777c

[2019-09-15 03:05] pixiake commented on #84
https://devopscube.com/install-configure-helm-kubernetes/
Make sure you have a service account with the cluster-admin role defined for Tiller.
[code]

[2019-09-16 03:10] k7zy opened #86 "显示时间不正确"
1.容器内时间
![image](https://user-images.githubusercontent.com/15931606/64932267-98600d80-d7f2-11e9-89aa-198935e8117a.png)

2.宿主时间
![image](https://user-images.githubusercontent.com/15931606/64932289-b3328200-d7f2-11e9-8040-e80fdf9f86c8.png)

3.日志时间
![image](https://user-images.githubusercontent.com/15931606/64932552-bd558000-d7f4-11e9-86ba-dc1f784ccc84.png)

[2019-09-16 17:30] zy84338719 opened #87 "在现有k8s集群上安装会出现这样的问题？"
k8s版本
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.3", GitCommit:"2d3c76f9091b6bec110a5e63777c332469e0cba2", GitTreeState:"clean", BuildDate:"2019-08-19T11:13:54Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18e6bcfe9f1e4d970a529", GitTreeState:"clean",

[2019-09-18 06:23] yeyouqun commented on #23
我在安装时，出现这个问题：
Wednesday 18 September 2019  01:24:28 -0400 (0:00:00.639)       0:02:32.879 ***
fatal: [ks-allinone]: FAILED! => {"changed": true, "cmd": "/usr/local/bin/helm upgrade --install ks-sonarqube /etc/kubesphere/sonarqube/sonarqube-0.13.5.tgz -f /etc/kubesphere/sonarqube/custom-values-sonarqube.yaml --namespace kubesphere-devops-system", "delta": "0:00:00.203654", "end": "2019-09-18 01:24:

[2019-09-18 06:29] maxmonkey950 opened #89 "ks安装的时候metrics-server步骤报错，信息如下"
TASK [metrics-server : Metrics-Server | Getting metrics-server installation files] ***
changed: [localhost]

TASK [metrics-server : Metrics-Server | Creating manifests] ********************
changed: [localhost] => (item={u'type': u'config', u'name': u'values', u'file': u'values.yaml'})

TASK [metrics-server : Metrics-Server | Installing metrics-server] *************
fatal: [localhost]: FAILED! =>

[2019-09-18 06:30] maxmonkey950 commented on #89
metrics_server_enable | 是否安装metrics_server    （True / False） | True
修改为false、False，甚至去掉metrics配置都无法通过

[2019-09-18 06:43] pixiake commented on #87
Make sure you have a service account with the cluster-admin role defined for Tiller.
#84

[2019-09-18 07:17] xugirl opened #91 "现有ks中安装kubesphere，发现英文文档有重复错误，请修改英文的第2步和第3步"
Create the Secret of CA certificate of your current Kubernetes cluster.
Note: Follow the certificate paths of ca.crt and ca.key of your current cluster to create this secret.

kubectl -n kubesphere-system create secret generic kubesphere-ca  \
--from-file=ca.crt=/etc/kubernetes/pki/ca.crt  \
--from-file=ca.key=/etc/kubernetes/pki/ca.key
Create the Secret of certificate for ETCD in your Kubernetes

[2019-09-18 07:42] FeynmanZhou commented on #91
@xugirl Fixed, see #92 , thanks for your feedback.

[2019-09-18 07:43] #91 closed

[2019-09-18 07:58] pixiake commented on #89
添加以下参数应该可以跳过metrics_server，如果不行的话把配置文件也贴出来看下
[code]

[2019-09-18 09:05] Forest-L opened #93 "我在安装时，出现这个问题：could not find a ready tiller pod"
我在安装时，出现这个问题：
Wednesday 18 September 2019  01:24:28 -0400 (0:00:00.639)       0:02:32.879 ***
fatal: [ks-allinone]: FAILED! => {"changed": true, "cmd": "/usr/local/bin/helm upgrade --install ks-sonarqube /etc/kubesphere/sonarqube/sonarqube-0.13.5.tgz -f /etc/kubesphere/sonarqube/custom-values-sonarqube.yaml --namespace kubesphere-devops-system", "delta": "0:00:00.203654", "end": "2019-09-18 01:24:

[2019-09-18 09:10] Forest-L commented on #93
1、机器配置是什么；
2、从报错信息来看，helm没有安装成功，kubectl get pod -n kube-system|grep tiller看下pod是否正常；
3、可以手动安装helm，否则重新跑下脚本。

[2019-09-18 09:18] Forest-L commented on #93
https://github.com/kubesphere/kubesphere/issues/726#issue

[2019-09-18 10:08] Carriezhangyan opened #94 "kubesphere v2.0.2离线安装失败"
ASK [ks-devops/ks-devops : OpenPitrix | Waiting for openpitrix-db] **********************************************************************************************************************************************************************************************************
Wednesday 18 September 2019  11:36:20 +0800 (0:00:00.560)       0:06:57.894 ***
FAILED - RETRYING: OpenPitrix | Waiting for openpi

[2019-09-18 10:50] pixiake commented on #94
检查下存储

[2019-09-18 11:15] pixiake opened #95 "openpitrix-iam无法启动"
![图片](https://user-images.githubusercontent.com/22290449/65142431-44009c00-da45-11e9-8e12-46477c61de4e.png)

解决办法：
添加如下参数
![图片](https://user-images.githubusercontent.com/22290449/65143274-203e5580-da47-11e9-8f62-5b4d731fd389.png)

[2019-09-18 15:49] zy84338719 opened #96 "ks部署，ks-alerting部署失败。参考#33 未成功"
系统版本
k8s版本
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.3", GitCommit:"2d3c76f9091b6bec110a5e63777c332469e0cba2", GitTreeState:"clean", BuildDate:"2019-08-19T11:13:54Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18e6bcfe9f1e4d970a529", GitTreeState:"cl

[2019-09-18 15:51] zy84338719 commented on #96
[code]

[2019-09-18 15:51] #87 closed

[2019-09-19 00:54] yeyouqun commented on #93
[root@ks-allinone ~]# helm version
Client: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65f186e", GitTreeState:"clean"}
Error: could not find a ready tiller pod

[root@ks-allinone ~]# kubectl get pod -n kube-system|grep tiller
tiller-deploy-dbb85cb99-9qv7r             0/1     Pending      0          18h

[2019-09-19 01:38] Carriezhangyan commented on #94
8cpu，16G内存，120G硬盘，，三个搭建集群的服务器均是这样的配置

出现问题的时候，检查了一下内存和硬盘，均剩足够大的空间。

[2019-09-19 01:47] Carriezhangyan commented on #94
进入脚本逐步检查发现，其实是因为执行命令“kubectl -n openpitrix-system get pod | grep openpitrix-db-deployment”时的状态一直处于pending。

[code]

[2019-09-19 01:48] Forest-L commented on #93
`kubectl describe pod -n kube-system tiller-deploy-dbb85cb99-9qv7r`看看日志

[2019-09-19 02:24] pixiake commented on #96
kubectl  get   pod  -n openpitrix-system  看下是不是也有很多pod是init状态
大概率是k8s环境的dns有问题

[2019-09-19 02:25] pixiake commented on #94
不是机器的硬盘空间 ，安装的时候配置的什么存储，检查下，pod挂不上盘所以失败

[2019-09-19 02:43] yeyouqun commented on #93
[root@ks-allinone scripts]# kubectl describe pod -n kube-system tiller-deploy-dbb85cb99-9qv7r

Error from server (NotFound): pods "tiller-deploy-dbb85cb99-9qv7r" not found

发件人: noreply@github.com <noreply@github.com> 代表 Forest
发送时间: 2019年9月19日 9:48
收件人: kubesphere/ks-installer <ks-installer@noreply.github.com>
抄送: xdelta <yeyouqun@163.com>; Mention <mention@noreply.github.com>
主题: Re: [kubesphere

[2019-09-19 02:45] Carriezhangyan commented on #94
nfs存储

修改的conf/vars.yml文件：

[code]

[2019-09-19 02:47] Forest-L commented on #93
kubectl describe pod -n kube-system `kubectl get pod -n kube-system|grep tiller|awk '{print $1}'`

[2019-09-19 03:07] yeyouqun commented on #93
[root@ks-allinone scripts]# kubectl describe pod -n kube-system
Name:               calico-kube-controllers-fb99bb79d-284kv
Namespace:          kube-system
Priority:           2000000000
PriorityClassName:  system-cluster-critical
Node:               <none>
Labels:             k8s-app=calico-kube-controllers
                    kubernetes.io/cluster-service=true
                    pod-template-ha

[2019-09-19 03:21] #86 closed

[2019-09-19 03:26] Forest-L commented on #93
机器配置是什么？
1、可以提供tv或者机器信息发到kubesphere邮箱，远程看下。
@yeyouqun

[2019-09-19 03:45] yeyouqun commented on #93
[root@ks-allinone scripts]# cat /proc/meminfo

MemTotal:        1882620 kB

processor      : 0

vendor_id      : GenuineIntel

cpu family      : 6

model            : 45

model name  : Intel(R) Xeon(R) CPU E5-2620 0 @ 2.00GHz

stepping : 7

……

是一个虚拟机，2G内存，单CPU。安装方式是 Allinone，

[root@ks-allinone scripts]# cat /etc/os-release

NAME="CentOS Linux"

VERSION="7 (Core)"

ID="centos"

ID_LIKE="rhel fedo

[2019-09-19 03:55] Forest-L commented on #93
cpu核数够了，内存太小了，加大一下内存，大概要10G

[2019-09-19 03:55] yeyouqun commented on #93
好的，我再试试。

[2019-09-19 03:57] Forest-L commented on #93
tv信息不要发这里，邮箱即可，tv版本有点高；
如果没有那么大的内存的话，可以参考官网的配置，使某些模块不安装，先体验下kubesphere.

[2019-09-19 05:44] yeyouqun commented on #93
现在是另外的问题了：fatal: [ks-allinone]: FAILED! => {"changed": true, "cmd": "/usr/local/bin/helm upgrade --install ks-sonarqube /etc/kubesphere/sonarqube/sonarqube-0.13.5.tgz -f /etc/kubesphere/sonarqube/custom-values-sonarqube.yaml --namespace kubesphere-devops-system", "delta": "0:00:02.446402", "end": "2019-09-19 01:02:51.264600", "msg": "non-zero return code", "rc": 1, "start": "2019-09-19 01:02:48.81

[2019-09-19 05:45] yeyouqun commented on #93
[root@ks-allinone scripts]# ping 10.233.0.1
PING 10.233.0.1 (10.233.0.1) 56(84) bytes of data.
64 bytes from 10.233.0.1: icmp_seq=1 ttl=64 time=0.154 ms
64 bytes from 10.233.0.1: icmp_seq=2 ttl=64 time=0.120 ms

[2019-09-19 07:25] Forest-L commented on #93
1、检查防火墙关了没？
2、检查dns里面是否有ping不通的IP
@yeyouqun

[2019-09-19 08:03] #94 closed

[2019-09-19 08:04] Carriezhangyan commented on #94
nfs服务没有启动。。。
只修改了vars.yml文件中的nfs配置，没有手动启动nfs服务导致。

[2019-09-19 08:09] yeyouqun commented on #93
FAILED - RETRYING: OpenPitrix | Waiting for openpitrix-db (2 retries left).
FAILED - RETRYING: OpenPitrix | Waiting for openpitrix-db (1 retries left).
fatal: [ks-allinone]: FAILED! => {"attempts": 15, "changed": true, "cmd": "/usr/local/bin/kubectl -n openpitrix-system get pod | grep openpitrix-db-deployment | awk '{print $3}'", "delta": "0:00:00.279886", "end": "2019-09-19 03:22:20.411033", "rc"

[2019-09-19 08:14] Forest-L commented on #93
1、openpitrix-db-deployment-66dbfbd7bd-7xt5f   这个pod的日志；
2、检查下内存，且释放下缓存内存：echo 3 >/proc/sys/vm/drop_caches；

[2019-09-19 08:21] yeyouqun commented on #93
FAILED - RETRYING: docker login (1 retries left).
fatal: [ks-allinone]: FAILED! => {"attempts": 5, "changed": true, "cmd": "docker login -u guest -p guest dockerhub.qingcloud.com", "delta": "0:00:00.156557", "end": "2019-09-19 03:42:28.109058", "msg": "non-zero return code", "rc": 1, "start": "2019-09-19 03:42:27.952501", "stderr": "WARNING! Using --password via the CLI is insecure. Use --password

[2019-09-19 08:23] yeyouqun commented on #93
TASK [bootstrap-os : Check python-pip package] **************************************************************************************************************************************************************************************************
Thursday 19 September 2019  03:46:29 -0400 (0:00:02.104)       0:00:11.131 ****
An exception occurred during task execution. To see the full traceback, use -v

[2019-09-19 08:31] Forest-L commented on #93
版本12的tv发下kubesphere官方邮箱哦，连上去看下

[2019-09-19 08:54] yeyouqun commented on #93
官邮是否为：kubesphere@kubesphere.io?

发件人: noreply@github.com <noreply@github.com> 代表 Forest
发送时间: 2019年9月19日 16:31
收件人: kubesphere/ks-installer <ks-installer@noreply.github.com>
抄送: xdelta <yeyouqun@163.com>; Mention <mention@noreply.github.com>
主题: Re: [kubesphere/ks-installer] 我在安装时，出现这个问题：could not find a ready tiller pod (#93)

版本12的tv发下kubesphere官方邮箱哦，连上去看下

—
You are receiving this because you w

[2019-09-19 09:04] Forest-L commented on #93
kubesphere@yunify.com
@yeyouqun

[2019-09-20 02:45] newyue588cc commented on #93
配置中未看到，如果helm启用了tls，如何把helm的certs增加进去？

[2019-09-20 05:37] zy84338719 commented on #96
是的，可否提供一个完整的dns解决方案？

[2019-09-20 05:43] Forest-L commented on #93
https://docs.azure.cn/zh-cn/aks/ingress-own-tls   创建入口路由处   不知道是否可以帮到你
@newyue588cc

[2019-09-20 08:13] Forest-L commented on #93
https://github.com/helm/charts/blob/master/stable/magic-namespace/templates/tiller-deployment.yaml
@newyue588cc    官方添加方法

[2019-09-20 10:04] kong62 commented on #66
我都没地方卸载：
# ll scripts/
total 8
-rw-r--r-- 1 root root 6473 Sep 17 15:07 download-docker-images.sh

[2019-09-22 17:01] pixiake opened #99 "部署logsidecar-injector报错"
Error from server (BadRequest): error when creating "/etc/kubesphere/logsidecar-injector/webhook.yaml": MutatingWebhookConfiguration in version "v1beta1" cannot be handled as a MutatingWebhookConfiguration: v1beta1.MutatingWebhookConfiguration.Webhooks: []v1beta1.Webhook: v1beta1.Webhook.ClientConfig: v1beta1.WebhookClientConfig.Service: CABundle: decode base64: illegal base64 data at input byte 0

[2019-09-22 21:47] leonj1 commented on #84
This is what I had to do, hope it helps someone:
[code]

[2019-09-22 21:54] leonj1 opened #101 "Failure to install in new K8s 1.15.3 cluster. Unable to update secrets"
[code]

[code]

[2019-09-23 02:12] pixiake commented on #101
It appears that the command(helm upgrade --install ks-sonarqube xxx -f xxx) didn't execute successfully
Please delete the related resources according to the error message and try to install again.
[code]

[2019-09-23 02:39] Carriezhangyan opened #102 "kubesphere设置开机自动启动"
安装完成kubesphere后，重启服务器，发现kubesphere不能自动启动，想问一下怎样设置才能自动开机启动呢？还是该服务不能自启？

[2019-09-23 06:18] #99 closed

[2019-09-23 06:20] pixiake commented on #102
这个是依赖k8s自启动的    k8s开启能够启动的   kubesphere应该就可以被自动拉起来

[2019-09-23 06:32] Carriezhangyan commented on #102
kubesphere不是基于k8s安装的，而是直接下载离线安装包直接选择all-in-one模式安装的。kubelet.service默认安装的时候已经设置了开机启动，但是没有拉起来kubesphere。

[2019-09-23 09:25] elvizlai opened #107 "k8s version 1.16.0+ failed for Deployment change."

[2019-09-23 13:58] leonj1 commented on #101
Same result. Full steps and log
[code]

[2019-09-23 15:04] FeynmanZhou commented on #101
@leonj1  You can disable the sonarqube installation, it's an optional component, set the parameter of sonarqube to "false" in kubesphere.yaml then try it again.

![image](https://user-images.githubusercontent.com/40452856/65437470-6e43c680-de56-11e9-800c-92d517b0d258.png)

[2019-09-23 16:45] FeynmanZhou opened #108 "将 etcd 监控和 web kubectl 做成插件式设计，省去创建ca的步骤"
- [ ] 强烈建议将 etcd 监控和 web kubectl 做成插件式设计，默认安装省去创建两个 ca 的步骤，简化安装步骤

[2019-09-24 01:28] #102 closed

[2019-09-24 01:30] Carriezhangyan commented on #102
kubelet.service重新设置开机启动，重启系统就可以了。
第一次没有拉起来的原因可能是系统原因。

[2019-09-24 02:13] newyue588cc commented on #93
我可以创建secret，我看我们ks-installer安装是在job里面运行各种ansible的task，我可以创建secret，定义个名称，在deploy/kubesphere-yaml中引入secret，但是我们在运行helm的时候需要增加--tls命令，否则会夯住的。这个可能需要重新打包ks-installer的image

[2019-09-24 06:06] hangyan opened #109 "第一次安装完后用户名密码是啥？文档里找不到任何提示？"

[2019-09-24 12:39] FeynmanZhou commented on #109
@hangyan admin/P@88w0rd   中文文档加上了登录信息，感谢提醒
![image](https://user-images.githubusercontent.com/40452856/65512185-4febd280-df0b-11e9-99c0-3c1f4dd04529.png)

[2019-09-24 12:39] #109 closed

[2019-09-24 20:01] leonj1 commented on #101
Progress, now reached this error.
`'openpitrix' is undefined`

[code]

[2019-09-25 01:25] pixiake commented on #101
1. Please  use the  advanced-2.0.2 branch ,  if you want to build own image.
2. You can disable the sonarqube installation to add the parameter of sonarqube  in  deploy/kubesphere-installer.yaml ,:
 `sonarqube_enable=False`
3. You can read the tiller's logs, when the failure messages contain helm:
`kubectl logs -n kube-system tiller-deploy-xxx`

[2019-09-25 03:44] dbyanhome opened #114 "Download containers if pull is required or told to always pull"
Download containers if pull is required or told to always pull
到这个环节就卡住了，要怎么处理

[2019-09-25 05:09] ysicing opened #115 "pull 镜像需要authentication required"
日志如下:

[code]

[2019-09-25 07:26] dbyanhome opened #116 "Join to cluster if needed"
安装集群版本的时候出现这个问题

[2019-09-26 02:08] #115 closed

[2019-09-26 02:12] Forest-L commented on #114
提高下下载带宽

[2019-09-26 02:14] Forest-L commented on #116
报错信息麻烦截全，方便排查问题。

[2019-09-26 06:03] benjaminhuo commented on #108
@FeynmanZhou 意思是默认不带 etcd 监控，用户需要才安装？
etcd 监控倒是没有占用太多资源，安装 etcd 监控的过程很麻烦么

[2019-09-26 12:19] zhaohaoyun opened #122 "ks-installer job失败"
TASK [prepare/base : KubeSphere | Init KubeSphere] *****************************
failed: [localhost] (item=ks-account-init.yaml) => {"ansible_loop_var": "item", "changed": true, "cmd": "/usr/local/bin/kubectl apply -f /etc/kubesphere/ks-init/ks-account-init.yaml", "delta": "0:00:01.096461", "end": "2019-09-26 12:02:46.459342", "failed_when_result": true, "item": "ks-account-init.yaml", "msg": "non

[2019-09-27 01:36] dbyanhome opened #123 "安装过程中出现FAILED - RETRYING: OpenPitrix | Waiting for openpitrix-db"
TASK [ks-devops/ks-devops : OpenPitrix | Waiting for openpitrix-db] ************************************************************************************
Thursday 26 September 2019  19:53:59 +0800 (0:00:02.893)       2:56:51.086 ****
FAILED - RETRYING: OpenPitrix | Waiting for openpitrix-db (15 retries left).
FAILED - RETRYING: OpenPitrix | Waiting for openpitrix-db (14 retries left).
FAILED - RETR

[2019-09-27 15:10] luoyucumt opened #132 "ks-install 安装 Init:ImagePullBackOff"
ks-install安装报错：

https://dockerhub.qingcloud.com/v2/qingcloud/jenkins-uc/manifests/0.9.0-dev: unauthorized: authentication required

期待回复

[2019-09-27 23:57] pixiake commented on #132
对应的deploy是有imagePullSecrets的，可以添加下边的imagePullSecrets
[code]

[2019-09-28 01:44] dbyanhome opened #136 "单节点安装失败KubeSphere | Waiting for ks-console"
TASK [ks-istio : istio | Create jaeger operator service] ****************************************************************************************
Saturday 28 September 2019  06:31:32 +0800 (0:00:01.923)       0:41:09.665 ****
changed: [ks-allinone]

TASK [check-result : KubeSphere | Waiting for ks-console] ***************************************************************************************
Satu

[2019-09-28 02:46] #116 closed

[2019-09-28 02:47] dbyanhome commented on #123
存储导致的问题

[2019-09-28 02:47] #123 closed

[2019-09-28 03:02] pixiake commented on #136
Unable to connect to the server: net/http: TLS handshake timeout

这应该是kubectl连不到apiserver吧

[2019-09-29 03:29] soulseen opened #157 "修改configmap ks-install, 安装devops失败"
**Describe the bug(描述下问题)**

修改configmap ks-install, 安装devops失败

![image](https://user-images.githubusercontent.com/16031013/65825672-2e446f80-e2ac-11e9-9e88-a53a831e27a3.png)

**Versions used(KubeSphere/Kubernetes的版本)**

ks-dev-2.1-20190929

**Environment(环境的硬件配置)**

allinone: 8cpu/32g

[2019-09-29 03:29] soulseen commented on #157
/assign @pixiake

[2019-09-29 03:36] soulseen commented on #157
手动创建ns kubesphere-devops-system后正常安装

[2019-09-29 07:44] runzexia opened #163 "centos 75安装部分红色错误信息"
![image](https://user-images.githubusercontent.com/31230341/65828672-ff3ff500-e2cf-11e9-840b-3af539ac5ead.png)
![image](https://user-images.githubusercontent.com/31230341/65828675-07983000-e2d0-11e9-846a-933ddaad79f5.png)

[2019-09-29 09:39] junotx opened #166 "ubuntu上安装失败 | 不能找到pip"
![image](https://user-images.githubusercontent.com/49136171/65830208-fc4d0080-e2df-11e9-97fb-522886ca912b.png)

[2019-09-29 10:06] suyanlong opened #167 "Error: [ks-devops/jenkins : KubeSphere | Waiting for ks-account]"
centos7.5 、k8s 1.15.4

`
TASK [ks-alerting : ks-alerting | Create ks-alerting apigateway] ***************
changed: [localhost]

TASK [ks-devops/jenkins : KubeSphere | Waiting for ks-account] *****************
FAILED - RETRYING: KubeSphere | Waiting for ks-account (30 retries left).
FAILED - RETRYING: KubeSphere | Waiting for ks-account (29 retries left).
FAILED - RETRYING: KubeSphere | Waiting for

[2019-09-30 02:58] #167 closed

[2019-09-30 03:01] runzexia opened #170 "[19-09-30] 在不开启sonarqube 的情况下无法正确安装devops模块"

[2019-09-30 05:18] qist opened #173 "说明文档又错误"
说明文档又错误 deploy 目录没有kubesphere.yaml文件
job里面的Helm 是2版本在判断没有安装tiller 服务的情况下就报错了。
Helm 3版本已经脱离tiller 可以直接使用。
完全可以使用operator模式进行部署。ansible 会用的密钥有安全隐患。

[2019-09-30 08:06] mayuhope opened #174 "ubuntu18.04上安装多节点失败，提示部分namespace已存在"
1. 在ubuntu 18.04环境上安装2.1多节点，安装失败；

[2019-09-30 09:06] liiujinfu opened #175 "k8s 集群 没有csr和key文件，只有kube-ca.pem和kube-ca-key.pem文件,如何创建secret"

[2019-10-04 10:39] calvinyv opened #177 "use lower case true/false in vars.yml"
for example:
monitoring_enabled: True

it should be:
monitoring_enabled: true

there are many places should be turned to lower case

[2019-10-04 10:42] calvinyv opened #178 "the default value for commentted vars should be true"
For example:
#qingcloud_csi_enabled: false

the default value should be true, so once I want to use this var and remote the comment, I don't need to modify the value.

[2019-10-04 14:30] calvinyv opened #179 "Fail to install with qingcloud csi"
Install with multiple nodes, and see below logs in kube-cloudl-controller-manager pod:
_I1004 14:25:30.562745       1 event.go:258] Event(v1.ObjectReference{Kind:"PersistentVolumeClaim", Namespace:"kubesphere-monitoring-system", Name:"prometheus-k8s-system-db-prometheus-k8s-system-1", UID:"a95d8599-393c-4c32-8f24-62c741c92305", APIVersion:"v1", ResourceVersion:"11481", FieldPath:""}): type: 'Norma

[2019-10-05 07:01] #96 closed

[2019-10-05 18:12] zy84338719 opened #180 "node-exporter 这个项目容器无法起来 导致监控不可用"
系统centos7.7 x3
项目部署日志
[code]

项目容器报错
容器组 Pod： node-exporter
[code]

如何修复？

[2019-10-07 05:20] zy84338719 commented on #33
去掉这两行安装后，安装假装会进行，但实际未安装完成，未安装完成，未安装完成
TASK [ks-istio : istio | disable istio-injection] ******************************
changed: [localhost] => (item=istio-system)
changed: [localhost] => (item=kube-system)
changed: [localhost] => (item=kubesphere-system)
changed: [localhost] => (item=openpitrix-system)

TASK [ks-istio : istio | Waiting for istio-init] *******************************
changed: [loca

[2019-10-07 11:22] runzexia opened #182 "2.1.0 installer支持升级"
![image](https://user-images.githubusercontent.com/31230341/66307762-de167e80-e937-11e9-8d15-9922e13a7493.png)

[2019-10-08 03:57] shaowenchen opened #196 "2.1 plugin installation does not take effect: gitlab and harbor"
I use command line to install gitlab and harbor：

[code]

but，it does not work.

/help wanted

[2019-10-08 04:01] shaowenchen commented on #196
more info:

[code]

[code]

[2019-10-08 04:37] chinaboy007 opened #199 "/usr/src/kubesphere/conf/ks-config.yaml 在哪？"
按照指引https://github.com/kubesphere/ks-installer/blob/advanced-2.0.2/README_zh.md
到 第5步了
发现 deploy下没有 kubesphere.yaml ，只有kubesphere-installer.yaml
且 kubesphere-installer.yaml 中有 一行
command: ["ansible-playbook", "/usr/src/kubesphere/kubesphere.yaml", "-b", "-e", "@/usr/src/kubesphere/conf/ks-config.yaml"]

但是我找不到 /usr/src/kubesphere/kubesphere.yaml 和 /usr/src/kubesphere/conf/ks-config.yaml，job启动后一直是r

[2019-10-08 05:57] benjaminhuo opened #201 "[2.1] Jenkins oom after enabling devops component"
Jenkins oom after enabling devops component

ubuntu 16.04 8c16g , allinone

[2019-10-08 06:02] benjaminhuo opened #202 "[2.1] Missing label system-workspace for optional components"
Missing label system-workspace for optional components devops and istio

Cannot see these two after enabling them in configmap

ubuntu 16.04, 8c16g, allinone

[2019-10-08 06:17] magicsong opened #203 "[2.1] Centos 3节点安装问题"
1. 安装过程脚本突然中断，后台任务依然继续
2. 主节点至少需要8G内存，而且在什么都没装的情况下已经用掉7G
3. LB设置为true，但是没有安装

[2019-10-08 08:16] xcm153 commented on #2
遇到同样问题 没有解决

[2019-10-08 08:48] magicsong commented on #203
UI上有一个权限问题，管理员看不到项目的高级设置。@wansir

[2019-10-08 09:15] FeynmanZhou commented on #199
@chinaboy007  是需要 apply 这个 deploy/kubesphere-installer.yaml 文件，之前的文档有一处需要更新，现在已经更新了，你重新参考文档安装试试。

[2019-10-08 13:03] pixiake commented on #179
#186

[2019-10-08 16:34] chinaboy007 opened #209 "ks安装失败"
主机是centos 7.5最小化安装的，很干净
前面没有报错，最后报错了
。。。。。。
ok: [ks-allinone] => (item={u'name': u'helm_enabled', u'value': True}) => {
    "changed": false,
    "item": {
        "name": "helm_enabled",
        "value": true
    },
    "msg": "All assertions passed"
}
ok: [ks-allinone] => (item={u'name': u'openstack_lbaas_enabled', u'value': False}) => {
    "changed": false,
    "item": {
        "name": "opens

[2019-10-09 02:06] pixiake commented on #209
Stop if memory is too small for masters   机器内存不够   建议8c16g

[2019-10-09 02:37] benjaminhuo commented on #202
/assign pixiake

[2019-10-09 02:38] benjaminhuo commented on #202
/kink installer

[2019-10-09 02:38] benjaminhuo commented on #201
/area devops

[2019-10-09 02:39] benjaminhuo commented on #201
/assign runzexia

[2019-10-09 03:31] superfrankiefan commented on #23
AWS UBUNTU 16.04.6 LTS

install mode: Kubesphere all in one

Error Description:

Stucked in the following task:

TASK [download : Check the local digest sha256 corresponds to the given image tag] **********************************************************************************************************
Wednesday 09 October 2019  03:08:42 +0000 (0:00:00.057)       0:08:20.102 *****

TASK [download :

[2019-10-09 03:56] runzexia opened #214 "2.1.0-dev docker version not macth"
docker client 19.03.2
docker server 18.09.7

![image](https://user-images.githubusercontent.com/31230341/66450624-ccde8680-ea8b-11e9-8d2d-2ce49b6754f3.png)

[2019-10-09 04:39] googlebabaio opened #215 "找不到卸载的脚本uninstall.sh"
根据文档(https://kubesphere.io/docs/advanced-v2.0/zh-CN/installation/uninstall/)上,找不到卸载的脚本uninstall.sh.

[2019-10-09 09:20] #177 closed

[2019-10-10 01:04] hlwanghl opened #221 "Harbor upgrade blocked"
https://github.com/goharbor/harbor-helm/pull/366

Workaround:
scale blocked replica to 0 and then upgrade.

[2019-10-10 03:38] googlebabaio commented on #215
https://github.com/kubesphere/ks-installer/blob/master/scripts/kubesphere-delete.sh

[2019-10-10 03:38] #215 closed

[2019-10-10 06:36] daiqingliang commented on #180
你的Docker镜像都下下来了吗，我自己手工下了十几个Docker镜像。
使用docker images 查看下下面两个镜像都有吗？
dockerhub.qingcloud.com/coreos/kube-rbac-proxy:v0.4.1
dockerhub.qingcloud.com/prometheus/node-exporter:ks-v0.16.0

如果没有，那就是镜像问题，重新下载镜像：
docker pull prom/node-exporter:ks-v0.16.0
docker tag prom/node-exporter:ks-v0.16.0 dockerhub.qingcloud.com/prometheus/node-exporter:ks-v0.16.0

docker pull carlosedp/kube-rbac-proxy:v0.4.1
docker t

[2019-10-10 06:43] daiqingliang commented on #107
I change my k8s from 1.16 to 1.14, because k8s install is cheap.
And KubeSphere install is ...

[2019-10-10 06:46] daiqingliang commented on #1
关键是很多镜像都是拉不到的，手动拉镜像都拉吐了。。。

[2019-10-10 09:44] zryfish opened #226 "Wrong notification job image"
kubespheredev/notification:flyway-advanced-2.1.0  wrong image tag, should be `flyway_advanced-2.1.0`

[2019-10-11 02:51] mayuhope commented on #166
ubuntu  18.04上安装存在同样的问题：
![image](https://user-images.githubusercontent.com/7677050/66620987-14dce500-ec15-11e9-9cd9-d0fa39b5ee09.png)

[2019-10-11 02:59] mayuhope commented on #174
/assgin @pixiake

[2019-10-11 03:25] #226 closed

[2019-10-11 07:46] shaowenchen opened #234 "[2.1]CentOS 三节点安装 ks-apiserver 起不来"
安装机器：

三台 CentOS 7.5，全新安装。安装包：kubesphere-all-2.1.0-dev-20191011.tar.gz 。

现象：ks-apiserver 状态异常，页面登陆报错

[code]

补充：我看的 ks-apiserver yaml 中有 init 等待 mysql 就绪，查看了下 docker 日志，大量输出

[code]

其他补充：

ks-apiserver describe 中 labels 中显示

[code]
version 需要更新

[2019-10-11 07:47] shaowenchen commented on #234
/kind bug
/assign @pixiake

[2019-10-11 11:24] MarsHanZhen commented on #122
顶一下,基本类似的问题

[2019-10-12 07:58] zheng1 opened #242 "2.1 openebs没有默认分配企业空间"
如题，安装之后 ns openebs 的企业空间是空的

[2019-10-12 16:24] pixiake commented on #242
https://github.com/kubesphere/kubesphere/issues/904

[2019-10-14 02:22] suyanlong commented on #2
`[kaifa@315732 ~]$ kubectl logs  -n openpitrix-system openpitrix-iam-service-deployment-75b57cb65c-rs99d
2019-10-14 02:18:31.82879 -INFO- Release OpVersion: [v0.3.5] (grpc_server.go:79)
2019-10-14 02:18:31.82885 -INFO- Git Commit Hash: [9333eae7354fc6634785df7a2fef35e74ed8dce5] (grpc_server.go:79)
2019-10-14 02:18:31.82888 -INFO- Build Time: [2018-11-22 06:37:13] (grpc_server.go:79)
2019-10-14 02:

[2019-10-14 02:48] Wandering opened #250 "Uninstall suspended"
`Error: could not find a ready tiller pod
namespace resource deleted
namespace resource deleted
namespace resource deleted
namespace resource deleted
namespace resource deleted
namespace resource deleted
No resources found
No resources found
namespace resource deleted
namespace resource deleted
No resources found
No resources found
No resources found
namespace resource deleted
persistentvolumeclai

[2019-10-14 02:49] Wandering commented on #250
Error: could not find a ready tiller pod
namespace resource deleted
namespace resource deleted
namespace resource deleted
namespace resource deleted
namespace resource deleted
namespace resource deleted
No resources found
No resources found
namespace resource deleted
namespace resource deleted
No resources found
No resources found
No resources found
namespace resource deleted
persistentvolumeclaim

[2019-10-14 10:04] Carlosfengv opened #258 "配置文件格式错乱，无可读性"
- [ ] 执行`kubectl edit cm -n kubesphere-system ks-installer` 后文件格式错乱
![image](https://user-images.githubusercontent.com/23092051/66743663-fee95180-eeac-11e9-8699-4c313dcb677e.png)

[2019-10-14 10:04] Carlosfengv commented on #258
/kind bug

[2019-10-14 13:22] huanggze opened #262 "starting container process caused "exec: \"flyway\": executable file not found in $PATH": unknown"
安装 op 报错。10月14日 20:34 下载的安装包

![image](https://user-images.githubusercontent.com/22350668/66754493-ad4ec000-eec8-11e9-832f-085c6d23ee94.png)

![image](https://user-images.githubusercontent.com/22350668/66754508-b5a6fb00-eec8-11e9-8064-462206354f4d.png)

[2019-10-14 13:23] huanggze commented on #262
/kind bug
/assign @pixiake

[2019-10-15 02:51] #157 closed

[2019-10-15 06:39] rayzhou2017 opened #279 "allinone环境有的服务怎么有多个pod"
* [ ] 如图所示
![Screen Shot 2019-10-15 at 2 38 30 PM](https://user-images.githubusercontent.com/28859385/66806198-82607c80-ef59-11e9-8db8-93352f323eed.png)

[2019-10-15 08:58] pixiake commented on #279
这个是对应组件的yaml中默认设置的   alerting-executor的副本数已重置为1

[2019-10-16 10:08] ysicing opened #291 "All-in-One源码后续有计划开源么"
建议可以的话也修改一下debian下docker默认源

[code]

[2019-10-16 10:25] pixiake commented on #291
好的  可以修改
所有代码都是开源的

[2019-10-16 11:01] ysicing commented on #291
👌，但是好像在ks-installer没看到allinone部分

[2019-10-17 08:03] #262 closed

[2019-10-17 08:44] hequan2017 opened #295 "k8s 中 部署 kubesphere， sonarqube报错"
[WARNING]: provided hosts list is empty, only localhost is available. Note
that the implicit localhost does not match 'all'
PLAY [localhost] ***************************************************************
TASK [download : include_tasks] ************************************************
skipping: [localhost]
TASK [download : Download items] ***********************************************
skipping: [

[2019-10-18 06:19] #291 closed

[2019-10-18 09:44] rayzhou2017 opened #301 "单master不需要多个console pod"
* [ ] 只要不是HA环境，即使是单master的多节点部署，console也应该一个pod就够了
![Screen Shot 2019-10-18 at 5 43 05 PM](https://user-images.githubusercontent.com/28859385/67084068-da53e900-f1ce-11e9-98ea-a16daf86c8fa.png)

[2019-10-18 09:58] rayzhou2017 commented on #301
logging是不是也不需要两个？两个是为了loggingHA还是分片 @huanggze ?
![Screen Shot 2019-10-18 at 5 58 30 PM](https://user-images.githubusercontent.com/28859385/67085144-dfb23300-f1d0-11e9-8e77-9dcfab496086.png)

[2019-10-18 12:33] rayzhou2017 opened #305 "示例应用没有在应用list表里"
* [ ] 我部署了示例应用，但没有显示在应用表里

[2019-10-18 12:34] #305 closed

[2019-10-18 15:26] sheeplinjie commented on #23
真操蛋，网真尼玛慢，部署了快好几个小时了，镜像还没拉下来呢，操了

[2019-10-20 13:20] ysicing opened #307 "glusterfs 3.12源调整导致安装报错"
官方源目前有所调整
apt-key由`https://download.gluster.org/pub/gluster/glusterfs/3.12/rsa.pub`调整为了
`https://download.gluster.org/pub/gluster/glusterfs/01.old-releases/3.12/rsa.pub`
另外dev版本源存在问题
[code]

[2019-10-21 02:13] #199 closed

[2019-10-21 09:49] FeynmanZhou opened #312 "支持安装后对接外置的 SonarQube"
支持安装后对接外置的 SonarQube：

https://github.com/kubesphere/ks-installer/blob/master/src/kubesphere/roles/ks-installer/templates/ks-installer-config.yaml.j2

[2019-10-22 00:42] #307 closed

[2019-10-22 06:19] long0419 opened #317 "gke 安装手册"
你们有针对GKE 环境做安装的手册吗

[2019-10-23 03:13] FeynmanZhou commented on #317
@long0419 2.1 GA 了会适配 GKE 安装的

[2019-10-23 03:17] FeynmanZhou opened #324 "【2.0.2】gitlab+harbor 单独安装脚本Bug"
选的3，就用的不是local下面的hosts.ini了，脚本有 Bug
![image](https://user-images.githubusercontent.com/40452856/67354008-970ac900-f586-11e9-8a67-c30edfdf35c4.png)

[2019-10-23 06:41] ChangMuChen opened #326 "安装失败"
安装过程中，出现如下错误：
TASK [ks-devops/sonarqube : Sonarqube | Deploy Sonarqube] *********************************************************************************************************************************************************************************
Wednesday 23 October 2019  14:41:15 +0800 (0:00:00.275)       0:01:18.862 *****
fatal: [ks-allinone]: FAILED! => {"changed": true, "cmd": "/usr/local/

[2019-10-23 07:10] ChangMuChen opened #327 "安装心得"
很遗憾，我重复的安装了好几天，换了好几个环境，也没有安装成功。每当我解决了其中一个问题，总能遇到下一个问题。一直没有看到successful这个字样，总是看到failed。桑心...还在安装中...

[2019-10-23 07:11] ChangMuChen commented on #327
当我关闭sonarqube 的安装时，接下来又报了这个错误
TASK [ks-devops/jenkins : ks-devops | Getting ks-sonarqube svc nodeport] ******************************************************************************************************************************************************************
Wednesday 23 October 2019  15:06:16 +0800 (0:00:00.302)       0:02:38.295 *****
fatal: [ks-allinone]: FAILED! => {"changed": true, "cm

[2019-10-23 07:13] ChangMuChen commented on #101
这样虽然规避了sonarqube 无法安装的问题，但是却引来了新的问题，如下：
TASK [ks-devops/jenkins : ks-devops | Getting ks-sonarqube svc nodeport] ******************************************************************************************************************************************************************
Wednesday 23 October 2019  15:06:16 +0800 (0:00:00.302)       0:02:38.295 *****
fatal: [ks-allinone]: FAILED! => {"changed":

[2019-10-23 07:13] ChangMuChen commented on #101
这样虽然规避了sonarqube 无法安装的问题，但是却引来了新的问题，如下：
TASK [ks-devops/jenkins : ks-devops | Getting ks-sonarqube svc nodeport] ******************************************************************************************************************************************************************
Wednesday 23 October 2019 15:06:16 +0800 (0:00:00.302) 0:02:38.295 *****
fatal: [ks-allinone]: FAILED! => {"changed": true,

[2019-10-23 07:29] pixiake commented on #327
要关掉sonarqube的话需要在deploy中部署文件的config部分添加配置 `sonarqube_enable: False` ，不需要修改其他文件
https://github.com/kubesphere/ks-installer#configuration-table

[2019-10-23 08:43] ChangMuChen commented on #327
nice,修改完，安装成功！

[2019-10-23 08:43] #327 closed

[2019-10-23 08:47] pixiake commented on #326
出现这种错误一般是有FAILED状态的release，可以`helm  list`查看，然后使用`helm del --purge {release name}`删掉失败的release

[2019-10-24 04:56] inix commented on #23
centos 7.5本地离线安装报错：

[code]

[2019-10-24 05:54] FeynmanZhou commented on #173
说明文档有错误 deploy 目录没有kubesphere.yaml文件
-------
这个已在文档修复。

[2019-10-24 09:27] Wandering commented on #116
我也遇到了这个问题
一直卡在这里
![image](https://user-images.githubusercontent.com/11769582/67472306-7b391d00-f683-11e9-9dee-e5acce145d7c.png)

![image](https://user-images.githubusercontent.com/11769582/67472262-6d839780-f683-11e9-9d72-5bac1c07ced8.png)

[2019-10-25 00:55] #326 closed

[2019-10-25 04:08] runzexia opened #329 "qingclcoud ap2a centos7.5 install error"
[code]

[2019-10-25 04:09] runzexia commented on #329
/cc @pixiake

[2019-10-25 09:09] ethanxzw opened #333 "请问邮件模板是在哪里配置的？"
请问邮件模板是在哪里配置的？邮件中只有中文，还能设置成英文的？

[2019-10-25 09:33] FeynmanZhou commented on #333
@ethanxzw 目前还不支持自定义邮件模板。

[2019-10-25 18:23] Akdie opened #334 "kubesphere在线kubernetes部署失败"
1.system：

cat /etc/redhat-release

CentOS Linux release 7.7.1908 (Core)

2.kubernetes version：

kubectl version | grep Server

Server Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.3", GitCommit:"2d3c76f9091b6bec110a5e63777c332469e0cba2", GitTreeState:"clean", BuildDate:"2019-08-19T11:05:50Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"linux/amd64"}

3.helm version：

helm vers

[2019-10-25 22:03] Akdie commented on #23
vSphere 6.7u2平台：
1.all-in-one在线部署   ：成功
![image](https://user-images.githubusercontent.com/41593290/67606417-de809780-f7c8-11e9-8e89-de0c91106aae.png)

2.在 Kubernetes 在线部署 KubeSphere ：失败

基于terraform-vsphere-kubespray部署的kubernetes
https://github.com/sguyennet/terraform-vsphere-kubespray
[https://github.com/kubesphere/ks-installer/issues/334](url)

[2019-10-25 22:08] Akdie commented on #334
**Helm issus resolution:**

[code]

[2019-10-25 22:09] Akdie commented on #334
第二次出现问题：
TASK [metrics-server : Metrics-Server | Getting metrics-server installation files] ***

changed: [localhost]

TASK [metrics-server : Metrics-Server | Creating manifests] ********************

changed: [localhost] => (item={u'type': u'config', u'name': u'values', u'file': u'values.yaml'})

TASK [metrics-server : Metrics-Server | Installing metrics-server] *************

fatal: [localhost]:

[2019-10-25 22:09] Akdie commented on #334
第三次出现问题：
FAILED - RETRYING: ks-monitor | Installing prometheus-operator (5 retries left).

FAILED - RETRYING: ks-monitor | Installing prometheus-operator (4 retries left).

FAILED - RETRYING: ks-monitor | Installing prometheus-operator (3 retries left).

FAILED - RETRYING: ks-monitor | Installing prometheus-operator (2 retries left).

FAILED - RETRYING: ks-monitor | Installing prometheus-operator

[2019-10-27 05:46] pixiake commented on #334
config 中是否配置了storageclass

[2019-10-27 10:51] Akdie commented on #334
https://github.com/kubesphere/ks-installer/issues/23#issuecomment-546528093

有的，基于vsphere cloud provider的sc。
目测猜测应该是对于k8s版本支持的问题

[2019-10-28 00:50] long0419 commented on #317
期待！

[2019-10-28 09:02] hsdtsyl commented on #334
@pixiake
when set up, i met the same issue with error as shown up by Akdie,
the problem resolved by following this discussion;

[code]

why not update the install README.md by adding the following scripts:

[code]

you can edit and make some adjustment when somewhere wrong i expressed;  i hope this will make help for new commer to k8s and kubesphere;

[2019-10-28 09:23] Akdie commented on #334
@hsdtsyl
Thanks for your resolution given.

I have reviewd your resolution that related to helm rabc. But it may not just related to rabc role management and authentication due to errors disappeared when i use the same version helm client and server while the kubernetes cluster downgraded.

In last few days, 4 different deployment mode tests was done about kubesphere and figured out that kubespher

[2019-10-28 09:28] Akdie commented on #334
@pixiake

4.storageClass：

kubectl get sc

NAME PROVISIONER AGE

thin-disk kubernetes.io/vsphere-volume 10h

[2019-10-28 14:16] pixiake commented on #334
config 中要填下storageclass name

[2019-10-29 06:00] shaowenchen opened #340 "多节点安装，报错，ks-minio does not exist"
安装版本：2019-10-29
错误日志：

TASK [common : Kubesphere | Deploy minio] **************************************
fatal: [localhost]: FAILED! => {"changed": true, "cmd": "/usr/local/bin/helm upgrade --install ks-minio /etc/kubesphere/minio-ha -f /etc/kubesphere/custom-values-minio.yaml --set fullnameOverride=minio --namespace kubesphere-system", "delta": "0:05:00.502818", "end": "2019-10-29 04:01:51.342975"

[2019-10-29 06:28] #329 closed

[2019-10-29 09:09] huanggze commented on #301
单节点的话，是为了分片。如果只给一个 es 数据节点的话，需要把 pvc 配大一点

[2019-10-29 11:28] c4fun opened #345 "pipeline: Deploy to Kubernetes error"
Hi, I installed kubesphere on a 2-master-3-computer k8s cluster. And when I tried devops according to
[this link](https://kubesphere.io/docs/v2.0/zh-CN/quick-start/jenkinsfile-out-of-scm/). It always reminds me of this error:

[code]

What is the cause of this?
The virtual machine I deploy my kubernetes to have two IPs, a eIP and a LAN IP. Both IPs are accessible.  I deployed the k8s on the LAN IP

[2019-10-29 12:56] pixiake commented on #345
@runzexia

[2019-10-30 06:33] FeynmanZhou commented on #108
@benjaminhuo 不是资源占用角度，主要是 ca 证书 和 etcd 证书让安装过程变得相对较麻烦，有很多安装失败的原因就是因为证书配置不对。

[2019-10-30 07:03] runzexia commented on #345
https://github.com/kubesphere/kubesphere/issues/898
fix in 2.1.0

[2019-10-30 07:05] pixiake commented on #34
done

[2019-10-30 07:28] 13567436138 opened #355 "failed"
[code]

[2019-10-30 08:04] benjaminhuo commented on #34
👍

[2019-10-30 08:04] #34 closed

[2019-10-31 01:03] pixiake commented on #355
1. `helm list`查看  metrics-server 状态，如果为FAILED， `helm del --purge metrics-server`
2. 执行`helm upgrade --install metrics-server /etc/kubesphere/metrics-server  --namespace kube-system`重试

[2019-10-31 01:05] pixiake commented on #340
timed out waiting for the condition

可以按照下边链接配置机器防火墙规则：
https://github.com/kubesphere/ks-installer/blob/master/docs/NetWorkAccess.md

[2019-10-31 02:24] #355 closed

[2019-10-31 03:41] wangxu01 opened #357 "gitlab部署失败"
"stdout": "fatal: [localhost]: FAILED! => {\"attempts\": 3, \"changed\": true, \"cmd\": \"/usr/local/bin/helm upgrade --install ks-gitlab /etc/kubesphere/gitlab/gitlab-1.6.1.tgz -f /etc/kubesphere/gitlab/custom-values-gitlab.yaml --namespace kubesphere-devops-system\\n\", \"delta\": \"0:00:03.879925\", \"end\": \"2019-10-31 03:21:26.297449\", \"msg\": \"non-zero return code\", \"rc\": 1, \"start\"

[2019-10-31 06:09] rayzhou2017 opened #358 "precheck"
* [ ] HA needs to check if LB is configured
* [ ] only one default storage class is allowed

[2019-10-31 08:05] zhangjun050754 opened #359 "All-in-One 模式 在线版安装报错"
fatal: [ks-allinone]: FAILED! => {"changed": true, "cmd": "/usr/local/bin/helm upgrade --install ks-sonarqube /etc/kubesphere/sonarqube/sonarqube-0.13.5.tgz -f /etc/kubesphere/sonarqube/custom-values-sonarqube.yaml --namespace kubesphere-devops-system", "delta": "0:00:00.109389", "end": "2019-10-31 15:59:41.599830", "msg": "non-zero return code", "rc": 1, "start": "2019-10-31 15:59:41.490441", "st

[2019-10-31 09:36] #333 closed

[2019-10-31 09:54] wangxu01 opened #363 "已经部署成功了为什么 gitlab 404"
default backend - 404

# kubectl  get pod -n kubesphere-devops-system
NAME                                                       READY   STATUS      RESTARTS   AGE
ks-devops-db-ctrl-job-cwj9x                                0/1     Completed   3          30m
ks-devops-db-init-job-w5fdx                                0/1     Completed   0          30m
ks-gitlab-gitaly-0

[2019-10-31 09:55] #357 closed

[2019-10-31 09:55] wangxu01 commented on #357
sss

[2019-11-01 02:18] #363 closed

[2019-11-01 02:18] wangxu01 commented on #363
域名访问就行了

[2019-11-01 02:19] shaowenchen commented on #340
解决问题。

/close

[2019-11-01 02:20] #340 closed

[2019-11-03 07:42] Forest-L commented on #359
1、helm安装有问题，请再重新安装试试

[2019-11-05 08:56] huanggze opened #387 "fluent-bit v1.3.2 有大量 warn log 输出"
问题原因：原 1.0.x fluent bit 使用的 ConfigMap 中存在重复 kubernetes filter 配置，导致升级到 1.3.x 后有大量 warn level 日志输出

解决办法：删除多余项

问题截图：
![image](https://user-images.githubusercontent.com/22350668/68192911-0fdd3c80-ffed-11e9-9c4b-0b5e49118043.png)

![image](https://user-images.githubusercontent.com/22350668/68192939-1ff51c00-ffed-11e9-971f-5d6a138db6a8.png)

[2019-11-05 14:58] kissingtiger commented on #334
我也遇到同样的问题，请问楼主解决了吗？

[2019-11-05 15:40] Akdie commented on #334
https://github.com/kubesphere/ks-installer/issues/334#issuecomment-546861289

我的办法是使用低版本的k8s

[2019-11-06 00:54] kissingtiger commented on #334
请问你成功的k8s版本是哪个版本？
我的环境是：
k8s 1.13.10
helm 2.13.1

会出现下面的报错
FAILED - RETRYING: ks-monitor | Installing prometheus-operator (5 retries left).

FAILED - RETRYING: ks-monitor | Installing prometheus-operator (4 retries left).

FAILED - RETRYING: ks-monitor | Installing prometheus-operator (3 retries left).

FAILED - RETRYING: ks-monitor | Installing prometheus-operator (2 retries left).

FAILED - RETR

[2019-11-06 02:40] #387 closed

[2019-11-06 05:55] pixiake opened #389 "Design：lightweight installer based on container"
1.

[2019-11-06 06:14] Akdie commented on #334
@kissingtiger
我是用的kubesphere 2.0.2，k8s v1.13.5
helm我忘记了，应该是2.1x版本

[2019-11-06 08:31] Migo1989 opened #391 "登录界面如何接入公司内部的LDAP，kubesphere如何接入现有的metics-server"

[2019-11-06 09:39] zryfish opened #393 "kube-controller-manager service 与 leader election 有冲突"
https://github.com/kubesphere/ks-installer/blob/d59c1983bdef016f970afd9df406ef51a06824b9/roles/ks-monitor/files/prometheus/sources/prometheus-serviceKubeControllerManager.yaml#L1-L7

https://github.com/kubesphere/ks-installer/blob/d59c1983bdef016f970afd9df406ef51a06824b9/roles/ks-monitor/files/prometheus/sources/prometheus-serviceKubeScheduler.yaml#L1-L7

Monitor组件会在 kube-system 下创建 kube-controlle

[2019-11-06 10:03] huanggze commented on #391
metics-server 这是 k8s 替换的 heapster 组件。直接使用已有的就可以了把，应该不需要额外的接入操作

[2019-11-06 10:25] wnxn opened #395 "应该更新 qingcloud csi 镜像至 v1.1.0-rc.4"
https://github.com/yunify/qingcloud-csi/releases/tag/v1.1.0-rc.4，
installer 麻烦更新一下，安装方法没变化。yaml 安装文件和容器镜像变化了。
1. 修复扩容缺陷
2. storageclass 可以选填 stepsize，maxsize，minsize。

/assign @pixiake

[2019-11-06 10:38] shaowenchen opened #396 "upgrade 时，建议用户使用旧的 hosts.ini 覆盖配置"
版本：2.0.2 升级 2.1

问题：

当 2.1 配置文件 hosts.ini 中 node1、node2 的 IP 地址与 2.0.2 配置文件  hosts.ini 不一致时，升级终止，提示 IP 不匹配。

建议：

直接使用 2.0.2 的 hosts.ini 配置，进行升级。

[2019-11-06 10:52] shaowenchen opened #397 "升级之前，检测内存、CPU、磁盘余量、POD 数量是否满足要求"
版本：2.0.2 升级 2.1

问题：2.0.2 三台 8G8Core 的机器，升级 2.1 失败。原因是，内存跑满了，脚本执行超时，失败。升级机器配置之后，继续升级成功。

建议：升级之前，检查内存（安装时，陡增，安装完毕后下降）、CPU（增加不多）、磁盘（拉取了大量镜像，使用了几十个G），POD 剩余数量，是否能支持升级过程。

[2019-11-06 10:53] #234 closed

[2019-11-06 10:53] #196 closed

[2019-11-06 11:37] Migo1989 commented on #391
好的，谢谢。还有个疑问，怎么打通公司账号体系（LDAP）

[2019-11-07 00:52] shaowenchen opened #401 "allinone 版本 redis 采用 ha 部署，导致无法登陆"
版本：2.1-dev-20191107

问题：

redis 采用 HA 方式部署，失败。下面是具体日志：

[code]

[code]

[code]

预期：需要检查 redis 的部署配置，allinone 时，不用 HA 模式。

[2019-11-07 03:58] wnxn opened #406 "NFS storageclass 增加支持 nfsv3 参数"
[code]

[2019-11-07 07:58] huanggze commented on #397
my bad, wrong reference

[2019-11-08 07:15] wnxn commented on #406
archiveOnDelete 参数也要暴露到 vars.yaml ， 默认值为 “false”

[2019-11-08 08:31] #201 closed

[2019-11-08 08:31] benjaminhuo commented on #201
fixed

[2019-11-09 09:20] FeynmanZhou opened #437 "安装后，如何对接外部 ES"
安装完成后，开启日志组件的安装可否配置外置的 ES？
如下，我开始编辑 cm 后，没有看到外置 ES 的两个参数。是不是可以先安装日志，然后再到 UI 去修改日志接收者为外部 ES？

[code]

[code]
![image](https://user-images.githubusercontent.com/40452856/68526266-e38b2e00-0314-11ea-9d4b-9fbfb18804fe.png)

[2019-11-10 00:23] huanggze opened #440 "error while evaluating conditional (plugins.storage == 'openebs-hostpath'): 'plugins' is undefined"
My environment is a clean-slate k8s (installed via kubeadm) + NFS storage as default sc

![image](https://user-images.githubusercontent.com/22350668/68536783-51763a80-0393-11ea-963b-50fb3dc65836.png)

[2019-11-10 00:24] huanggze commented on #440
@pixiake @Forest-L

[2019-11-10 00:52] huanggze commented on #440
/help

[2019-11-10 00:56] pixiake commented on #440
要把存储填上   或者搞个default storage class

[2019-11-10 01:01] huanggze commented on #440
搞了。而且文档里不是说 default storage class 是 Optional 吗。。

![image](https://user-images.githubusercontent.com/22350668/68537034-75884a80-0398-11ea-8235-a41c7b2d9969.png)

[2019-11-10 01:49] huanggze commented on #440
重新跑了一遍，下载了最新的 installer，暂时没有发现问题

[2019-11-10 04:28] huanggze commented on #440
文档应该需要修改把 @FeynmanZhou

[2019-11-11 03:29] wnxn opened #460 "installer 新建 KS 时创建的存储类型应加上 access mode annotation"
完整的 annotations 示例。
[code]

每种存储类型 accessmode
qingcloud-csi, qingstor-csi, local: ReadWriteOnce
ceph rbd :"ReadWriteOnce","ReadOnlyMany"
nfs, glusterfs: "ReadWriteOnce","ReadOnlyMany","ReadWriteMany"

[2019-11-11 03:32] justahole commented on #460
配置格式

metadata:
  name: neonsan
  annotations:
    storageclass.kubesphere.io/supported_access_modes: '["ReadWriteOnce"]'

[2019-11-11 03:47] #460 closed

[2019-11-11 08:23] 331575886 opened #464 "http://192.168.120.19:5080/yum_repo/iso/repodata/repomd.xml: [Errno 14] curl#7 - "Failed connect to 192.168.120.19:5080; No route to host""
centos 7.5 集群部署出问题，
环境:
一台:taskbox
三台:master
两台:node

register-local,配置在taskbox上

[2019-11-11 10:23] pixiake commented on #464
192.168.120.19这个是tasksbox么？ 可以`docker ps`看下5080这个容器起来了没有，不过旧版本的离线部署用tasksbox的话可能会有些问题，需要手动处理

[2019-11-11 10:33] xianyuwu commented on #23
百度智能云 ubuntu18.04 安装成功。
![image](https://user-images.githubusercontent.com/22258895/68580558-942e3480-04b1-11ea-8bf0-f46561ac006c.png)
![image](https://user-images.githubusercontent.com/22258895/68580589-a27c5080-04b1-11ea-9536-d8c226d7af38.png)
因为BCC配置比较低，所以有很多服务没启动。

[2019-11-12 00:42] zhangpfly commented on #340
@shaowenchen 你好，想问一下最后是怎么解决的？我现在也遇到同样的问题了。
检查了一下防火墙，已经把selinux和Firewall关掉了。

TASK [common : Kubesphere | Deploy minio] **************************************
fatal: [localhost]: FAILED! => {"changed": true, "cmd": "/usr/local/bin/helm upgrade --install ks-minio /etc/kubesphere/minio-ha -f /etc/kubesphere/custom-values-minio.yaml --set fullnameOverride=minio --namespace kubesphere-system --wait --t

[2019-11-12 01:01] shaowenchen commented on #340
在防火墙添加，允许 IPENCAP / IPIP 协议

[2019-11-12 02:09] kerven88 opened #472 "旧版数据没清理干净，新版部署后进去原来关联的企业空间项目报错问题"
部署完V2.1新版后，登录console，发现之前旧版v2.0.2数据还存在，比如企业空间，企业空间关联的用户等，然后进去项目里面的Pod报错“502 Bad Gateway”。
![image](https://user-images.githubusercontent.com/51351006/68635736-6dfda880-0534-11ea-885f-7d070b5717ee.png)

![image](https://user-images.githubusercontent.com/51351006/68635790-984f6600-0534-11ea-8494-27f2d0461b5d.png)

![image](https://user-images.githubusercontent.com/51351006/68635681-47d80880-0534-11e

[2019-11-12 03:04] 331575886 commented on #464
19是task机器,docker ps   5000仓库是起来的,5080端口是没有起来的.
version: kubeshere v2.0.2

[2019-11-12 03:25] pixiake commented on #464
机器上有nginx:1.14-alpine的相关镜像吗？

[2019-11-12 05:52] 331575886 commented on #464
没有,我手动我手动起了个nginx,这个错通过了。

[2019-11-12 06:16] kerven88 commented on #472
好像跟Ng代理有关系，先关闭排查

[2019-11-12 06:16] #472 closed

[2019-11-12 06:17] #15 closed

[2019-11-12 06:17] #4 closed

[2019-11-12 07:08] zhangpfly opened #475 "多节点安装报错，Release "ks-minio" does not exist"
没有安装成功，卡在
Please wait for the installation to complete .....
The ks-installer is running
这个界面很长时间

日志显示
TASK [common : Kubesphere | Deploy minio] **************************************
fatal: [localhost]: FAILED! => {"changed": true, "cmd": "/usr/local/bin/helm upgrade --install ks-minio /etc/kubesphere/minio-ha -f /etc/kubesphere/custom-values-minio.yaml --set fullnameOverride=minio --namespace k

[2019-11-12 07:15] pixiake commented on #475
检查下存储的配置 ，应该是pvc  pending
kubectl   get   pvc  -n   kubesphere-system
然后descrbe 其中一个看看原因
存储调整好后，helm  del   --purge   ks-minio   ,然后重启ks-installer 的pod

[2019-11-13 00:54] zhangpfly commented on #475
问题已解决。查明是nfs挂载设置的问题，如果nfs权限设置不对，pvc创建的时候没有权限，就会中断。

[code]

修改配置后，重新执行安装流程就可以了
nfs配置如下
[code]

[2019-11-13 00:55] #475 closed

[2019-11-13 03:18] guanbear opened #477 "dockerhub.qingcloud.com Forbidden"
环境：某私有云内网环境，需要配置代理服务器访问网络。
从dockerhub.qingcloud.com 下载的image都会报错 forbidden，手动docker login一样报错

但是连官方的 docker hub 没有问题，也可以正常 docker login，不知道 dockerhub.qingcloud.com 有什么特殊的限制

docker login -u guest -p guest dockerhub.qingcloud.com
WARNING! Using --password via the CLI is insecure. Use --password-stdin.
Error response from daemon: Get https://dockerhub.qingcloud.com/v2/: Get https://dockerauth.qingc

[2019-11-13 08:53] pixiake commented on #477
应该是6000被你们的防火墙限制了

[2019-11-13 08:55] guanbear commented on #477
嗯有可能，该问题不具有普遍性，我先关了，谢谢

[2019-11-13 08:55] #477 closed

[2019-11-13 08:56] guanbear opened #479 "kubesphere/installRunner.py 报错"
安装的时候查看pod的日志：

命令 kubectl logs -n kubesphere-system $(kubectl get pod -n kubesphere-system -l app=ks-install -o jsonpath='{.items[0].metadata.name}') -f

发现installRunner.py 一直有如下报错，请问是什么原因呢？

Traceback (most recent call last):
  File "/hooks/kubesphere/installRunner.py", line 284, in <module>
    main()
  File "/hooks/kubesphere/installRunner.py", line 279, in main
    getResultInfo()
  File "/ho

[2019-11-13 09:01] guanbear commented on #479
现在的问题是 kubesphere-system 的pod都可以running了，但是过段时间会被installer再次部署。然后kubesphere的其他namespace的pod都没有部署

[2019-11-13 09:01] pixiake commented on #479
如何安装的呢？ 要先apply config文件哦~~

[2019-11-13 09:02] guanbear commented on #479
以下pod会被重新部署：
NAMESPACE                    NAME                                                              READY   STATUS        RESTARTS   AGE
kubesphere-system            ks-account-866488664f-d9w9p                                       1/1     Terminating   0          4m15s
kubesphere-system            ks-account-866488664f-mrt4r                                       1/1     Terminating   0

[2019-11-13 09:02] pixiake commented on #479
如果在配置文件中开启了其它功能 ，会重启这些pod生效

[2019-11-13 09:09] guanbear commented on #479
哦这样 ，但是现在就是没法安装成功了，感觉一直在陷入循环，我已经再准备删除，准备再尝试一次了。另外安装方式都是按照文档来的 config文件也apply了

[2019-11-13 09:12] pixiake commented on #479
看上边的报错应该是配置文件里的格式有问题，可以贴下配置文件怎么修改的么？

[2019-11-13 09:16] guanbear commented on #479
好的 ，这个是 config.yaml

---
apiVersion: v1
data:
  ks-config.yaml: |
    ---
    kube_apiserver_host: 127.0.0.1:6443
    persistence:
      storageClass: "openebs-cstor-disk-rep1"

    etcd:
      monitoring: True
      endpointIps: 10.224.44.223,10.224.44.224,10.224.44.225
      port: 2379
      tlsEnable: True

    common:
      mysqlVolumeSize: 20Gi
      minioVolumeSize: 20Gi
      etcdVolumeSize

[2019-11-13 09:18] guanbear commented on #479
这个是 kubesphere-installer.yaml
这个就改了最下面的ks-installer image,我去掉了检查k8s 版本的roles 然后重新build了下，我的kubernetes版本是1.16 但是我通过设置 api runtime-config 把缺失的api加上了。
---
apiVersion: v1
kind: Namespace
metadata:
  name: kubesphere-system

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: ks-installer
  namespace: kubesphere-system

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  cr

[2019-11-13 09:21] guanbear commented on #479
我再次部署 kubesphere-system 中的pod可以运行 ，但是installer还是在不停的再跑而且有installRunner.py的报错，其他namespace 都没有pod起来

[root@prod1 deploy]# kubectl  get pod -n kubesphere-system -o wide
NAME                                     READY   STATUS    RESTARTS   AGE     IP               NODE     NOMINATED NODE   READINESS GATES
etcd-779c89c557-jwn99                    1/1     Running   0          7m4s    10.233.94.71     pr

[2019-11-13 09:23] guanbear commented on #479
我发现了一个问题 是不是我apiserver配的不对，不应该配 127.0.0.1 我每个node都起了个nginx 反向代理 apiserver，做ha，可以配置127.0.0.1吗

[2019-11-13 09:26] guanbear commented on #479
我修改下 apiserver的配置再试下

[2019-11-13 09:27] pixiake commented on #479
是把preinstall那个role删掉了么？

[2019-11-13 09:27] guanbear commented on #479
没都删，只删了这部分：
- name: Stop if kuernetes version is nonsupport
  assert:
    that: kubernetes_version.stdout is version('v1.16.0', '<')
    msg: The current k8s version is not supported

[2019-11-13 09:32] pixiake commented on #479
可以开个teamviewer（tv 12）或者向日葵，把信息发到 kubesphere@yunify.com看下

[2019-11-13 09:35] guanbear commented on #479
好的 我改下apiserver配置再试下，再不行我发下远程信息，多谢多谢！

[2019-11-14 02:53] errorcode7 opened #480 "不支持helm3"
默认使用helm3，安装报错如下：
TASK [preinstall : check helm status] ******************************************
fatal: [localhost]: FAILED! => {"changed": true, "cmd": "/usr/local/bin/helm list\n", "delta": "0:00:00.698740", "end": "2019-11-14 02:46:29.347261", "msg": "non-zero return code", "rc": 1, "start": "2019-11-14 02:46:28.648521", "stderr": "Error: could not find tiller", "stderr_lines": ["Error: could

[2019-11-14 03:42] Forest-L commented on #480
通过描述，应该是通过ks-only方式部署的，
1、首先你要确保helm3安装正确；
2、helm3去掉了tiller服务端，但在机器上helm list是正确指令

[2019-11-14 05:28] guanbear commented on #479
原因找到了，apiserver那行不应该加，加了后格式和其他配置不一致导致解析错误。去掉就不报错了，怪我了，我close掉。

[2019-11-14 05:28] #479 closed

[2019-11-14 05:30] liangyuanpeng opened #482 "最简安装后如何启动 其他没有安装的组件"
![image](https://user-images.githubusercontent.com/28711504/68829146-d8ece200-06e2-11ea-9c08-abc151a1cb0d.png)

例如我想 启用 应用商店，支持在UI启动吗？或目前支持以任何方式启动吗

[2019-11-14 06:06] daiqingliang opened #483 "Default StorageClass was not found"
# kubernetes : 1.15.5
## 安装kubesphere2.1 的 yaml文件：
https://raw.githubusercontent.com/kubesphere/ks-installer/master/kubesphere-minimal.yaml
## 开始安装后，出现如下报错
[code]
出现了 Default StorageClass was not found !

## 查询默认存储
kubectl get sc
`
No resources found.
`
看了下yaml中StorageClass的配置是空， StorageClass不是可以为空吗？
我本地倒是搭了nfs，但是在官网中并未找到本地nfs如何在kubesphere安装的时候使用的教程。

[2019-11-14 06:26] daiqingliang commented on #480
# 用helm 2.14.3版本

## 安装helm
1.https://github.com/helm/helm/releases 下载2.14.3版本
helm-v2.14.3-linux-amd64.tar

2.复制到服务器

3.开始helm
```tar -zxvf helm-v2.14.3-linux-amd64.tar.gz```
```sudo mv linux-amd64/helm /usr/local/bin/helm```
#验证安装成功
```helm help```

## 安装tiller

vim tiller.yaml
[code]

#执行安装
```kubectl create -y tiller.yaml```
#用阿里云tiller镜像及tiller账户初始化helm, 将tiller部署到[k8s] deployment下.
```helm i

[2019-11-14 06:43] Forest-L commented on #483
1、ks-only模式需要自己建好sc；
2、用自己搭建好的nfs弄成sc，可以参考这https://forest-l.github.io/2019/07/23/k8s-default-Storage-Class%E6%90%AD%E5%BB%BA/           中的1.1.1 安装nfs-client-provisioner指令，注意：需要填写参数。

[2019-11-14 06:54] daiqingliang commented on #483
@Forest-L
那对于刚刚发布的2.1版本，如果不用ks-only模式安装？

[2019-11-14 07:03] Forest-L commented on #483
1、不用，就可以在common.yaml里面填nfs参数呢
2、参考文档设置下nfs为sc即可，两条指令呢，一条为sc，一条将sc改成default sc
3、在已有k8s环境下安装更快

[2019-11-14 08:12] pixiake commented on #482
https://github.com/kubesphere/ks-installer/blob/master/README_zh.md#%E5%AE%89%E8%A3%85%E5%8A%9F%E8%83%BD%E7%BB%84%E4%BB%B6

[2019-11-14 08:59] errorcode7 commented on #480
@Forest-L  @daiqingliang  谢谢！

[2019-11-14 09:01] daiqingliang commented on #480
@errorcode7 客气
/close

[2019-11-14 09:36] daiqingliang commented on #483
@Forest-L
sc我创建好了
[code]
但是，你们的说明文档里没写怎么来添啊，我去看了v2.0的文档也是看不明白
kubesphere-install-yaml 如下
[code]
我用的是nfs，上面的storageClass我应该填？

[2019-11-14 10:01] Forest-L commented on #483
1、搞成DefaultStorageClass，用kubectl patch方法；然后kubectl get sc 可以看到存储带有default字样。
2、不需要填什么参数，直接运行指令即可。(ps:如果你需要单独改也行，文档还在完善中)

[2019-11-14 10:29] pixiake commented on #483
https://github.com/kubesphere/ks-installer/blob/master/README_zh.md#%E5%8F%82%E6%95%B0%E8%AF%B4%E6%98%8E

[2019-11-14 12:14] #482 closed

[2019-11-15 05:32] daiqingliang commented on #483
@Forest-L @pixiake
谢谢两位，主要是你们2.1版本和2.0安装方式有一定区别，已经安装完成了

[2019-11-15 05:32] #483 closed

[2019-11-15 06:22] errorcode7 opened #487 "mini 安裝，启用istio失败"
[code]
执行
[code]
结果如下
[code]

[2019-11-15 06:24] errorcode7 commented on #487
反复试了几次还是这样， istio-init-crd-12没有跑起来。

[2019-11-15 06:56] daiqingliang opened #488 "Pod ks-apiserver报错：CrashLoopBackOff"
k8s版本：1.15.5
## 出现错误回顾
通过 **最小化快速部署** 安装完kubesphere，然后通过修改configMap来启用metric
[code]
保存之后，发现ks-apiserver出现问题，web界面无法访问，pod一直就是CrashLoopBackOff。
然后我又通过configMap关闭了metric，发现ks-apiserver仍然报错，无法恢复。

[code]

[2019-11-15 08:05] pixiake commented on #488
用kubectl logs xxx看下日志

[2019-11-15 08:12] pixiake commented on #487
先看看istio-init-crd-12这个job在不在，是不是执行失败了；helm list 看看istio-init正不正常，或者helm del --purge istio-init试试

[2019-11-15 08:17] daiqingliang commented on #488
[code]

[2019-11-15 08:33] pixiake commented on #488
@zryfish @wansir

[2019-11-16 12:36] pythonton opened #490 "公有云托管 K8S 部分组件（ks-apigateway、ks-console）副本数为 0"
RT，周鹏飞大锅已排查调度到 Master ，而公有云 Master 不开放；

`  spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - preference:
              matchExpressions:
              - key: node-role.kubernetes.io/master
                operator: In
                values:
                - ""
            weight: 100`

[2019-11-16 12:59] FeynmanZhou commented on #490
@pythonton 近期会调整 ks-installer ，支持在公有云托管 k8s 上一行命令部署。

[2019-11-17 23:59] errorcode7 commented on #487
[code]

[code]

[code]
[code]
删除了，怎么再启动？

[2019-11-18 08:42] pixiake commented on #487
修改下kubesphere-system下的ks-installer这个configmap会重新触发安装。

再安装的时候注意下istio-init-crd-12相关的pod，看看为啥会运行失败。

[2019-11-18 08:46] aiguanglee opened #491 "Table 'app.app' doesn't exist"
version: 2.1.0
先进行最小化安装，然后修改cm ks-installer 安装组件，完成之后进入应用商店一直显示
rpc error: code = Internal desc = describe resources failed: Error 1146: Table 'app.app' doesn't exist

[2019-11-18 09:34] zhaominhapple opened #492 "redis pending ldap pending"
redis 和ldap 无法启动

[2019-11-18 10:19] chenJz1012 commented on #17
redis处于pending如何解决？

[2019-11-19 02:18] liangyuanpeng opened #495 "k8s安装失败"
报错信息如下
[code]

[2019-11-19 08:16] pixiake commented on #492
检查存储

[2019-11-19 08:17] pixiake commented on #495
怎么样安装的呢？

[2019-11-19 08:21] zheng1 commented on #491
可以执行这个重新更新数据库

[code]

[2019-11-19 09:11] ethanxzw opened #496 "kubesphere部署成功后，应用商店未见任何应用"
kubesphere部署成功后，应用商店未见任何应用，手动添加本地应用仓库并同步后，应用商店中也未见应用。
![image](https://user-images.githubusercontent.com/41108414/69132684-800cb780-0aef-11ea-8d66-3b923cae3def.png)
![image](https://user-images.githubusercontent.com/41108414/69132730-99156880-0aef-11ea-9e6e-d59ba5fdb9bf.png)
![image](https://user-images.githubusercontent.com/41108414/69132773-aa5e7500-0aef-11ea-9c97-753694c42d0a.png)

[2019-11-19 09:21] liangyuanpeng commented on #495
1.使用openebs作为默认sc
2.run command ``kubectl apply -f https://raw.githubusercontent.com/kubesphere/ks-installer/master/kubesphere-minimal.yaml``
3.run command ``kubectl logs -n kubesphere-system $(kubectl get pod -n kubesphere-system -l app=ks-install -o jsonpath='{.items[0].metadata.name}') -f``

[2019-11-19 14:12] pengcong06 commented on #496
可能是job执行不成功,重新泡一下
kubectl get job hyperpitrix-release-app-job -n openpitrix-system -o json | jq 'del(.spec.selector)' | jq 'del(.spec.template.metadata.labels)' | kubectl replace --force -f

[2019-11-20 01:50] 331575886 opened #497 "请问v2.1.0中怎么通过离线的仓储安装"
2.1.0部署成功界面很清爽,集成度很高体验很好。关于在线部署起来我尝试了下，用时不稳定。
请问通过离线的仓储部署kubeSphere V2.1.0
host.ini 配置文件如下，我测试并没有生效还是从dockerhub上下载的镜像
[local-registry]
master01.cloud.cc

[2019-11-20 01:52] ethanxzw commented on #496
重跑一下job就好了。
`kubectl get job hyperpitrix-release-app-job -n openpitrix-system -o json | jq 'del(.spec.selector)' | jq 'del(.spec.template.metadata.labels)' | kubectl replace --force -f -
`
![image](https://user-images.githubusercontent.com/41108414/69202082-6b760100-0b7b-11ea-856d-b4d2467c1544.png)

[2019-11-20 01:52] #496 closed

[2019-11-20 01:57] 331575886 commented on #497
![image](https://user-images.githubusercontent.com/13176401/69202282-243c4000-0b7c-11ea-885c-93ab09593763.png)

[2019-11-20 04:52] #464 closed

[2019-11-20 09:58] tmachero opened #498 "集成已有promtheus exporer"
能否集成已有node-exporter

[2019-11-21 02:09] FeynmanZhou commented on #497
离线安装 installer 还在开发中，近期会开放

[2019-11-21 02:31] 331575886 commented on #497
@FeynmanZhou 好的。

[2019-11-21 07:39] huntunshule opened #499 "exiting because of error: log: cannot create log: open /tmp/kube-rbac-proxy.centos01.unknownuser.log.INFO.20191121-073531.18770: permission denied"
![image](https://user-images.githubusercontent.com/52652738/69316888-b0ca2980-0c74-11ea-88a1-c5ef32db934f.png)

![image](https://user-images.githubusercontent.com/52652738/69316914-be7faf00-0c74-11ea-99b1-4a57a6c6557d.png)
错误如图,尝试了五天都是这一个错误,用的是在k8s系统中创建kubeSphere-minimal.yaml,没有改动文件,请问这个权限的问题是在哪里造成的
18770 main.go:213] Generating self signed cert as no cert is provided

2019-11-21T07:35:31.19954567

[2019-11-21 08:15] huanggze commented on #499
我先看一下 kube-rbac-proxy 的源码 213 行

[2019-11-21 08:20] huanggze commented on #499
请问 kubesphere-monitoring-system 下是否有 node-exporter-token Secrets？

[2019-11-21 08:45] huanggze commented on #499
[code]

[2019-11-21 08:50] huntunshule commented on #499
![image](https://user-images.githubusercontent.com/52652738/69322012-102d3700-0c7f-11ea-9e38-e18dcaa4377d.png)

[2019-11-21 09:44] huntunshule commented on #499
[code]
这是之前的那个

[2019-11-21 09:44] huntunshule commented on #499
[code]
这是之前的那个

[2019-11-21 10:25] huanggze commented on #498
不保留 kubesphere 的 node-exporter 吗？这个恐怕不行，因为 kubesphere 的 node-exporter 做了一点计算性能优化

[2019-11-22 02:36] SemiLavender opened #501 "miniinstall openldap pod always restart"
intsaller: `kubectl apply -f https://raw.githubusercontent.com/kubesphere/ks-installer/master/kubesphere-minimal.yaml`
the describle: `kubectl describe pod -n kubesphere-system openldap-0`
Name:               openldap-0
Namespace:          kubesphere-system
Priority:           0
PriorityClassName:  <none>
Node:               k8s-master/192.168.1.3
Start Time:         Thu, 21 Nov 2019 11:29:25 +000

[2019-11-22 02:59] huanggze opened #502 "support to toggle off modules"
Once KubeSphere modules are enabled, it seems there is no way to remove those modules by tweaking installer configmap

[2019-11-22 03:56] SemiLavender commented on #501
the kubeSphere version is 2.1

[2019-11-22 05:27] huntunshule commented on #499
再kube-rbac-proxy的镜像的args里面加入`--logtostderr`,建议所有该镜像都加入该命令
完整的node-export如下:
[code]

[2019-11-22 06:17] #499 closed

[2019-11-22 07:24] huntunshule opened #503 "个人信息bug"
![image](https://user-images.githubusercontent.com/52652738/69406082-2a791a80-0d3c-11ea-996a-95bfea9da094.png)
更改邮箱没有用,一直是默认的

[2019-11-22 12:53] sbhnet commented on #480
实际是ks-install使用了helm v2，这样要求集群需要安装helm tiller,暂时可以登陆ks-install，通过内置的helm 用helm init向集群安装tiller，只要helm list返回正确就可继续安装。

[2019-11-22 13:08] sbhnet commented on #492
同样问题登陆到redis pod 和openldap pod看chown: Operation not permitted。使用的k8s 1.15.5 nfs默认存储类。 我单独在集群通过helm 安装redis 和openldap没有问题。

[2019-11-22 13:09] zryfish opened #504 "Install each component as helm chart"

[2019-11-22 13:10] zryfish opened #505 "Need a KubeSphere operator"

[2019-11-22 13:46] pixiake commented on #504
如果各功能组件完全分离，helm chart是最优雅的安装方法，目前看来全部chart化devops部分及logging部分需要调整优化

[2019-11-22 14:22] sbhnet commented on #501
kubeSphere version is 2.1 openldap & redis allways fail .
usr/local/bin/helm upgrade --install ks-openldap /etc/kubesphere/openldap-ha -f /etc/kubesphere/custom-values-openldap.yaml --set fullnameOverride=openldap --namespace kubesphere-system
/usr/local/bin/kubectl -n kubesphere-system apply -f /etc/kubesphere/common/redis.yaml

[2019-11-23 01:11] sbhnet commented on #480
经过实测登陆pod ks-install,删除pod现在自带的旧版本helm 2.10.0，重新安装helm v3，然后执行/hook/kubesphere下的部署基本也可以安装。

[2019-11-23 01:20] sbhnet commented on #492
经过分析是nfs server问题，需要在nfs server加入no_root_squash。只要存储类正确是可以起来的。

[2019-11-23 09:19] FeynmanZhou commented on #317
@long0419  See Install KubeSphere on GKE :

[2019-11-23 09:22] FeynmanZhou commented on #490
@pythonton

ks-installer 已对亲和性做了调整，支持了在公有云托管 k8s 上一行命令部署，我们在 GKE 做了测试，你可以参考在 TKE 上试试。安装成功与否请都在 issue 中帮忙跟进反馈你的安装结果

https://github.com/kubesphere/kubesphere/issues/1573

[2019-11-26 06:43] SemiLavender commented on #501
@sbhnet I cannot find the dir of `/etc/kubesphere`. I find the openldap installer command `{{ bin_dir }}/helm upgrade --install ks-openldap
    {{ kubesphere_dir }}/openldap-ha
    -f {{ kubesphere_dir }}/custom-values-openldap.yaml
    --set fullnameOverride=openldap
    --namespace kubesphere-system` in ansible playbook,  regreted , I do not know the facts `kubesphere_dir`.

[2019-11-27 06:44] ftlynx opened #509 "devops安装后管理界面无操作的按钮"
ks-install 的配置中enable了devops，并且全部安装成功了，但是在管理界面找到devops相关的操作地方呢。比如说创建之类的，是还有其它依赖组件需要安装吗
   devops:
      enabled: true
      jenkinsMemoryLim: 2Gi
      jenkinsMemoryReq: 1500Mi
      jenkinsVolumeSize: 8Gi
      jenkinsJavaOpts_Xms: 512m
      jenkinsJavaOpts_Xmx: 512m
      jenkinsJavaOpts_MaxRAM: 2g
      sonarqube:
        enabled: true

[2019-11-30 03:00] flyforfreedom commented on #1
我也是手动拉了一堆镜像。

[2019-11-30 05:47] Forest-L commented on #509
1、请参考下这个文档，https://kubesphere.io/docs/v2.1/zh-CN/introduction/intro/

[2019-11-30 17:09] kitsudog opened #511 "卡在download_file了"
试过了阿里云的机器腾讯云的机器都是卡在这步(ubuntu 18.04)
2.1 all_in_one 不改任何配置直接开始装
`
TASK [download : download_file | Download item] *******************************************************************************************************************************************************************
Sunday 01 December 2019  01:05:32 +0800 (0:00:00.046)       0:02:01.481 *******
`

自己的机器卡在
`
TASK [kubernetes/master : kube

[2019-11-30 18:43] kitsudog commented on #511
云服务器100m的带宽
下载卡住的时间远远不止说明中的20min左右
足足等了1.5h
[code]

[2019-11-30 18:46] kitsudog commented on #511
自己的机器2.0离线 又失败了

[code]

[2019-12-02 05:48] #509 closed

[2019-12-03 03:22] errorcode7 commented on #487
可以了，不好意思，这么晚才回复。

[2019-12-03 12:54] pixiake commented on #511
1. download_file卡主 ，可以看下上边下载文件的url，手动下载下试试
2 Initialize first master卡主一般是初始化超时，可以检查下防火墙配置

[2019-12-06 00:51] errorcode7 opened #515 "有污点的节点上无法启动node-exporter的daemonset副本"
建议node-exporter改为容忍全部
[code]

[2019-12-08 02:57] oliver-csu commented on #363
不行啊

[2019-12-09 09:46] leowucn opened #516 "请教如何生成ks-installer镜像"
已经看完了readme，仍然不清楚如何生成ks-installer镜像，请告知下，非常感谢！

[2019-12-09 12:27] #516 closed

[2019-12-09 14:39] puluto opened #517 "默认安装的Elasticsearch Curator 版本不兼容es7，需要升级到5.7及以上."
默认版本5.5系列只能支持到Elasticsearch 6.x
[curator5.5支持列表](https://www.elastic.co/guide/en/elasticsearch/client/curator/5.5/version-compatibility.html)

5.7版本开始支持Elasticsearch 7.x
[curator5.7支持列表](https://www.elastic.co/guide/en/elasticsearch/client/curator/5.7/version-compatibility.html)

可以升级一下默认版本，毕竟文档上说的支持外接es7.x

[2019-12-10 10:42] gavin-gy opened #518 "ks-apigateway Back-off restarting failed container"
1. multi-node install ok.
2.  run kubectl -n kubesphere-system  get pods :
NAME                                     READY   STATUS    RESTARTS   AGE
ks-account-d4c5cdf9d-4nth4               1/1     Running   0          65m
ks-apigateway-65dd54f989-rqjpl           0/1     Error     7          12m
ks-apiserver-6d7ddd7d-q9n5h              1/1     Running   1          77m
ks-console-6f7f75bb48-r545t

[2019-12-10 10:51] huanggze commented on #517
感谢反馈

[2019-12-11 11:52] 331575886 opened #519 "请问是否支持传统存储,如FC SAN,ISCSI数据落地苦难比较大"
如题

[2019-12-12 08:17] runzexia opened #520 "installer needs to add new components cert-manager"
https://cert-manager.io/docs/installation/kubernetes/

Currently kubebuilder2 uses cert manager to manage webhook related certificates. This component needs to be installed in the installer as a public component.
https://book.kubebuilder.io/cronjob-tutorial/cert-manager.html

[2019-12-12 08:19] runzexia commented on #520
/milestone 3.0.0
/milestone 2.1.1

[2019-12-13 09:52] simonxlh opened #521 "WHY disable monitoring enabled ?"
WHY disable monitoring enabled ？？？
这样如何集成以后的监控，通过Operator部署的Prometheus会与KubeSphere中的监控模块冲突

[2019-12-16 02:55] #520 closed

[2019-12-17 01:22] happywzy opened #522 "在k8s上在线安装完之后，都没有service，怎么访问呢？"
![image](https://user-images.githubusercontent.com/26290710/70956321-abfb6880-20ae-11ea-99f0-f966928333a5.png)
![image](https://user-images.githubusercontent.com/26290710/70956344-bddd0b80-20ae-11ea-9a85-6ca24e8d7093.png)
使用的是` kubectl apply -f https://raw.githubusercontent.com/kubesphere/ks-installer/master/kubesphere-minimal.yaml`

[2019-12-17 03:00] focusonit commented on #23
在金山云上安装2.02离线版，操作系统centos7.4，在etcd步骤出错：

TASK [etcd : Gen_certs | target ca-certificate store file] ***************************************************************************
Tuesday 17 December 2019  08:50:10 +0800 (0:00:00.119)       0:01:08.026 ******
ok: [node1]
ok: [node2]

TASK [etcd : Gen_certs | add CA to trusted CA dir] ********************************************************************

[2019-12-17 05:18] xyzsss commented on #521
Operator部署过Prometheus，也会部署 node exportor ,现在导致触发一系列类似NodeExporterDown 告警  ...

[2019-12-17 09:05] #522 closed

[2019-12-17 10:09] zryfish commented on #488
@daiqingliang 你的集群是不是没有按照 metrics-server ，你看下 kube-system 下是否有 metrics-server

然后执行 `kubectl get apiservice | grep metrics` 看下是否有结果

[2019-12-18 06:31] simonxlh commented on #521
@xyzsss  是的，我现在是修改了一下镜像，关闭了监控模块

[2019-12-23 08:17] tmachero commented on #498
也就是说 kubesphere原生的node-exporter是这边自定义过的，ui部分用到了一些metrics的数据？

[2019-12-23 09:58] jaminlu commented on #504
helm chart

[2019-12-25 01:58] pog2g opened #526 "能否更新k8s版本支持"
* 在1.17上安装报错，日志如下：
[code]

* 能否更新支持最新版本

[2019-12-25 06:38] jaminlu commented on #504
kubesphere项目ks-account、ks-console组件已经用helm charts实现了，结合CI/CD可以实现流水作业，
helm install --namespace=kubesphere-system --name=ks-console .
helm install --namespace=kubesphere-system --name=ks-account .  helm部署脚本。

ks-account:
├── charts
├── Chart.yaml
├── templates
│   ├── deployment.yaml
│   └── service.yaml
└── values.yaml

values.yaml:
[code]

[2019-12-25 06:40] jaminlu commented on #504
deployment.yaml
[code]

service.yaml
[code]

[2019-12-25 06:56] pixiake commented on #504
ks-core这些组件可以放到一个chart里

[2019-12-25 09:15] jaminlu commented on #504
有些组件做了定制，是单独更新某个组件服务，所以分开了

[2019-12-27 03:42] caiwenhao opened #528 "部署不支持helm v3"
fatal: [localhost]: FAILED! => {"changed": true, "cmd": "/usr/local/bin/helm list\n", "delta": "0:00:00.381256", "end": "2019-12-27 03:16:56.458315", "msg": "non-zero return code", "rc": 1, "start": "2019-12-27 03:16:56.077059", "stderr": "Error: could not find tiller", "stderr_lines": ["Error: could not find tiller"], "stdout": "", "stdout_lines": []}

[2019-12-28 05:24] szbjb opened #529 "点击应用仓库报错"
Internal Server Error
rpc error: code = Internal desc = describe resources failed: rpc error: code = Unavailable desc = all SubConns are in TransientFailure, latest connection error: connection error: desc = "transport: Error while dialing dial tcp 10.0.0.68:9113: connect: connection timed out"
![image](https://user-images.githubusercontent.com/34825299/71539311-5740d300-2975-11ea-8f9d-c0bf868d4fc

[2020-01-01 09:29] weiliang-ms opened #531 "deployments/ks-gitlab-gitlab-exporter 中busybox镜像拉取策略"
deployments/ks-gitlab-gitlab-exporter 中busybox镜像拉取策略能否变更为IfNotPresent
场景：offline
离线安装方式安装的时候其他镜像拉取策略基本都为IfNotPresent，只有这个是Always

[2020-01-01 10:29] weiliang-ms opened #532 "ldap接入问题"
参考以下文章接入公司内部Ldap
[ldap接入](https://kubesphere.com.cn/docs/v2.1/zh-CN/installation/ldap-ad/#___gatsby)

![image](https://user-images.githubusercontent.com/18642754/71640367-787e2800-2cc3-11ea-8c90-6191888aaa0b.png)
查看pod日志
![image](https://user-images.githubusercontent.com/18642754/71640370-8764da80-2cc3-11ea-852f-34ffc07c6eee.png)
redis状态
![image](https://user-images.githubusercontent.com/18642754/

[2020-01-01 10:30] weiliang-ms commented on #532
请问有什么排查的方向吗？

[2020-01-02 02:52] zhangpfly opened #534 "etcd : Check_certs，执行安装脚本，master节点到这一步失败"
系统环境：centos7  4核8G*3（1m 2w）
在使用安装脚本安装时，报错，退出
[code]

[2020-01-02 02:54] pixiake commented on #534
ansible版本是什么呢？自己安装的ansible吗？建议使用   ansible 2.7.12

[2020-01-02 02:55] zhangpfly commented on #534
# ansible --version
ansible 2.9.1
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default, Apr  9 2019, 14:30:50) [GCC 4.8.5 20150623 (Red Hat 4.8.5-36)]

[2020-01-02 02:56] pixiake commented on #534
还不支持2.9.x    建议换成2.7.12    pip  install  ansible==2.7.12

[2020-01-02 02:56] zhangpfly commented on #534
是yum安装的ansible
如果在执行脚本之前，没有提前安装ansible，会提示找不到ansible-playbook

[2020-01-02 02:57] pixiake commented on #534
嗯  把ansible换成2.7.12应该就可以了

[2020-01-02 03:01] pixiake commented on #528
installer的pod中还是helm2的版本，且应用商店功能还不支持helm3，持续改进中，后续版本会支持的

[2020-01-02 03:03] pixiake commented on #526
由于当前版本中有些组件还依赖旧的api版本，所以无法支持1.16+的k8s，持续改进中，后续版本会支持新的k8s版本

[2020-01-02 03:06] pixiake commented on #519
k8s支持的存储都是可以的

[2020-01-02 03:10] wansir commented on #532
@weiliang-ms
`kubectl -n kubesphere-system logs ks-account-xxxxx -c ad-sidecar` 检查一下日志

[2020-01-02 03:18] wansir commented on #518
@gavin-gy
可以检查一下 kubesphere-sytem 下 redis svc 的连通性, 确认一下防火墙配置
https://kubesphere.com.cn/docs/v2.1/zh-CN/installation/port-firewall/

[2020-01-02 03:21] johdandc commented on #518
try "iptables -F"

[2020-01-02 03:39] zhangpfly commented on #534
还是不行，同样的报错
[code]
ansible版本
[code]
同样的系统环境，在其它主机上测试的没问题

能看下从哪里进行排查吗？

[2020-01-02 04:02] pixiake commented on #534
Jinja2是什么版本   执行下   `pip install -U Jinja2`  再重试下应该就可以了

[2020-01-02 08:29] weiliang-ms commented on #532
感谢，ldap配置的问题，现在已经开始同步了

[2020-01-02 09:13] pengcong06 commented on #529
去openpitrix-hyperpitrix-deployment-665cf858d7-znrkf这个pod里边 netstat -tnpl 看看9113端口的状态

[2020-01-03 01:04] #532 closed

[2020-01-03 07:04] zhangpfly commented on #534
Jinja2重装后已解决

[2020-01-03 07:04] #534 closed

[2020-01-03 08:08] zhangpfly opened #537 "ansible执行安装失败，master : Create kubeadm token for joining nodes with 24h expiration (default)"
安装环境：centos7
主机：4核8G*3

问题描述：
在使用安装脚本安装时，一直卡下下面步骤
TASK [kubernetes/master : Create kubeadm token for joining nodes with 24h expiration (default)]

如下：
[code]

重试了几次还是不行。执行unintall.sh，重新执行install.sh也不行

主机配置文件如下：
[code]

安装时，主机防火墙已关闭。
麻烦看一下

[2020-01-03 09:33] weiliang-ms opened #538 "登录成功后没有重定向至主页"
![image](https://user-images.githubusercontent.com/18642754/71716258-0cc8c600-2e4f-11ea-99c9-af8c236853cd.png)

需要手动删除端口号的/login 才会进入系统主页

[2020-01-03 09:36] weiliang-ms commented on #538
![image](https://user-images.githubusercontent.com/18642754/71716378-7fd23c80-2e4f-11ea-92a7-0d27c0f63809.png)

[2020-01-03 11:07] Leboudin opened #539 "jaeger 版本需要更新到 1.14.0+ 来支持 ES 7"
当前版本是 1.13.1, 无法创建索引. 详见 [jaeger issue #1474 Support Elasticsearch 7.x](https://github.com/jaegertracing/jaeger/issues/1474)

-----

自行升级版本后问题可以解决

[2020-01-05 03:11] shaowenchen commented on #539
/area microservice
/assign @zryfish

[2020-01-05 03:20] shaowenchen commented on #538
正常登陆时，应该是这样：

![image](https://user-images.githubusercontent.com/43693241/71774607-208a3e80-2fad-11ea-8097-0c007f8a6af4.png)

建议：
1，换个浏览器试下。
2，查看登陆之后的第一个请求，是否带上了登陆信息。

/area console
/assign @leoendless

[2020-01-05 03:31] shaowenchen commented on #537
这里的安装分为两个主要步骤：
1，使用 KubeSpray 安装 Kubernetes
2，安装 KubeSphere

可以关注、试下 KubeSpray  Issues 中的讨论方案：

https://github.com/kubernetes-sigs/kubespray/issues/4606

/assign @pixiake

[2020-01-05 12:33] leoendless commented on #538
相同用户的连续登录会进入上一次的页面

[2020-01-06 01:34] weiliang-ms commented on #538
换了chrome，执行以下操作：
1、手动清除cookie
2、访问ip:30880后 重定向至/login

![image](https://user-images.githubusercontent.com/18642754/71789659-51c74500-3067-11ea-8b7e-1b84e6a1eaa6.png)
应该是登录成功了，但是不知道为什么又302到/login了

手动去掉/login访问，进入主页
![image](https://user-images.githubusercontent.com/18642754/71789723-bbdfea00-3067-11ea-984b-d7304b1ccfa3.png)

[2020-01-06 01:36] weiliang-ms commented on #538
客户端 手动清楚cookie再次登录也不可以吗？

[2020-01-06 02:28] leoendless commented on #538
你这个问题挺奇怪的，按道理登录正常会 redirect 到 / 页面，如果出现 403 错误才会回到 login 页面，可以用 chrome 浏览器试下吗

[2020-01-06 03:14] weiliang-ms commented on #538
我用的深度系统自带的chrome会有影响吗？

[2020-01-06 03:20] weiliang-ms commented on #538
![image](https://user-images.githubusercontent.com/18642754/71793123-66f7a000-3076-11ea-8211-ee717f9a6b8f.png)
换了windows的chrome还是不行。
每次重新登录的时候，服务端的session会覆盖掉吗？

[2020-01-06 03:38] leoendless commented on #538
可以看下 ks-apigateway 的日志在登录后是什么 api 导致了 403
或者提供下远程方式发到我邮箱(leoliu@yunify.com)远程下看看吧

[2020-01-06 03:54] zhangpfly opened #540 "安装卡在了Initialize first master"
系统环境：centos7 4核8G*3

执行安装脚本报错如下：

[code]

master启动的容器
[code]

docker信息
[code]

master节点，iptables
[code]

麻烦看一下问题原因。非常感谢。

[2020-01-06 03:57] zhangpfly commented on #540
端口信息
[code]

[2020-01-06 08:35] #528 closed

[2020-01-06 09:18] weiliang-ms commented on #538
![image](https://user-images.githubusercontent.com/18642754/71808320-7d1e5400-30a8-11ea-93a5-e776be1c0eef.png)
这个是截取的登录日志

[2020-01-06 09:22] wansir commented on #538
@weiliang-ms  节点之间的时间没有同步，存在误差

[2020-01-06 09:34] weiliang-ms commented on #538
确实是这个问题，我这边做模板机的时候，配置时钟同步的函数好像没有执行。
感谢！

[2020-01-06 09:34] #538 closed

[2020-01-06 09:47] huanggze commented on #515
fixed in 2.1.0

/close

[2020-01-07 01:48] pog2g commented on #526
helm3了，，希望这个也搞定下。。现在大部分都在用3了

[2020-01-07 04:19] PYIsOk opened #541 "all-in-one在线安装使用本地私服metrics-server这个pod起不来"
2.1版本 All-in-one安装metrics-server这个pod起不来，describe发现如下图所示
![错误](https://user-images.githubusercontent.com/37820823/71868128-d4bfcc80-3147-11ea-9b84-a648167b8f61.jpg)

请问一下在哪里修改能够将image的地址gcr.azk8s.cn/google_containers/metrics-server-amd64:v0.3.1修改为本地私服地址？

[2020-01-07 08:00] pixiake commented on #540
检查下机器的防火墙

[2020-01-07 08:07] pixiake commented on #541
` kubectl edit cm ks-installer -n kubesphere-system`
添加参数
`metrics_server_repo: xxx/metrics-server-amd64`

[2020-01-07 08:08] pixiake commented on #537
可以检查下集群的防火墙设置

[2020-01-07 10:00] PYIsOk commented on #541
还是没起作用

[2020-01-08 02:36] zhangpfly commented on #537
跟防火墙配置没有关系。安装之前，已经把防火墙规则全部清理了。

问题已解决，参考https://github.com/kubernetes-sigs/kubespray/issues/4606。操作流程如下

1.  分别执行下面两个命令
cd kubesphere-all-v2.1.0
# 执行reset.yml
ansible-playbook --flush-cache -i conf/hosts.ini k8s/reset.yml --become -u root
# 执行cluster.yml
ansible-playbook --flush-cache -i conf/hosts.ini k8s/cluster.yml --become -u root

执行完成，成功后，实际已经是安装了k8s集群，但是相关组件是没有安装的

但是执行完成后，执行./scripts/insta

[2020-01-08 02:36] #537 closed

[2020-01-08 03:14] weiliang-ms opened #542 "查看容器日志服务端异常"
![image](https://user-images.githubusercontent.com/18642754/71947359-938ef180-3207-11ea-8664-c6dc93dbb8c7.png)
type: circuit_breaking_exception, reason: [parent] Data too large, data for [<http_request>] would be [1103025432/1gb], which is larger than the limit of [1103023308/1gb], usages [request=0/0b, fielddata=0/0b, in_flight_requests=603/603b, accounting=1103024829/1gb]

请问这个是配置导致的么？

[2020-01-08 03:15] weiliang-ms commented on #542
参考地址
https://kubesphere.com.cn/docs/v2.1/zh-CN/platform-settings/output-fluentd/

[2020-01-08 03:48] weiliang-ms commented on #542
查了下好像 是es jvm的问题，尝试修改 sts/elasticsearch-logging-data  好像还是不行，请问是修改的地方不对吗？

![image](https://user-images.githubusercontent.com/18642754/71948892-9b9d6000-320c-11ea-952d-0a5bcdfe2e7c.png)

[2020-01-08 05:12] hawking-lab opened #543 "安装完成后如何修改网络模式"
默认配置为：kube_network_plugin: calico

安装完成后：如何修改为flannel

[2020-01-08 07:46] calvinyv opened #544 "Feature: Support IPv6 mode"
The big effort should be validate all components should work under ipv6 mode, including cni, devops... etc

[2020-01-08 07:47] calvinyv commented on #544
/assign @pixiake @benjaminhuo @runzexia @zryfish @zheng1 @wansir @wnxn
pls evaluate if could support that in 3.0.0

[2020-01-10 05:42] #542 closed

[2020-01-10 08:20] #541 closed

[2020-01-12 07:10] huanggze opened #545 "Centos 8 多节点安装报错"
部署 1 master 1 node 青云 Centos 8 主机，提示 node 节点找不到 /usr/bin/python

![image](https://user-images.githubusercontent.com/22350668/72215379-792d7e80-354d-11ea-9345-8fb24dc337d2.png)

 尝试在 node 节点手动安装与 master 同版本的 python 2.7.15 后再次安装仍报错

![image](https://user-images.githubusercontent.com/22350668/72215446-995d3d80-354d-11ea-9882-f2e305fe84ad.png)

![image](https://user-images.githubusercontent.com/223506

[2020-01-12 08:15] huanggze opened #546 "扩容 master 支持"
详见论坛提问 https://kubesphere.com.cn/forum/d/604-master/5

[2020-01-12 10:27] pixiake commented on #545
暂不支持centos 8

[2020-01-13 05:43] 1753939775 commented on #17
# 遇到了相似的问题，ks-account一直初始化失败
 kubectl get pod -n kubesphere-system
NAME                                     READY   STATUS     RESTARTS   AGE
ks-account-d4c5cdf9d-bsnbr               0/1     Init:0/2   0          3m49s
ks-account-d4c5cdf9d-jzwsw               0/1     Init:0/2   0          137m
ks-account-d4c5cdf9d-ws65l               0/1     Init:0/2   0          132m
ks-apigateway-65dd54f989-52cr

[2020-01-13 05:48] wansir commented on #17
@1753939775 可以看看这个 https://github.com/kubesphere/kubesphere/issues/1555

[2020-01-13 11:18] huanglei288766 opened #547 "k8s上部署ks，无法安装openpitrix"
[code]
我在现有k8s平台上部署ks，已经配置了CA，测试openpitrix功能时候遇到了该问题。

[2020-01-13 11:35] zhbitzwz opened #548 "最小安装登录时候报401授权失败"
安装方式：
kubesphere-minimal最小化安装 KubeSphere
问题：
k8s上安装kubesphere成功，登录的时候报401 Unauthorized，账户密码确认没输错，日志如下：
`
kubectl get pod -n  kubesphere-system
NAME                                     READY   STATUS    RESTARTS   AGE
ks-account-d4c5cdf9d-fn224               1/1     Running   0          85m
ks-apigateway-65dd54f989-nzjhl           1/1     Running   5          85m
ks-apiserver-6d7ddd7d-xzrfp

[2020-01-13 11:46] #547 closed

[2020-01-13 12:03] #548 closed

[2020-01-14 11:59] #515 closed

[2020-01-15 02:42] #517 closed

[2020-01-19 03:12] Old-Camel opened #561 "请问kubesphere-system中的kubesphere-config是在哪里初始化的"
![image](https://user-images.githubusercontent.com/22683201/72674005-96fa6680-3aac-11ea-8f0f-7ca0dae28869.png)

[2020-01-21 09:40] F-liuhui commented on #175
遇到了同样的问题，请问怎么解决？还请恢复

[2020-01-21 09:59] F-liuhui opened #573 "在k8s集群上安装ks2.1.0，启动组件遇到的问题"
原k8s集群没有.csr和.key格式的文件，只有.pem格式的文件，例如kube-ca.pem和kube-ca-key.pem文件,要启动devops组件，secret要如何创建？看到有人提过同样的问题，但一直没得到回复。遇到问题得不到解答不利于ks的推广，希望能得到回复。

[2020-02-03 08:44] mayuhope opened #580 "安装完2.1.1的installer之后，版本号仍是2.1.0"
测试步骤：
1、安装2.1.1的installer；
2、安装结束后，查看关于中的版本号，发现仍是2.1.0，需要更新为2.1.1
![image](https://user-images.githubusercontent.com/7677050/73638034-936a0080-46a4-11ea-9f59-63c8f3f129fb.png)

[2020-02-04 03:05] Forest-L commented on #573
证书可以参考下如下方式：
[code]

[2020-02-04 03:46] Forest-L commented on #580
Fixed at https://github.com/kubesphere/ks-installer/pull/578

[2020-02-04 03:47] Forest-L commented on #580
/kind need-to-verify

[2020-02-04 05:45] #573 closed

[2020-02-05 02:13] #580 closed

[2020-02-05 13:13] pixiake commented on #561
https://github.com/kubesphere/ks-installer/blob/master/roles/ks-core/prepare/templates/kubesphere-config.yaml.j2

[2020-02-09 15:56] pog2g opened #597 "etcd集群监控失败--endpointIps写成域名"
如果etcd endpointIps写成域名监控将获取不到etcd节点信息，写成ip正常

[2020-02-10 03:38] pog2g opened #599 "能否提供镜像更改镜像地址"
能否提供更改镜像地址和你们项目里面提供下载相关或者基础镜像压缩文件。

[2020-02-10 03:42] FeynmanZhou commented on #597
@pog2g 也就是说 etcd 监控的问题，已经解决了是么

[2020-02-10 03:44] pog2g commented on #597
对的，，就是要写成ip，不能写成域名。。就害怕有的集群写的是hosts中的域名。。我不知道这算不算bug

[2020-02-10 03:45] pog2g commented on #597
对的，，就是要写成ip，不能写成域名。。就害怕有的集群写的是hosts中的域名。。我不知道这算不算bug

[2020-02-10 05:36] pog2g opened #601 "mysql、redis等公共组件能否自定义"
mysql、redis等公共组件能否自定义。本身集群就安装有，，为啥部署kubesphere还要安装一个，，非常占用资源。希望能增加使用外部配置选项

[2020-02-10 10:39] pog2g opened #603 "devops一直失败不知道啥子原因"
devops一直失败不知道啥子原因，日志结果：
![image](https://user-images.githubusercontent.com/48884933/74142821-9af55080-4c34-11ea-8a81-0d3de79ce829.png)

[2020-02-10 10:42] pog2g opened #604 "istio有两个容器一直这样问下这个端口是哪里的"
istio有两个容器一直这样问下这个端口是哪里的，怎么一直失败了

![image](https://user-images.githubusercontent.com/48884933/74142956-e3147300-4c34-11ea-9211-e5383deb28a7.png)
![image](https://user-images.githubusercontent.com/48884933/74143035-02130500-4c35-11ea-880e-c4b581312767.png)

[2020-02-10 12:32] pog2g opened #605 "关闭某些组件，组件对应pod并没有关闭"
实现步骤：
1.部署打开某些组件
2.通过kubectl edit cm ks-installer -n kubesphere-system关闭某些组件
3.服务组件已经发下没有服务组件了。。但通过kubectl get pod --all-namespaces查看pod还在，，或者通过管理界面查看项目进入发现pod还运行

比如服务中查看确认没有日志相关的

![image](https://user-images.githubusercontent.com/48884933/74151123-6ab6ad80-4c46-11ea-8c1f-47a46ca882a3.png)

但是项目中确实还在
![image](https://user-images.githubusercontent.com/48884933/74150723-79509500-4c45-11ea-934b-5c0

[2020-02-10 15:53] pixiake commented on #605
目前不支持卸载，可以手动删除这些对应的workload

[2020-02-10 15:58] pixiake commented on #604
这个需要安装logging组件支持

[2020-02-10 16:03] pixiake commented on #603
可通过helm list检查组件状态
可以先删除ks-jenkins，之后重启ks-installer
`helm del  --purge  ks-jenkins`

[2020-02-10 16:05] pixiake commented on #601
暂不支持，不过可以通过修改ks-installer相关配置代码，可对接已有公共组件

[2020-02-10 16:08] pixiake commented on #599
镜像列表可参考：https://kubesphere.com.cn/forum/d/149-kubesphere-v2-1-0

[2020-02-10 16:10] pixiake commented on #597
写成域名的话，pod中也要做对应的域名解析，需要你的dns服务器中配置相关规则

[2020-02-11 05:09] pog2g opened #608 "后期能否提供雷士dashboard的通过命名空间查看各种资源状态"
后期能否提供类似dashboard的通过命名空间查看各种资源状态，就是dashboard中的概览。。当前虽然项目中能看到，，但希望在项目列表中不点击进去就知道某个项目的容器运行大概情况。。

还有就是不能查看所有命名空间大致状况

这是我的一个简单的想法

![image](https://user-images.githubusercontent.com/48884933/74212487-67b3cf80-4ccf-11ea-8640-0e3168bf2f41.png)

[2020-02-11 08:15] guoh1988 opened #609 "创建多个promethus但是他们之间的数据并不同步"
修改kubesphere-minimal.yaml当中prometheusReplicas副本到2
prometheusReplicas: 2
会创建多个promethus但是他们之间的数据并不同步，这样使用正常吗，后续会不会影响到告警等

[2020-02-11 08:18] pog2g opened #610 "编辑外网访问系统能设置端口"
服务中编辑外网访问希望能提供设置端口，，而不是默认生成。虽然可以修改。。但希望这个地方能直接设置

![image](https://user-images.githubusercontent.com/48884933/74220248-077e5700-4cea-11ea-9e6e-5578f0b3d101.png)

[2020-02-12 05:24] pog2g opened #615 "后期平台设置是否有支持扩展"
目前平台设置智能设置邮箱，，比如是否可以自定义扩展支持短信发送之类的。。资源报警选择短信发送通知

[2020-02-12 07:56] yunkunrao opened #616 "kubesphere-all-2.1.1-dev安装包升级失败"
环境：
os: ubuntu 16.04
硬件配置: 8C16G
安装模式: allinone
初始ks: 2.1.0

实际结果：升级失败，upgrade.sh脚本显示执行成功，并且k8s升级到1.16.6，但是ks的各个组件还是使用的是2.1.0的img。

预期结果: 升级成功，upgrade.sh脚本显示执行成功，并且k8s升级到1.16.6，并且ks的各个组件的镜像更新至2.1.1。

[2020-02-12 13:29] zheng1 opened #618 "Cannot upgrade from 2.1.0 to 2.1.1-dev"
![截屏2020-02-1221 27 47](https://user-images.githubusercontent.com/4156721/74339242-ad12f280-4dde-11ea-878b-c4a56ef6c8ad.png)

[2020-02-12 13:52] zheng1 commented on #618
重复执行upgrade.sh后成功

[2020-02-12 14:02] zheng1 opened #619 "2.1.0升级2.1.1-dev之后修改ks-installer失效"
升级成功之后，我修改了ks-installer这个ConfigMap，观察ks-installer对应pod的日志，看到有报错，推测后续没有执行成功。

![截屏2020-02-1222 01 44](https://user-images.githubusercontent.com/4156721/74341845-696eb780-4de3-11ea-9406-48dce2b01342.png)

[2020-02-12 14:11] zheng1 commented on #618
![截屏2020-02-1222 11 13](https://user-images.githubusercontent.com/4156721/74342580-a9826a00-4de4-11ea-96ec-52b358497615.png)

[2020-02-12 14:18] zheng1 commented on #619
猜测是升级导致storage_class为空，于是将其修改为local。观察ks-installer日志，还是有异常

![截屏2020-02-1222 16 36](https://user-images.githubusercontent.com/4156721/74343029-5fe64f00-4de5-11ea-88e4-003e7a39a5a4.png)

在两个不同的环境中皆是如此

![截屏2020-02-1222 18 04](https://user-images.githubusercontent.com/4156721/74343168-93c17480-4de5-11ea-9d61-2dc5efd798b9.png)

[2020-02-13 03:26] zheng1 commented on #619
这个还没有修改，升级之后还是有问题
![截屏2020-02-1311 25 53](https://user-images.githubusercontent.com/4156721/74398762-ab374680-4e53-11ea-9b83-daff41294632.png)

[2020-02-13 03:46] pixiake commented on #619
common里边存储是如何配置的？

[2020-02-13 03:54] zheng1 commented on #619
默认配置文件，没有修改过

[code]

[2020-02-13 03:56] pixiake commented on #619
升级时存储要跟原来配置一致，local_volume_enabled默认值应该是true

[2020-02-13 04:03] zheng1 commented on #619
2.1.1把这个默认值修改了吗？

[2020-02-13 04:07] pixiake commented on #619
嗯   最好用对应版本的配置文件   不同版本会有相应修改

[2020-02-13 05:37] pixiake commented on #619
https://github.com/kubesphere/ks-installer/pull/624

[2020-02-13 08:40] yunkunrao commented on #616
This issue was fixed with latest kubesphere-all-2.1.1-dev package.

[2020-02-13 08:42] #616 closed

[2020-02-15 02:00] huanggze commented on #609
是不同步的。多个 Prometheus 副本不是一个分布式集群，是各自独立运行、独立采集计算数据

[2020-02-19 01:20] calvinyv commented on #601
/close

[2020-02-19 01:20] #601 closed

[2020-02-19 01:24] #301 closed

[2020-02-19 01:24] #279 closed

[2020-02-19 01:25] #179 closed

[2020-02-19 01:25] #178 closed

[2020-02-20 05:40] zheng1 commented on #619
/close

[2020-02-20 05:40] #619 closed

[2020-02-21 16:02] pog2g opened #647 "单节点k8s安装出问题"
在已经存在的单节点k8s中安装处问题，，即设置storageClass为空安装失败，，但定义local storageClass又一直pending,这个怎么处理

[2020-02-22 05:42] jaminlu opened #648 "kubesphere 2.1监控不到外置的etcd，数据无法显示"
![image](https://user-images.githubusercontent.com/32287480/75087256-e5ea5e80-5578-11ea-88ff-9dd6af7b8ba9.png)
外置的etcd集群是带证书的，
监控配置如下：
    etcd:
      monitoring: True
      endpointIps: 172.21.3.105,172.21.2.176,172.21.2.211
      port: 2379
      tlsEnable: True

[2020-02-22 09:33] cnicy opened #649 "调度策略（taints未生效）"
现有一个k8s集群有三个master节点，三个节点均已设置：Taints:             node-role.kubernetes.io/master:NoSchedule ，但是在安装过程中还是有相关组件调度到master节点上，是不是ks-installer有其他设置会调度到master。

kubesphere]# kubectl describe node master01
Name:               master01
Roles:              master
Labels:             beta.kubernetes.io/arch=amd64
                    beta.kubernetes.io/os=linux
                    kubernetes.io/arch=amd64

[2020-02-23 07:45] cnicy commented on #649
找到了，Tolerations策略会调度到master。

[2020-02-23 07:45] #649 closed

[2020-02-24 07:19] shizgchina opened #662 "升级到 2.1.1 时，原本用 cm 方式追加的组件没有被程序保留，在升级后的环境里消失了。"
2.1.0 升级到 2.1.1 的过程存在一个风险，例如，我在 2.1.0 是最小化模式安装，然后通过 cm 追加了各种组件。由于这个 cm 没有同步修改 common.yaml，导致操作者在比对 2.1.0 common.yaml 和 2.1.1 的 common.yaml 时可能发现不了那些仍保持为 false 的组件（而实际上 2.1.0 的环境里是已经追加了的），使得升级完成后，原本追加成功的组件反而消失了，一升回到解放前。

建议：
1 - 让程序自动识别已经安装了的组件，别覆盖；
2 - 让程序同步更新 cm 里的配置和 common.yaml 里的配置，这样就从根本上解决了此问题，例如当操作者用 cm 模式成功追加组件后，程序自动向 common.yaml 里也同步相关的配置。

[2020-02-24 09:38] hsdtsyl commented on #662
excelente，subscribed this issue

[2020-02-24 10:07] pixiake commented on #647
1. 集群中有默认存储吗？（default storageclass）
2. 集群中创建了名为local的storageclass吗？

[2020-02-24 10:08] pixiake commented on #648
是否对外部etcd证书配置了对应的secret

[2020-02-25 00:45] hsdtsyl commented on #662
updated ks into 2.1.1 just now, download `kubesphere-minimal.yaml` and modify `ConfigMap` to match the exist, then apply to upgrade;
---
fine for me

[2020-02-25 07:38] mrhjx2 opened #664 "helm工具问题"
镜像没有说明
Tiller配置TLS证书问题
默认是没有TLS，
配置了TLS的Tiller就无法正常安装

[2020-02-25 22:39] pog2g commented on #647
@pixiake 创建了存储，但不是默认存储，名称也不是local，意思必须是local或者定义为默认才行吗？？？

[2020-02-26 13:57] pog2g opened #665 "单节点无法安装，提示没有默认存储"
1.看文档只要,这个配置不填写就会使用本地存储，，但实际在已经存在的k8s单节点中安装kubesphere根本没法安装，直接提示没有存储。即官网说的这个字段不填写就使用本地存储
[code]

[2020-02-26 13:59] pog2g commented on #647
@pixiake 并且你们文档说了如果这个字段不填写
[code]
就会使用本地存储，，但实际是在已经存在的单节点k8s中根本没法安装。

[2020-02-26 14:09] pixiake commented on #647
@pog2g 集群中必须要有存储，如果有被定义为default的存储类型（default  storageclass），这个参数可以不填，如果需要指定存储类型，则需要填写storageclass name

[2020-02-26 14:11] pixiake commented on #665
这个参数不填的话，使用默认存储类型：
https://github.com/kubesphere/ks-installer/blob/master/README_zh.md#%E5%8F%82%E6%95%B0%E8%AF%B4%E6%98%8E

[2020-02-26 14:12] pog2g commented on #647
@pixiake 那请教下能提供你们All-in-One单节点模式安装的本地存储生成yaml文件吗？？？？

[2020-02-26 14:13] pog2g commented on #665
@pixiake 请教下能提供你们All-in-One单节点模式安装的本地存储生成yaml文件吗？？？？

[2020-02-26 14:24] pixiake commented on #665
如果已经创建了存储的话  这里填storageclass  name就行

如果要用本地存储的话可以参考https://github.com/openebs/openebs

[2020-02-26 14:25] pog2g commented on #665
好的，，谢谢

On Feb 26, 2020, at 10:24 PM, pixiake <notifications@github.com<mailto:notifications@github.com>> wrote:

如果已经创建了存储的话 这里填storageclass name就行

如果要用本地存储的话可以参考https://github.com/openebs/openebs

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/kubesphere/ks-installer/issues/665?email_source=notifications&email_token=A

[2020-02-26 16:22] pog2g opened #666 "完全单节点安装api server监控数据出不来"
单节点安装2.1.1 api server的监控数据出不来，，其他正常。
docker:19.03.5
k8s:v1.17.3

![image](https://user-images.githubusercontent.com/48884933/75364633-fd1da900-58f6-11ea-87c4-9cffd792c7fd.png)

[2020-02-28 09:26] Forest-L commented on #666
@pog2g  刚开始没有触发，数据为0，一段时间之后有数据的，如果问题不存在，麻烦close
![image](https://user-images.githubusercontent.com/50984129/75532254-3f59fe00-5a4f-11ea-9749-79afe14ac481.png)

[2020-02-28 09:32] pog2g commented on #666
我已经跑了三天了依然不存在，，还有我自己定义了个角色项目管理和应用管理都是全部授权，，但是在项目管理点击进去要看具体项目内容居然不能看，，但是可以删除整个项目。。。不知道这个怎么回事

角色信息
[cid:4D64AD5A-9131-4593-BA71-098D25C3E04F]
[cid:9D5472A0-C9F6-482F-9187-39450AB285DF]
登录后这个地方不能操作

[cid:910A9AEB-106C-429B-98DF-46DC01524F20]

第三天运行结果：还是没有监控，，我实在自己已经存在的k8s上安装的单节点
[cid:ED4B1ADE-13C6-49E3-BE3B-47FE37F15B10]

版本信息以及安装信息
[cid:E6E524FA-DDD8-4329-90C8-6950E1B8E571]

On Feb 28, 2020, at 5:2

[2020-02-28 09:46] pog2g opened #670 "自定义角色有问题"
1. 我自定义了角色，，权限所有都勾选。。但是项目管理只能删除，，不能查看，，即不能点击进入项目里面(就是不能查看名门空间内容)

![image](https://user-images.githubusercontent.com/48884933/75537116-674a6100-5a51-11ea-94cd-25e2db2cfd62.png)
2. 这个地方也进不去
![image](https://user-images.githubusercontent.com/48884933/75537275-ad072980-5a51-11ea-8eef-8187050c0efa.png)

3. 如果这些都进不去，，那自定义角色中的项目管理(授权查看和管理)和应用管理(授权查看和管理)，这个权限意义何在(难道只能删除，不让看东西的删除具体内容？？？？？)

[2020-02-28 09:47] #665 closed

[2020-02-28 10:08] pog2g commented on #666
@Forest-L
1. 显示时残酷的，我已经跑了三天了依然不存在，，不知道为啥。。我连坐标轴都没有出现。
需要我提供什么日志吗？？？？但目前没发现什么异常。。。
2. 这是我的版本
![image](https://user-images.githubusercontent.com/48884933/75539355-12a8e500-5a55-11ea-9342-277252908d03.png)
3. 坐标轴都没有
![image](https://user-images.githubusercontent.com/48884933/75539462-3704c180-5a55-11ea-96b7-9fd82613a866.png)

[2020-02-28 11:04] huanggze commented on #666
能打印一下日志看看嘛？

kubectl logs -n kubesphere-monitoring-system prometheus-k8s-system-0 prometheus

看看有没有关于 apiserver 的报错

[2020-02-28 11:16] pog2g commented on #666
@huanggze 有error级别的信息，下面就是所有的日志
[code]

[2020-02-28 12:06] dlhf opened #671 "使用k8s 1.17.3安装时，ks-installer一直无法正常工作"
2020-02-28T12:02:35Z INFO     : HTTP SERVER Listening on 0.0.0.0:9115
2020-02-28T12:02:35Z INFO     : shell-operator v1.0.0-beta.5
2020-02-28T12:02:35Z INFO     : Use temporary dir: /tmp/shell-operator
2020-02-28T12:02:35Z INFO     : Initialize hooks manager ...
2020-02-28T12:02:35Z INFO     : Search and load hooks ...
2020-02-28T12:02:35Z INFO     : Load hook config from '/hooks/kubesphere/instal

[2020-02-28 12:18] huanggze commented on #666
没看出什么问题。你能把 kubesphere-monitoring-system 项目下的无头服务的 prometheus-k8s-system 改成 NodePort 类型吗？把 Prometheus Console 界面打开来调试看看

是以下步骤打开 NodePort:
[code]

![image](https://user-images.githubusercontent.com/22350668/75548093-5b699980-5a67-11ea-88ea-24f8700ffee7.png)

然后你在你的浏览器里把 <node_ip>:<node_port>打开。去 Prometheus 控制台【Status】>【Targets】 页面，看看有没有debug信息

![image](https://user-images.githubusercontent.com/22

[2020-02-28 12:38] Forest-L commented on #671
@dlhf  refer to this issue https://github.com/kubesphere/kubesphere/issues/1561

[2020-02-28 12:48] Forest-L commented on #670
/assign @wansir

[2020-02-28 12:56] Forest-L commented on #664
/assign @pixiake @Forest-L

[2020-02-29 12:48] pixiake commented on #671
metrics.k8s.io/v1beta1这个不正常
如果环境里装了metrics-server，需要这个api正常才可以
可以执行`kubectl get apiservices`查看这个api状态

[2020-02-29 12:56] pixiake commented on #664
暂不支持开启tls的helm部署，部署时可以先关掉helm的tls，部署成功后再开启。
也欢迎提交pr帮助解决这个问题，或者自行修改相关文件，并重新build镜像解决。
解决思路，使用helm证书创建secret，然后挂载到ks-installer

[2020-03-01 01:31] pog2g commented on #666
* 这是所有的截图
![image](https://user-images.githubusercontent.com/48884933/75617804-1ea0be00-5b9f-11ea-8afb-0216ae6476e2.png)
![image](https://user-images.githubusercontent.com/48884933/75617808-23fe0880-5b9f-11ea-89dc-94d7f04aa57c.png)
![image](https://user-images.githubusercontent.com/48884933/75617810-28c2bc80-5b9f-11ea-90f7-446192123e7b.png)

*
最后发现与api-server相关的监控都没有数据，比如监控--概要----服务组件监控：
api-serv

[2020-03-01 09:27] pog2g opened #675 "2.1.1整个系统基于企业空间和rbac的权限有很严重的问题(其他版本没试)"
整个系统基于企业空间和rbac的权限有很严重的问题包括自定义角色和使用现有(除cluster-admin以外的)角色，具体情况看论坛(写了好久就不搬过来了)，地址

https://kubesphere.com.cn/forum/d/847-2-1-1

[2020-03-01 16:04] #675 closed

[2020-03-02 09:29] hawking-lab opened #677 "安装失败"
查看Pod状态：
kube-system         tiller-deploy-6d97d6b85c-rbq4t                 1/1     Running            1          46m
kubesphere-system   ks-installer-7d9fb945c7-mf25g                  1/1     Running            1          41m
kubesphere-system   minio-845b7bd867-thf67                         0/1     CrashLoopBackOff   9          38m
kubesphere-system   minio-make-bucket-job-z5sz7

[2020-03-02 11:55] Forest-L commented on #677
@hawking-lab
1、检查下minio服务的pv是否创建成功。kubectl get pv -n kubesphere-system;
2、如果存在则重新部署下minio服务，先scale为0，然后再为1。
kubectl scale deployment -n kubesphere-system minio --replicas=0

[2020-03-03 07:50] #488 closed

[2020-03-16 06:17] zhangpfly opened #682 "安装日志显示没问题，ks-account服务初始化失败，无法登陆"
安装环境：GKE 1.0.4  centos7，4核6G*3

GKE配置：
[code]

pod状态：
[code]

sc pv pvc
[code]

日志状态：
![image](https://user-images.githubusercontent.com/17722518/76728133-d1247380-6790-11ea-838c-c4e437602d12.png)

[2020-03-16 06:20] zhangpfly commented on #682
我看了一下ldap服务没有启动
[code]

用的安装命令是：
[code]

[2020-03-16 07:19] zhangpfly commented on #682
删除RKE集群 重新安装已解决

[2020-03-16 07:19] #682 closed

[2020-03-17 07:15] currycan commented on #664
这个问题其实解决也很简单，可以支持tls的，了解网络的连通性，helm tls原理就行。贴上我的yaml，如下：
[code]

[2020-03-21 10:58] hzw114223338 opened #685 "ks-account-596657f8c6-kh5t8 出现 Init:0/2，登录不上"
kubectl logs -n kube-system coredns-5644d7b6d9-rflxh

.:53
2020-03-21T10:27:18.966Z [INFO] plugin/reload: Running configuration MD5 = 1537695a7e690c95be85eb3cf1da8341
2020-03-21T10:27:18.966Z [INFO] CoreDNS-1.6.2
2020-03-21T10:27:18.966Z [INFO] linux/amd64, go1.12.8, 795a3eb
CoreDNS-1.6.2
linux/amd64, go1.12.8, 795a3eb
2020-03-21T10:27:18.967Z [ERROR] plugin/errors: 2 4439000312338080009.155488020

[2020-03-23 10:57] wangshengjin123 opened #686 "安装失败"
初次安装，直接按照文档执行的
ks-install的日志显示如下：
TASK [preinstall : check helm status] ******************************************
fatal: [localhost]: FAILED! =&gt; {"changed": true, "cmd": "/usr/local/bin/helm list\n", "delta": "0:00:02.192319", "end": "2020-03-23 09:24:18.408247", "msg": "non-zero return code", "rc": 1, "start": "2020-03-23 09:24:16.215928", "stderr": "Error: transport is closing", "stderr_line

[2020-03-23 10:58] wangshengjin123 commented on #686
难道第一步用官方镜像的  的是helm版本和我虚拟机helm版本不一致？ 明天改下看看

[2020-03-23 11:07] pixiake commented on #685
Has the coredns configmap been modified ？
`kubectl get cm -n  kube-system coredns -o yaml`

[2020-03-24 07:28] wangshengjin123 commented on #686
是k8s的helm用了tls，重新安装非安全模式，这一步跳过去了

[2020-03-24 10:06] wangshengjin123 commented on #686
后面还碰到 ks-openlab，ks-openldap，istio-init安装失败
helm del --purge xx 删除重新安装
失败就再删再重装。。。安装完成
新增插件servicemesh
下一个报错jaeger-query和jaeger-collector不能起来，连接不到es，在kubesphere的issue中找到，更换外部的es地址，kubectl -n istio-system edit jaegers.jaegertracing.io jaeger
或者在kubesphere-logging-system安装一个svc为elasticsearch-logging-data的es

[2020-03-24 10:06] wangshengjin123 commented on #686
太难了

[2020-03-24 10:06] #686 closed

[2020-03-24 13:41] hzw114223338 commented on #685
hello,my config like this
apiVersion: v1
data:
  Corefile: |
    .:53 {
        errors
        health
        ready
        kubernetes cluster.local in-addr.arpa ip6.arpa {
           pods insecure
           fallthrough in-addr.arpa ip6.arpa
           ttl 30
        }
        prometheus :9153
        cache 30
        loop
        reload
        loadbalance
    }
kind: ConfigMap
metadata:
  creat

[2020-03-25 01:52] pixiake commented on #685
You can configure coredns according to the following.  But  make sure the address in `/etc/resolv.conf` is available.
[code]

[2020-03-25 06:11] F-liuhui opened #687 "ksdevops工程安装一直不成功"
用rancher搭建的k8s集群，离线部署kubesphere时devops工程一直部署失败，报错的意思大概是证书创建不了什么的，导致ks-account组件一直启动不了，无法登陆，请问这个问题怎么解决？

[2020-03-25 06:23] F-liuhui commented on #687
报错信息：
{\"changed\": true, \"cmd\": \"/bin/bash /etc/kubesphere/s2i/certs.sh
--service webhook-server-service --namespace kubesphere-devops-system
--secret webhook-server-secret \\n\", \"delta\": \"0:00:13.161828\", \"end\":
\"2020-03-25 03:57:12.595237\", \"msg\": \"non-zero return code\", \"rc\": 1,
\"start\": \"2020-03-25 03:56:59.433409\", \"stderr\":
\"Generating RSA private key, 2048 bit long

[2020-03-28 10:44] hzw114223338 commented on #685
hello, can i add your QQ? my QQ number : 153606468

[2020-03-31 01:40] pixiake commented on #687
https://github.com/kubesphere/kubesphere/issues/1970

[2020-03-31 01:40] #687 closed

[2020-03-31 01:41] pixiake commented on #685
https://github.com/kubesphere/kubesphere/issues/1555

[2020-04-01 09:42] gdzy1987 opened #688 "PVC IS NOT FOUND"
TASK [common : Kubesphere | Check mysql PersistentVolumeClaim] *****************
fatal: [localhost]: FAILED! => {"changed": true, "cmd": "/usr/local/bin/kubectl get pvc -n kubesphere-system mysql-pvc -o jsonpath='{.status.capacity.storage}'\n", "delta": "0:00:00.968086", "end": "2020-04-01 09:36:12.151036", "msg": "non-zero return code", "rc": 1, "start": "2020-04-01 09:36:11.182950", "stderr": "E

[2020-04-04 13:37] Forest-L commented on #688
@gdzy1987  The result is ignoring

[2020-04-09 07:52] why2lyj opened #690 "GRC国内镜像源不可用，无法在线安装"
这两天（2020年4月7日开始至发帖时） gcr.azk8s.cn、quay.azk8s.cn 出现 403 Forbidden。
对于 main.yml 中的配置的上述镜像地址无法拉取对应镜像，会导致在线安装失败。
针对这种国内的情况，除尝试使用离线版本外，ks是否有对应的其他计划？
同时离线版本是否考虑可以支持CentOS版本至7.8及以上？
期待回复

[2020-04-10 03:34] klj890 opened #691 "When installing, modify the kubelet startup parameters"
Can intelligently modify kubelet startup parameters.
For example, memory.available can be adjusted by the actual size of the node.

[2020-04-12 06:10] rayzhou2017 opened #692 "run the install.sh in background"
Since user may encounter ssh timeout issue, it is recommended to provide a way to install in background like `nohup bash install.sh all-in-one &`. But the current installer requires to answer questions. So I think it may be good to add a parameter `-y` like yum install package. So user can type `nohup bash install.sh -y all-in-one &` to skip the questions.

[2020-04-12 16:27] pixiake commented on #692
OK.  The ansible-based K8S installer may be abandoned due to more software dependency issues. We are developing a new installer with golang.

[2020-04-15 01:54] Forest-L commented on #691
/assign

[2020-04-18 06:18] 593769290 opened #693 "kubesphere-all-offline-v2.1.1.tar.gz 离线包 看来少了 flannel 的镜像哦, 只能默认 calico ？"
修改common.yaml 网络插件类型，flannel，安装多节点模式，
kube_network_plugin: flannel

有补救方法吗？ flannel 需要哪些镜像，手动补回去。

2020-04-18 13:09:24,698 p=16068 u=xxxxxx | TASK [download : download_container | Download image if required ( 192.168.1.202:5000/coreos/flannel-cni:v0.3.0 )] *******************************************************************
2020-04-18 13:09:24,698 p=16068 u=xxxxxx | Saturday 18 April 2020 13:09:24

[2020-04-18 06:33] Forest-L commented on #693
If you want to choose flannel network mode, You can download coreos/flannel:v0.11.0 and coreos/flannel-cni:v0.3.0

[2020-04-18 07:20] 593769290 commented on #693
好的，找到了这两个

 docker.io/kubesphere/flannel:v0.11.0  docker.io/kubesphere/flannel-cni:v0.3.0

[2020-04-18 08:20] Forest-L commented on #693
Note: docker tag

[2020-04-18 15:06] 593769290 opened #694 "kubesphere-all-offline-v2.1.1.tar.gz 离线包安装的集群，又是缺少镜像吗？"
kubesphere-all-offline-v2.1.1.tar.gz 离线包安装的集群，发现master一直报下面的错误，又是缺少镜像吗？  192.168.1.202:5000/google-containers/hyperkube:v1.16.7   ？

[code]

[2020-04-18 15:15] 593769290 commented on #694
kubectl edit cm -n kubesphere-system ks-installer  -- 修改组件 enable 状态竟然也没有反应，奇怪了。

[2020-04-19 10:18] 593769290 commented on #694
其他人是否有遇到 这个日志？

[2020-04-27 09:43] #543 closed

[2020-04-27 09:44] #677 closed

[2020-04-30 03:46] shaowenchen opened #698 "Migrate DevOps data from 2.1.1 to 3.0.0"
/milestone 3.0.0
/cc @pixiake

[2020-04-30 03:48] shaowenchen opened #699 "Install DevOps on 3.0.0"

[2020-04-30 07:20] #599 closed

[2020-04-30 07:20] #597 closed

[2020-04-30 07:21] #561 closed

[2020-04-30 07:21] #605 closed

[2020-04-30 07:21] #603 closed

[2020-05-09 03:31] wnxn opened #703 "Install Snapshot Controller and Snapshot CRD"
For Kubernetes v1.17+, our installer need to install Snapshot Controller and Snapshot CRD.

- https://github.com/kubernetes-csi/external-snapshotter#usage

[2020-05-12 06:22] calvinyv opened #705 "Feat: support qingcloud hostnic cni plugin"
https://github.com/yunify/hostnic-cni

[2020-05-12 06:22] calvinyv commented on #705
@pixiake @zheng1 @duanjiong could this happen in 3.0.0?

[2020-05-12 06:23] calvinyv opened #706 "Feat: add an installation option of deploying ks with kata container"

[2020-05-12 07:56] zheng1 commented on #705
I think support in 3.1 would be better.

[2020-05-19 07:03] #690 closed

[2020-05-19 07:38] zheng1 opened #714 "Feat: change Docker to containerd"
Docker and NFS may cause kubelet "NotReady", so we have to change docker to containerd if we cannot find another better way.

Ref: https://github.com/kubernetes/kubernetes/issues/74135#issuecomment-469710463

[2020-05-29 09:38] BrucePeng92 opened #725 "Install kubesphere on v1.17.5"
**kubectl version:**
`Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3", GitCommit:"06ad960bfd03b39c8310aaf92d1e7c12ce618213", GitTreeState:"clean", BuildDate:"2020-02-11T18:14:22Z", GoVersion:"go1.13.6", Compiler:"gc", Platform:"linux/arm64"}
Server Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.5", GitCommit:"e0fccafd69541e3750d460ba0f9743b90336f24f", GitTr

[2020-06-01 06:09] BrucePeng92 commented on #725
kubectl  v1.17.3 is worked.

[2020-06-01 06:09] #725 closed

[2020-06-02 14:03] tingkai-zhang commented on #23
Hi, coming from the english documentation. Would it be better if we can change the issue title and content to be in English?

[2020-06-05 11:55] FeynmanZhou opened #744 "Missing image google-containers/ubuntu-nvidia-driver-installer"
The image `google-containers/ubuntu-nvidia-driver-installer` is not existed in KubeSphere DockerHub, it caused the failed installation when users enable the Nividia driver installation. Please upload it to DockerHub.

[2020-06-06 15:01] pixiake commented on #744
kubesphere/ubuntu-nvidia-driver-installer:20200605

It is recommended to install the gpu driver by yourself according to the official website of nvidia.

[2020-06-12 07:33] hawking-lab opened #767 "K8S 环境安装报错"
1、 使用kuberspary 创建的双master k8s 集群、在线最小安装kubesphere 进报错
`TASK [common : Kubesphere | Deploy openldap] ***********************************
fatal: [localhost]: FAILED! => {"changed": true, "cmd": "/usr/local/bin/helm upgrade --install ks-openldap /etc/kubesphere/openldap-ha -f /etc/kubesphere/custom-values-openldap.yaml --set fullnameOverride=openldap --namespace kubesphere-system\n", "delta": "0:00:

[2020-06-15 09:07] BlueSky-YJS opened #774 "在已有k3s 集群上部署ks-account 和 ks-apigateway运行不正常"
1.    ks-account报错
        - kubesphere-system              ks-account-f7c6dd476-6vvz6                0/1     Init:0/2           0          4h2m    10.42.0.53  一直是Init状态
       - 查看ks-account  的docker报错信息
          `waiting for redis
nc: bad address 'redis.kubesphere-system.svc'
nc: bad address 'redis.kubesphere-system.svc'
waiting for redis
waiting for redis
nc: bad address 'redis.kubesphere-syst

[2020-06-16 07:38] xiesibo opened #777 "安装失败，卸载后出现 ks-allinone: Name or service not known""
ks-allinone: Name or service not known"
执行其他命令也会报这个错，求帮忙解决这个问题，不想重装系统

[2020-06-16 07:51] #777 closed

[2020-06-17 02:21] Forest-L commented on #774
1、If Chinese is used, please go to the forum to ask questions. [forum](https://kubesphere.com.cn/forum/)
2、According to the above information, there is a problem with DNS service, which can be detected.

[2020-06-17 02:25] Forest-L commented on #767
1、If Chinese is used, please go to the forum to ask questions. [forum](https://kubesphere.com.cn/forum/)
2、Dual master is not supported at present, but 3MASTER installation is supported

[2020-06-22 06:16] rayzhou2017 opened #800 "enabling components on minimal installation no show in the service status page"
I have a minimal environment, then I enable devops in the ks-installer configure map. But it does not show in the service status page. I tried op, having the same problem.

[2020-06-24 09:16] rayzhou2017 opened #816 "Suggestion on ks-installer cm"
Is it better to organize the items in order in the configmap of ks-installer?
![Screen Shot 2020-06-24 at 5 15 02 PM](https://user-images.githubusercontent.com/28859385/85528406-68298300-b63e-11ea-97e5-0e5182df1a10.png)

[2020-06-24 11:04] pixiake commented on #816
ok

[2020-06-26 06:55] heppytt opened #817 "kubesphere-system ks-apigateway，ks-account，redis，openldap启动失败"
kubesphere安装之后界面可以出现
![image](https://user-images.githubusercontent.com/17058423/85828760-af894e00-b7bb-11ea-8b2e-45abcc9965f1.png)
但是我查看kubesphere的pod发现有几个pod没有装好
![image](https://user-images.githubusercontent.com/17058423/85828868-e3647380-b7bb-11ea-93be-aac42bcc5e0a.png)
然后我查看ks-apigateway-78bcdc8ffc-qhbzr  发现redis连不上 我的redis一直pending 等待中然后我去看redis
![image](https://user-images.githubusercontent

[2020-06-26 14:10] pixiake commented on #817
https://github.com/kubesphere/kubesphere/issues/1841

[2020-06-26 14:11] #817 closed

[2020-06-28 06:47] rayzhou2017 opened #822 "kubefed controller should remove HA in allinone env"
There are two replicas for kubefed controller in All in One installation, which is not necessary.
![Screen Shot 2020-06-28 at 2 45 24 PM](https://user-images.githubusercontent.com/28859385/85940325-33733f80-b94e-11ea-8894-d992a47169c2.png)

[2020-06-29 02:46] rayzhou2017 opened #828 "Time zone is incorrect"
The time zone in the logs of ks-installer seems incorrect.
![Screen Shot 2020-06-29 at 10 46 00 AM](https://user-images.githubusercontent.com/28859385/85967764-c915da00-b9f5-11ea-893f-c10ff33adcf4.png)

[2020-06-30 00:42] pixiake commented on #828
The default time zone in the container is UTC.
The `localtime` has been mounted to the container, please verify.

[2020-06-30 02:50] rayzhou2017 opened #832 "etcd monitoring disabled by default"
I am wondering why etcd monitoring is disabled by default?
<img width="1224" alt="Screen Shot 2020-06-29 at 9 05 58 PM" src="https://user-images.githubusercontent.com/28859385/86077932-802a5800-babf-11ea-9302-e94df66c0f2a.png">

[2020-06-30 03:14] benjaminhuo commented on #832
As I can remember, some users encounter some etcd monitoring issues which may block the installation in 2.x .
Etcd monitoring is disabled by default in 2.1+ ? @pixiake

[2020-07-01 02:30] BlueSky-YJS commented on #774
Now this problem has been solved. All components are completely uninstalled, and then installed according to the brand-new machine. At the same time, the existing cluster is not used, and after using the k8s cluster automatically deployed by install, everything is normal and can be used normally

[2020-07-01 02:30] #774 closed

[2020-07-02 08:50] ktpktr0 opened #852 "ks-installer install kubsphere3.0 several problems"
docker version：19.03
k8s version：1.17.3
Network components：calico
kubesphere version：3.0

Question 1: The fluentbit-operator pod status is CrashLoopBackOff

logs：

2020-07-02T08:34:35.259Z        INFO    controller-runtime.metrics      metrics server is starting to listen    {"addr": ":8080"}
2020-07-02T08:34:35.260Z        INFO    setup   starting manager
2020-07-02T08:34:35.262Z        INFO    c

[2020-07-03 11:54] daixijun opened #856 "希望3.0能兼容k8s中已安装的istio"
目前集群中已经安装istio,在开始servicemesh功能时报错，希望可以兼容下已安装的istio
[code]

[2020-07-03 12:03] wangpo1991 opened #857 "K8S V1.18.4 install kubesphere V3.0 follow the ks-installer with the problem not found redis-pvc"
I follow the doc [kubesphere3.0-InstallGuide.md](https://github.com/kubesphere/ks-installer/blob/master/docs/InstallGuide.md)
![image](https://user-images.githubusercontent.com/62863976/86467015-3499d780-bd67-11ea-906d-cb086af04ac9.png)

1、kubectl describe pods redis-644bc597b9-xkclm -n kubesphere-system

![image](https://user-images.githubusercontent.com/62863976/86467157-79257300-bd67-11ea-85e6-

[2020-07-03 12:20] rayzhou2017 commented on #857
redis pod的日志是什么？

[2020-07-03 13:42] wangpo1991 commented on #857
the log of redis  is empty
![image](https://user-images.githubusercontent.com/62863976/86474757-19829400-bd76-11ea-8f68-66ced166ac36.png)

[2020-07-03 13:52] wangpo1991 commented on #857
The  Log  after execute  kubectl describe pods redis-644bc597b9-xkclm -n kubesphere-system

Name:           redis-644bc597b9-xkclm
Namespace:      kubesphere-system
Priority:       0
Node:           <none>
Labels:         app=redis
                pod-template-hash=644bc597b9
                tier=database
                version=redis-4.0
Annotations:    <none>
Status:         Pending
IP:
IPs:

[2020-07-03 14:50] zryfish commented on #857
What's the output like of the command
[code]
no persistentvolumeclaim found usually implies there is misconfiguration of your storageclass, there should one default storageclass

[2020-07-03 15:23] wangpo1991 commented on #857
![image](https://user-images.githubusercontent.com/62863976/86482263-31f9ab00-bd84-11ea-8370-23e5e34bdcb5.png)

[2020-07-03 15:45] rayzhou2017 commented on #857
You have two default sc. Are you sure your env is working correctly? It should be only one allowed.

[2020-07-04 08:10] FeynmanZhou opened #860 "Why there are two notification options?"
kubectl edit cc ks-installer -n kubesphere-system

[code]

[2020-07-06 04:51] rayzhou2017 commented on #856
Please using English. If you prefer Chinese, please to https://kubespher.com.cn/forum

[2020-07-06 04:51] #856 closed

[2020-07-06 04:53] #767 closed

[2020-07-06 11:15] benjaminhuo commented on #860
The one under monitoring(1st) is the switch for Notification Manager which is used to integrated with Alertmanager.

The one at the same level as monitoring(2nd) is the legacy notification service

[2020-07-07 07:22] FeynmanZhou commented on #860
@benjaminhuo Can we distinguish them by modifying the field name?

[code]

[2020-07-07 09:23] gzlj opened #868 "hyperpitrix-release-app-job pod failed to run during installation of kubesphere 3.0"
It said that Data too long for column 'attachment_id' at row 1.

[root@master opt]# kubectl logs hyperpitrix-release-app-job-6kx9m -n openpitrix-system

2020-07-07 09:12:43.92572 -ERROR- create app error: rpc error: code = Internal desc = internal error: rpc error: code = Unknown desc = Error 1406: Data too long for column 'attachment_id' at row 1 (release_app.go:68)

[2020-07-07 14:22] FeynmanZhou opened #869 "Observability is missing in the Kubernetes cluster provisioned by kind"
I create a Kubernetes cluster using [kind](https://kind.sigs.k8s.io/), and my installation steps are recorded in this [guide](https://kubesphere.com.cn/forum/d/1673-kind-kubernetes-kubesphere). I installed a host cluster and imported it into KubeSphere, but the observability is missing, see the following screenshots:

## Logging

![image](https://user-images.githubusercontent.com/40452856/86794853

[2020-07-07 14:23] FeynmanZhou commented on #869
@benjaminhuo @huanggze @wanjunlei @junotx Please help to take a look at this issue, thanks!

[2020-07-07 14:41] zheng1 commented on #868
This issue had fixed at KS3.0

[2020-07-08 01:58] benjaminhuo commented on #869
What's the result of below command?
[code]

[2020-07-08 06:55] huanggze commented on #852
Please try the latest version of ks-installer

[2020-07-08 07:00] ktpktr0 commented on #852
ok ,i will try again

[2020-07-08 09:30] FeynmanZhou commented on #869
All Pods looks normal, I think this is very strange.

[code]

[2020-07-08 09:44] benjaminhuo commented on #832
According to @pixiake , now the behavior has been adjusted to :
- disable etcd monitoring if it's ks-only installation
- enable etcd monitoring if ks is installed together with k8s

[2020-07-08 10:10] pixiake commented on #832
If you deploy ks using kubekey，the etcd monitoring is enabled by default.

[2020-07-09 15:55] benjaminhuo commented on #860
PR https://github.com/kubesphere/ks-installer/pull/873 has remove the extra notification under monitoring

[2020-07-11 08:46] FeynmanZhou commented on #694
This image should be included in the offline package, you can inspect it. Please let us know if this issue has been resolved or not.

[2020-07-11 08:46] #694 closed

[2020-07-11 08:46] #685 closed

[2020-07-11 08:46] #671 closed

[2020-07-11 08:47] #693 closed

[2020-07-11 09:08] FeynmanZhou commented on #666
Has this problem been solved? Please let us know. This issue is temporarily closed.

[2020-07-11 09:08] #666 closed

[2020-07-12 05:52] #860 closed

[2020-07-16 08:12] #852 closed

[2020-07-16 12:27] watermelon-brother opened #893 "在源码中找不到ks-apigateway的service声明文件，也找不到apigateway deployment的声明文件,请问这两个资源是在哪里创建的"
在源码中找不到ks-apigateway的service声明文件，也找不到apigateway deployment的声明文件,请问这两个资源是在哪里创建的

[2020-07-17 09:21] watermelon-brother commented on #893
[code]
请问上面文件中连接后端的service在安装脚本哪里创建啊
[code]
安装脚本都找遍了找不到部署ks-apigateway service和ks-apigateway deployment的代码啊!
麻烦知道的说下啊。。。

[2020-07-17 09:31] #893 closed

[2020-07-18 09:22] Forest-L opened #895 "Update Dockerfile for non-root user"

[2020-07-18 09:50] Forest-L commented on #895
The basic image Dockerfile is as follows:
[code]

[2020-07-22 06:56] hawking-lab opened #907 "configmap "kubesphere-config" not found"
Events:
  Type     Reason       Age                 From                             Message
  ----     ------       ----                ----                             -------
  Normal   Scheduled    16m                 default-scheduler                Successfully assigned kubesphere-system/ks-apiserver-7fc9cf7f5-dwbg7 to dev-node-171
  Warning  FailedMount  7m42s               kubelet, dev-nod

[2020-07-22 08:51] pixiake commented on #907
The configmap is not created or updated until all components are installed.

You can view the installation progress in ks-installer's log.
`kubectl logs -n kubesphere-system $(kubectl get pod -n kubesphere-system -l app=ks-install -o jsonpath='{.items[0].metadata.name}') -f`

[2020-07-23 01:50] #895 closed

[2020-07-23 07:21] realzhangqingwei commented on #547
碰到相同的问题，可解决吗

[2020-07-24 07:38] FeynmanZhou opened #924 "Support uninstall each individual component"
The current [uninstall script](https://github.com/kubesphere/ks-installer/blob/master/scripts/kubesphere-delete.sh) will remove all components and resources in one time, it should support uninstall each individual component.

[2020-07-24 14:49] rayzhou2017 opened #928 "allinone has two coredns pods"
Why has two pods in allinone?
<img width="714" alt="Screen Shot 2020-07-24 at 10 48 30 PM" src="https://user-images.githubusercontent.com/28859385/88404023-e9239800-cdff-11ea-8fb7-163dcc8aba63.png">

[2020-07-25 08:21] pixiake commented on #928
By default, kubeadm sets the number of replicas of coredns to 2.

[2020-07-28 02:51] FeynmanZhou commented on #924
Provide uninstallation script for each pluggable component:

- [ ]  alerting:
- [ ] auditing
- [ ]  devops
- [ ]  events
- [ ] logging
- [ ] metrics_server
- [ ] networkpolicy
- [ ] notification
- [ ] openpitrix
- [ ] servicemesh

[2020-07-28 02:59] huanggze commented on #924
Should remove namespace together or not?

[2020-07-28 06:00] rayzhou2017 opened #948 "service mesh enabled info not in the status"
I enabled service mesh, but do not see its status
<img width="365" alt="Screen Shot 2020-07-28 at 1 58 39 PM" src="https://user-images.githubusercontent.com/28859385/88625049-a0f3c680-d0da-11ea-9d46-091e240cd31b.png">

[2020-07-28 06:29] #948 closed

[2020-07-31 03:18] eeokee opened #969 "安装无法继续，卡住了"
k8s版本：1.18.5
ks版本：3.0

按照首页的安装顺序，下载并apply，仅修改了cluster-configuration.yaml的storageClass
storageClass: "gluster"

安装卡住了无法继续，请问要如何修复？

日志如下：
![image](https://user-images.githubusercontent.com/3079825/88996186-31bae400-d31f-11ea-9039-86004f454e12.png)

[2020-07-31 03:32] rayzhou2017 commented on #969
Please use English

[2020-07-31 03:44] pixiake commented on #969
You can execute  `kubectl rollout restart deploy -n kubesphere-system ks-installer` to update image.

[2020-07-31 08:51] eeokee commented on #969
@pixiake   重新重置k8s基础环境后，重新安装还是无法成功。

安装日志
![image](https://user-images.githubusercontent.com/3079825/89017329-b7a15400-d34c-11ea-8415-1294fe7c3a3d.png)

pod
![image](https://user-images.githubusercontent.com/3079825/89017373-cc7de780-d34c-11ea-99c7-42f46412f08e.png)

redis-ha-server-0 日志
![image](https://user-images.githubusercontent.com/3079825/89017928-a573e580-d34d-11ea-97d1-296d77ba5c17.png)

[2020-07-31 09:39] #969 closed

[2020-08-04 08:28] #41 closed

[2020-08-04 08:30] #166 closed

[2020-08-06 08:49] cnbailian opened #1013 "metrics-server not working"
### Environment:

The cluster is created by kubeadm.

[code]

### Metrics-server logs:

[code]

### Related issue:
https://github.com/kubernetes-sigs/metrics-server/issues/167

### My solution:
change `--kubelet-preferred-address-types=Hostname,InternalDNS,InternalIP,ExternalDNS,ExternalIP` to `--kubelet-preferred-address-types=InternalIP`

[2020-08-06 08:56] cnbailian opened #1014 "kubesphere-delete.sh does not support OSX"
xargs error:

[code]

[2020-08-07 04:02] zryfish opened #1017 "metrics server is not enabled by default"
HPA needs metrics server to work properly, should enable metrics server in any mode.

[2020-08-07 15:52] pixiake commented on #1017
Done

[2020-08-07 15:52] pixiake commented on #1017
Done

[2020-08-07 15:53] #1017 closed

[2020-08-08 03:04] shaowenchen opened #1021 "upgrade devops from 2.1 to 3.0"
To User:

1. apply upgrade program

[code]

2. open  DevOps component

[code]

To Dev:

- [x]  Get DevOps\Pipeline\Secret data from Jenkins
- [x]  Generate CRD YAML
- [x]  Apply DevOps CRD YAML , waiting controller-manager of 3.0 to finish create devopsproject\namespace，and continue to apply pipeline\secret YAML
- [x] backup YAML to S3
- [x] Get data from `https://github.com/shaowenchen/kubesphere

[2020-08-10 15:49] yanruogu opened #1025 "kubesphere登录异常"
安装完kubesphere 3.0版本后，出现登录异常：

![image](https://user-images.githubusercontent.com/5188514/89802286-e9dc5e00-db63-11ea-9287-9d7effdcf2e0.png)

想卸载重装，也卸载不干净，感觉安装了不少东西去其它namespace，而并不全在kubesphere-system这个命名空间里。。

尴尬！

[2020-08-10 15:49] yanruogu commented on #1025
看到上传的图是破的，将错误贴在这里： Internal error occurred: the server could not find the requested resource (post loginrecords.iam.kubesphere.io)

[2020-08-10 16:12] zryfish commented on #1025
duplicate https://github.com/kubesphere/kubesphere/issues/2835

[2020-08-10 16:12] #1025 closed

[2020-08-12 14:28] liyk1024 opened #1033 "Multi-node安装pod ks-installer-xx-xx无法启动"
kubectl get pod --all-namespaces
kube-system         openebs-localpv-provisioner-77fbd6858d-4gjh8   0/1     ContainerCreating   0          160m
kube-system         openebs-ndm-7zwwc                              0/1     CrashLoopBackOff    34         160m
kube-system         openebs-ndm-operator-59c75c96fc-24lss          0/1     ContainerCreating   0          160m
kube-system         openebs-ndm-z7

[2020-08-12 14:29] liyk1024 commented on #1033
FAILED - RETRYING: kubesphere-installer is ok (3 retries left).
FAILED - RETRYING: kubesphere-installer is ok (2 retries left).
FAILED - RETRYING: kubesphere-installer is ok (1 retries left).
fatal: [master]: FAILED! => {
    "attempts": 30,
    "changed": true,
    "cmd": "/usr/local/bin/kubectl get pod -n kubesphere-system | grep Running | grep ks-installer",
    "delta": "0:00:00.126361",
    "

[2020-08-13 13:59] FeynmanZhou commented on #924
Yes, together.

[2020-08-16 04:41] FeynmanZhou commented on #1033
@liyk1024   English only.

Which version did you install? v2.1.1 or v3.0.0?

[2020-08-16 04:41] #1033 closed

[2020-08-16 04:44] liyk1024 commented on #1033
V2.1.1&nbsp;
Multi node， on-line&nbsp;installation

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "kubesphere/ks-installer"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年8月16日(星期天) 中午12

[2020-08-16 04:46] FeynmanZhou commented on #1033
@pixiake Please help to take a look at this issue.

[2020-08-17 03:56] scott-wong opened #1045 "ks-devops/jenkins should remove ks-account check?"
3.0.0-dev

`Task 'devops' failed:

******************************************************************************************************************************************************

{

"counter": 184,

"created": "2020-08-17T03:04:01.019787",

"end_line": 183,

"event": "runner_on_failed",

"event_data": {

"duration": 738.123885,

"end": "2020-08-17T03:04:01.019536",

"event_loop": null,

"h

[2020-08-17 06:21] benjaminhuo opened #1046 "ks 2.1.0 => ks 3.0.0 Upgrade failed"
ks 2.1.0 => ks 3.0.0 Upgrade failed with error logs as below:

[code]

[2020-08-17 06:22] benjaminhuo commented on #1046
/priority high

[2020-08-17 06:33] benjaminhuo commented on #1046
ES has similar problem when upgrading

[code]

[2020-08-17 06:37] benjaminhuo commented on #1046
3 failed tasks ignored

[code]

[2020-08-18 03:50] benjaminhuo commented on #1046
when upgrading ks2.1.0 from 1.14 to 1.15, the upgrade is completed, but the following error log exists:

it seems that old metrics-server wasn't deleted successfully and the installation of new version failed @pixiake :
[code]

Es and fluentbit related errors @huanggze
[code]

Openpitrix errors @zheng1 :
[code]

redis pvc errors @wansir
[code]

[2020-08-18 03:54] shaowenchen commented on #1021
kubectl -n kubesphere-system  get job ks-devops-migration -o json | jq 'del(.spec.selector)' | jq 'del(.spec.template.metadata.labels)' | kubectl replace --force -f -

restart upgrade job

[2020-08-18 04:00] pixiake commented on #1046
Marked as `ignoring `can be ignored.

If 2.1.0 ->3.0.0 is difficult, is it possible to request an upgrade to 2.1.1 and then to 3.0.0?

[2020-08-18 04:08] benjaminhuo opened #1051 "Alertmanager only has one replica after upgrading for HA cluster"
Alertmanager only has one replica after upgrading for HA cluster(3 masters, 3 workers) which should have 3 replicas for ha setup

![image](https://user-images.githubusercontent.com/18525465/90469406-4da9ec80-e14b-11ea-8df3-105c4c57b0cf.png)

ks 2.1.0 => ks 3.0.0
k8s 1.14 => 1.15

[2020-08-18 15:15] benjaminhuo commented on #1051
It's weird that in ks-installer pod, alertmanager's replica is 1 while prometheus replica is 2, but they use the same logic in installer code: @pixiake
![image](https://user-images.githubusercontent.com/18525465/90531448-a8256600-e1a8-11ea-88c8-3e78cbce794d.png)

[2020-08-22 14:39] benjaminhuo opened #1073 "Custom project role isn't migrated after upgrading from 2.1.x to 3.0.0"
- Create a custom project manage role with project management capability under a project in 2.1.x
- Create a project account of this custom project role
- Upgrade to 3.0.0
- The custom project role in 3.0.0 hasn't any project management capability

![image](https://user-images.githubusercontent.com/18525465/90958717-c3ee7c00-e4c8-11ea-83ca-d83b679462a8.png)

![image](https://user-images.githubuser

[2020-08-24 02:16] hawking-lab opened #1074 "K8S V1.17.9 install kubesphere V3.0 follow the ks-installer with the problem not found elasticsearch"
![image](https://user-images.githubusercontent.com/47567011/90996802-66564e80-e5f2-11ea-8232-4243c95595f7.png)

kubectl get pod -n kubesphere-logging-system
NAME                                            READY   STATUS    RESTARTS   AGE
fluent-bit-6p72c                                1/1     Running   0          20m
fluent-bit-bbwst                                1/1     Running   0          20m

[2020-08-24 02:29] wansir commented on #1074
@hawking-lab `kubectl -n kubesphere-logging-system describe sts elasticsearch-logging-data` , Any errors?

[2020-08-24 03:31] benjaminhuo commented on #1073
guangzhe is busy on upgrading fluentbit operator, @wanjunlei would you help to verify this issue?
I reproduced it twice last Friday, and then hongming fixed it

[2020-08-24 03:48] hawking-lab commented on #1074
kubectl -n kubesphere-logging-system describe sts elasticsearch-logging-data
Error from server (NotFound): statefulsets.apps "elasticsearch-logging-data" not found

[2020-08-24 04:02] wanjunlei commented on #1073
ok

[2020-08-24 06:38] wanjunlei commented on #1073
This bug still exists.
@wansir

[2020-08-24 07:49] wanjunlei commented on #1073
verified
/close

[2020-08-24 07:51] benjaminhuo commented on #1073
Thanks @wanjunlei
/close

[2020-08-24 07:52] #1073 closed

[2020-08-25 02:01] hawking-lab commented on #1074
## this 3.0.0-v1 version
![image](https://user-images.githubusercontent.com/47567011/91114163-d7146e00-e6b9-11ea-8fcb-dabf25be3a3f.png)

[2020-08-25 02:04] hawking-lab commented on #1074
## now
![image](https://user-images.githubusercontent.com/47567011/91114351-48ecb780-e6ba-11ea-8d40-15b293ba8d0d.png)

some file remove  it ?

[2020-08-28 01:46] tscswcn opened #1091 "GVR for kind 'ClusterConfiguration' is installer.kubesphere.io/v1alpha1, Resource=clusterconfigurations"
2020-08-28T01:51:49+02:00 INFO     : MAIN: run main loop
2020-08-28T01:51:49+02:00 INFO     : MAIN: add onStartup tasks
2020-08-28T01:51:49+02:00 INFO     : Running schedule manager ...
2020-08-28T01:51:49+02:00 INFO     : QUEUE add all HookRun@OnStartup
2020-08-28T01:51:49+02:00 INFO     : MSTOR Create new metric shell_operator_live_ticks
2020-08-28T01:51:49+02:00 INFO     : MSTOR Create new metr

[2020-08-29 17:06] zhangchunsheng opened #1094 "fatal: [localhost]: FAILED! => {"changed": true"
kubectl logs -n kubesphere-system $(kubectl get pod -n kubesphere-system -l app=ks-install -o jsonpath='{.items[0].metadata.name}') -f
[code]

kubectl version
[code]

[2020-08-29 17:23] zhangchunsheng opened #1095 "How can I install app store?"
How can I install app store like https://demo.kubesphere.io/?

![image](https://user-images.githubusercontent.com/831839/91642624-72f9fd00-ea5f-11ea-8656-59fda6be11a9.png)

[2020-08-29 17:29] zhangchunsheng commented on #1095
use /apps can visit the page.

[2020-08-29 17:29] #1095 closed

[2020-08-29 17:32] zhangchunsheng opened #1096 "how can I add apps in app store?"
how can I add apps in app store?

![image](https://user-images.githubusercontent.com/831839/91642768-98d3d180-ea60-11ea-99a5-288d076d0aaa.png)

[2020-08-30 14:19] zhangchunsheng commented on #1096
Can I upload app like openpitrix?

[2020-08-31 03:29] zhangchunsheng commented on #1096
I can do it in workspace.

[2020-08-31 03:29] #1096 closed

[2020-08-31 03:30] zhangchunsheng commented on #1094
It can run success with some error log.

[2020-08-31 03:30] #1094 closed

[2020-09-03 01:47] wuweiit opened #1105 "error getting GVR for kind 'ClusterConfiguration': Get "https://10.233.0.1:443/api?"
2020-09-03T09:38:42+08:00 INFO     : shell-operator latest
2020-09-03T09:38:42+08:00 INFO     : Use temporary dir: /tmp/shell-operator
2020-09-03T09:38:42+08:00 INFO     : Initialize hooks manager ...
2020-09-03T09:38:42+08:00 INFO     : Search and load hooks ...
2020-09-03T09:38:42+08:00 INFO     : Load hook config from '/hooks/kubesphere/installRunner.py'
2020-09-03T09:38:42+08:00 INFO     : HTT

[2020-09-03 09:59] GerryLon opened #1106 "install on k8s failed"
my environment:

ks-installer: kubesphere/ks-installer:v2.1.1-tls

in ks-installer container(i copied my hosts's **/root/.helm dir into to container at: /root/.helm**:
[code]

k8s-master# kubectl logs -n kubesphere-system $(kubectl get pod -n kubesphere-system -l app=ks-install -o jsonpath='{.items[0].metadata.name}') -f
2020-09-03T09:44:58Z INFO     : shell-operator v1.0.0-beta.5
2020-09-03T09:44

[2020-09-04 02:25] #1021 closed

[2020-09-04 09:06] zhenglianbin opened #1109 "Internal Server Error"
![image](https://user-images.githubusercontent.com/61683462/92222041-fa68c580-eed0-11ea-9cc5-5c936a4e355c.png)

[2020-09-04 09:11] zryfish commented on #1109
Can you check log of ks-apiserver and ks-controller-manager by using following command ?
[code]

[2020-09-04 14:47] hlwanghl opened #1110 "failed to drain the node running istio-pilot due to pdb config"
[code]

https://github.com/istio/istio/issues/12602

[2020-09-07 02:46] zhenglianbin commented on #1109
The logs for  ks-apiserver

2020/09/07 10:44:16 http: panic serving 10.193.16.58:27428: runtime error: invalid memory address or nil pointer dereference
goroutine 1037453 [running]:
net/http.(*conn).serve.func1(0xc0004b94a0)
	/opt/hostedtoolcache/go/1.13.15/x64/src/net/http/server.go:1795 +0x139
panic(0x2d36da0, 0x5450320)
	/opt/hostedtoolcache/go/1.13.15/x64/src/runtime/panic.go:679 +0x1b2
kubesp

[2020-09-07 02:48] zhenglianbin commented on #1109
The logs  for ks-controller-manager

I0907 10:40:07.721328       1 workspacerole.go:205] Successfully synced key:sewc-self-provisioner
I0907 10:40:07.721386       1 event.go:281] Event(v1.ObjectReference{Kind:"WorkspaceRole", Namespace:"", Name:"sewc-self-provisioner", UID:"9e7a4e73-b047-4812-9b95-b375a581a330", APIVersion:"iam.kubesphere.io/v1alpha2", ResourceVersion:"3713342", FieldPath:""}): ty

[2020-09-07 04:05] min-zh commented on #1109
@zhenglianbin  Could you  show all pvc information by "kubectl get pvc -A -o yaml ", let me know what pvc you have in you cluster?

[2020-09-09 07:21] orangefei opened #1112 "Internal error occurred: account is not active"
kubectl get po -n kubesphere-system
NAME                                     READY   STATUS    RESTARTS   AGE
ks-apiserver-865468766-djzp7             1/1     Running   10         4h52m
ks-console-5b68d6bfbd-5l48n              1/1     Running   0          4h53m
ks-controller-manager-864f9479f5-hncnm   1/1     Running   10         4h52m
ks-installer-5b988669b9-8cj6m            1/1     Running   0

[2020-09-09 07:29] wansir commented on #1112
https://github.com/kubesphere/kubesphere/issues/2928

[2020-09-10 02:53] min-zh commented on #1109
/assign @stoneshi-yunify

[2020-09-10 03:09] min-zh commented on #1109
/assign @stoneshi-yunify

[2020-09-12 01:58] wansir opened #1113 "Lost custom configuration"
The configuration of kubesphere-config is overwritten after restarting ks-installer.

[2020-09-12 09:55] technologynongmin commented on #1109
I also encountered the same problem， how to solved

[2020-09-14 01:43] stoneshi-yunify commented on #1109
The root cause of this issue is one or more PVCs don't have a storage class name, thus cause the below check panic.

`pkg/models/resources/v1alpha2/storageclass/storageclasses.go` line 110:
[code]

I believe the front-end(kubesphere web console -> storage -> storage classes) already prevents empty storage class name creation, so how this issue can happen? Where is the problematic storage class fr

[2020-09-14 05:22] th3n3xtg3n3ration commented on #1109
I solved this issue by adding `StorageClassName` in pvc yaml which doesn't have `StorageClassName` line such as:
[code]
Edit pvc yaml:
![image](https://user-images.githubusercontent.com/27870123/93046685-215a9080-f663-11ea-9e8b-ba371cf02534.png)

It was fixed after I added storageClassName line to pvc yaml:
![image](https://user-images.githubusercontent.com/27870123/93046785-641c6880-f663-11ea-9dc

[2020-09-17 03:57] technologynongmin commented on #1109
@th3n3xtg3n3ration  how to configure it?

[2020-09-17 06:53] th3n3xtg3n3ration commented on #1109
@technologynongmin

From Volumes section, we can see that there is no storageClassName line in one of my Persistent Volume Claims such as:

![image](https://user-images.githubusercontent.com/27870123/93428116-94fcd780-f8c7-11ea-823f-38b2d0902a3d.png)

Let's look at my Storage Classes as follows:

![image](https://user-images.githubusercontent.com/27870123/93428354-f15ff700-f8c7-11ea-9b64-8fb322e67

[2020-09-17 10:09] technologynongmin commented on #1109
@th3n3xtg3n3ration
thanks your help ,
it‘s my pvc yaml, my storageclass is local-path-provisioner, maybe  not support
![image](https://user-images.githubusercontent.com/42291467/93456672-99011780-f910-11ea-90e7-33e5cf919691.png)

[2020-09-18 06:06] alynlin opened #1119 "logging kibana-oss"
logging 模块不包含kibana-oss 么，是否考虑增加支持

[2020-09-18 06:26] willzhang opened #1120 "support k8s offline install"
## reference
https://kubesphere.com.cn/forum/d/2034-kubekey-kubesphere-v3-0-0

## registry support in ClusterConfiguration
[code]
move it to
[code]

[2020-09-18 06:56] #1119 closed

[2020-09-21 05:21] #1109 closed

[2020-09-29 07:58] lyqgenius commented on #1105
turned off the firewall

[2020-10-12 12:11] kuops opened #1127 "I want change some ansbible roles, how to build the ks-installer project ?"
I want update prometheus add  thanos in ks-installer, I think is fork this project, then change roles, finally use dockerfile build ks-installer  and replace image ? can i need other steps ?

[2020-10-13 10:32] pixiake commented on #1127
No more steps are needed.

[2020-10-13 13:48] kuops commented on #1127
thanks

[2020-10-14 06:23] Emc1992 opened #1129 "Load balancer configuration"
Still testing out this product but it looks like the console service defaults to NodePort - Can this be configurable rather than needing a manual change?

https://github.com/kubesphere/ks-installer/blob/master/roles/ks-core/ks-core/templates/ks-console-svc.yml.j2#L16-L18

[2020-10-14 06:39] wansir commented on #1129
You need to modify it manually after installation, usually only takes a few minutes.

[2020-10-14 07:22] Emc1992 commented on #1129
I understand you can, my question is why?
Isn't a configurable value much more efficient for a pipeline rather than manual steps?

[2020-10-16 12:25] #12 closed

[2020-10-16 12:26] #170 closed

[2020-10-16 12:26] #163 closed

[2020-10-16 12:26] #214 closed

[2020-10-16 12:26] #182 closed

[2020-10-19 01:30] Eagle919 commented on #1091
Did anyone have this problem? It came up today when I installed it

[2020-10-19 01:37] Eagle919 commented on #1091
Find out run the following commands can be: kubectl apply -f https://raw.githubusercontent.com/kubesphere/ks-installer/v3.0.0-alpha.1/deploy/cluster-configuration.yaml  .
Solution from: https://kubesphere.com.cn/forum/d/1707-kubesphere-3-0/3

[2020-10-20 02:55] xmapst opened #1132 "怎么在config.yaml中配置service-node-port-range"
怎么在config.yaml中配置service-node-port-range, 是不是不支持? @shaowenchen

[2020-10-20 03:00] #1132 closed

[2020-10-20 03:00] shaowenchen commented on #1132
ks-installer 主要用来安装 KubeSphere，可以给 kubesphere/kubekey 提一个 issues，建议增加 apiServerExtraArgs 参数

[2020-10-26 07:47] #440 closed

[2020-10-26 07:47] #502 closed

[2020-10-26 07:48] #546 closed

[2020-10-26 07:48] #545 closed

[2020-10-26 09:00] lipengyun066519 commented on #907
the same problem

[2020-10-26 09:03] lipengyun066519 commented on #907
![Uploading image.png…]()

[2020-10-26 09:04] lipengyun066519 commented on #907
![log](https://user-images.githubusercontent.com/73466578/97153361-55ba8400-17ad-11eb-9451-5e9a3ad084ba.png)

[2020-10-26 12:49] RolandMa1986 opened #1134 "Failed to run DevOps pipeline on Kind"
**Describe the Bug**

Failed to run DevOps pipeline on Kind when using a maven container.

**Versions Used**
KubeSphere: v3.0.0

**Environment**
Kind v0.9.0
Containerd 1.4

**How To Reproduce**
Steps to reproduce the behavior:
1. Install Kubesphere on Kind use ks-installer.
2. Enable DevOps
3. Create a new Pipeline and a Step using 'container'
4. Run the pipeline.
5. There is no response from the

[2020-10-26 12:50] RolandMa1986 commented on #1134
/cc @shaowenchen

[2020-10-27 09:04] lipengyun066519 commented on #907
becasue my virtualbox's vm mem is too low.after increasing my vm's mem the problem is resolved.but after open kubespere's console ,the error "Internal error occurred: account is not active" occurs.

[2020-10-27 09:21] lipengyun066519 commented on #907
accoding to https://github.com/kubesphere/ks-installer/pull/1090,i successed.
kubectl -n kubesphere-system get ValidatingWebhookConfiguration users.iam.kubesphere.io -o yaml >> users.iam.kubesphere.io.yaml
kubectl -n kubesphere-system get secret ks-controller-manager-webhook-cert -o yaml >> ks-controller-manager-webhook-cert.yaml
// edit ca as pr
kubectl -n kubesphere-system apply -f ks-controller

[2020-10-27 09:23] lipengyun066519 commented on #907
i finally  install kubesphere 3.0.0 in minikube ,k8s'version is  1.9.2.

[2020-10-28 06:53] wushifeng opened #1136 "kubeasz单机群下部署kubesphere－出错后的修改脚本"
**使用kubeasz在单机k8s群,具体的步骤**
[code]

**在上面的群上安装kubesphere**
安装前提条件 https://kubesphere.io/zh/docs/installing-on-kubernetes/introduction/prerequisites/
kubectl apply -f https://raw.githubusercontent.com/kubesphere/ks-installer/v3.0.0/deploy/kubesphere-installer.yaml
kubectl apply -f https://raw.githubusercontent.com/kubesphere/ks-installer/v3.0.0/deploy/cluster-configuration.yaml

安装后，出现问题，没有minikube方

[2020-11-04 05:41] zheng1 commented on #924
Uninstall openpitrix: `kubectl delete ns openpitrix-system`

[2020-11-04 06:04] wanjunlei commented on #924
Uninstall auditing:
[code]

[2020-11-04 06:48] benjaminhuo commented on #924
Uninstall metrics-server:
[code]

[2020-11-04 06:51] Ma-Dan commented on #924
Alerting and notification are working together in kubesphere-alerting-system namespace

Uninstall alerting and notification
[code]

Unintall alerting only
[code]

Uninstall notification only
[code]

[2020-11-04 06:52] junotx commented on #924
Uninstall events:
[code]

[2020-11-04 07:00] huanggze commented on #924
Uninstall logging:
[code]

Optional:
[code]

[2020-11-05 02:34] wansir opened #1142 "account is not active"
The admin account is not active after a successful installation.

[2020-11-05 14:35] #1142 closed

[2020-11-11 14:29] shaowenchen commented on #1134
/area devops

[2020-11-11 14:42] shaowenchen commented on #1134
/area devops

[2020-11-11 14:45] shaowenchen commented on #16
/close

[2020-11-11 14:45] #16 closed

[2020-11-20 05:46] ladyishenlong opened #1160 "k8s上最小化安装KubeSphere之后，安装应用商店openpirtix，容器始终处于初始化"
最小化安装KubeSphere之后，按照官网方法安装了了devops正常，然后安装应用商店时候安装mysql和etcd一直在初始化中

[2020-11-20 06:04] ladyishenlong commented on #1160
我删除重新安装了kubsphere之后mysql的状态转为正常，但是etcd还是在容器创建中

[2020-11-22 04:04] ss178994161 opened #1162 "Can I config tolerations on web workload create"
中文描述：
KubeSphere与kubeedge对接后，部署边缘应用，需要手动编辑yaml配置文件，是否后续将污点容忍做到界面上。

English description：
Can I config tolerations on web workload create.
KubeSphere work with kubeedge. I want apply workload on edge node, must edit .yaml fill the tolerations.

nodeSelector:
        node-role.kubernetes.io/edge: ''
      tolerations:
        - key: node.kubeedge.io
          operator: Equal
          value: edge

[2020-11-30 13:25] zackzhangkai commented on #924
uninstall servicemesh:
[code]

[2020-12-01 06:56] escoffier commented on #907
I have the same problem.
[code]

Versions Used:
KubeSphere: v3.0.0
Kubernetes: v1.18.3

[2020-12-02 06:19] pixiake commented on #1160
You can check to see if etcd‘s pvc had been created.

You can post a question or search for a solution in the forum.
https://kubesphere.com.cn/forum

[2020-12-02 06:19] #1160 closed

[2020-12-02 06:24] pixiake commented on #907
@escoffier

[2020-12-02 06:25] pixiake commented on #907
@escoffier
The configmap is not created or updated until all components are installed.

You can view the installation progress in ks-installer's log.
kubectl logs -n kubesphere-system $(kubectl get pod -n kubesphere-system -l app=ks-install -o jsonpath='{.items[0].metadata.name}') -f

[2020-12-02 09:57] benjaminhuo commented on #1162
I think this requirement should be opened under https://github.com/kubesphere/kubesphere project, not in the installer project. And it should be added to  https://github.com/kubesphere/kubesphere/issues/3070

[2020-12-03 01:42] benjaminhuo commented on #1162
@ss178994161 Would you please close this issue and open a new issue in https://github.com/kubesphere/kubesphere?

[2020-12-04 09:40] MRGUO840140 opened #1188 "jenkins :User admin not found in directory"
I just installed the Jenkins plug-in, and the service didn't show any errors. But when I entered the pipeline page, an error occurred. Query Jenkins log: org.acegisecurity.userdetails .UsernameNotFoundException: User admin not found in directory.
![image](https://user-images.githubusercontent.com/62984381/101147762-c16af900-3657-11eb-8258-ac1f9ea37513.png)
![image](https://user-images.githubuserco

[2020-12-04 10:24] wansir commented on #1188
duplicated: https://github.com/kubesphere/kubesphere/issues/3105

Which version are you using, this issue may be due to the incorrectly ks-installer version.
[code]

You can fix it after changing your password by the following command.
[code]

[2020-12-04 11:58] MRGUO840140 commented on #1188
Thanks, using your command has been resolved

[2020-12-09 06:10] a943915349 opened #1192 "Kubesphere: V3.0 Unloading problem"
There were some problems in specifying the image version at the beginning of the installation, which caused Devops to download the image of the wrong version. Then I deleted all pod, Service and Deployment related to Devops, found a set and deleted it altogether.Then I'd like to re-open Kubectl Apply-f [YAMl], I'd like to re-download the devops mirror, but it hasn't. As a result, all namespace unc

[2020-12-09 12:39] #1192 closed

[2020-12-14 10:11] #1120 closed

[2020-12-28 09:48] zryfish commented on #539
/cc @zackzhangkai Which version of Jaeger will be used in 3.1.0 ?

[2020-12-28 12:11] zackzhangkai commented on #539
We had upgraded Jaeger to 1.17 in 3.0. This is the same in 3.1.0.

[2020-12-28 12:13] #539 closed

[2020-12-31 04:05] wansir opened #1220 "Uninstalled some helm release unexpectedly"
related: https://kubesphere.com.cn/forum/d/3327-kubesphere

/assign @Forest-L

[2021-01-06 09:11] wansir commented on #1113
/assign @wansir @pixiake
/milestone 3.1.0

[2021-01-18 01:30] 2212642 commented on #1105
i have the same problem

[2021-01-18 09:15] daniel-hutao opened #1230 "add TODO or some other comments at installRunner.py"
I found the code at installRunner.py like this:
-----------------------------------------------------------------
    try:
        readyToEnabledList.remove("metrics_server")
    except:
        pass

    try:
        readyToEnabledList.remove("networkpolicy")
-----------------------------------------------------------------

The "metrics_server" is enabled at preInstallTasks() func, and "networkp

[2021-01-18 10:15] pixiake commented on #1230
Thanks for the suggestion.

The reason for removing these tasks from the tasks list is that they are executed individually.

`networkpolicy` is just a configuration, and there is no playbook being performed.

[2021-01-20 08:56] RikyLee opened #1235 "devopsproject.devops.kubesphere.io "roject-jlpmrwrrqxg2" not found"
kubesphere v3.0

Internal Server Error
devopsproject.devops.kubesphere.io "roject-jlpmrwrrqxg2" not found

[root@k8s-portal-master1 ~]# kubectl get pipeline  --all-namespaces
NAMESPACE              NAME                      AGE
project-jlpmrwrrqxg2   test-v3                   6m35s

[2021-01-20 14:11] yunkunrao commented on #1235
/area devops

[2021-01-20 14:12] yunkunrao commented on #1136
/kind support

[2021-01-21 08:49] #1013 closed

[2021-01-21 08:49] #1014 closed

[2021-01-21 08:53] zryfish commented on #1235
@kubesphere/sig-devops

[2021-01-21 09:05] LinuxSuRen commented on #1235
Hi @RikyLee, thanks for reaching us. But I cannot figure out what happened base on your description. Could you please add more context? Please add the following items (or other things that are helpful for troubleshooting):
* Where does the error message come from?
* What is your expectation?

[2021-01-22 02:07] RikyLee commented on #1235
Hi @LinuxSuRen

1、update kubesphere from v2.1.1 to v3.0.0 , access the old devops project through the web console, the prompt is devopsproject.devops.kubesphere.io "roject-jlpmrwrrqxg2" not found , but i can get the pipeline  use this command `kubectl get pipeline --all-namespaces`

2、When I create a new devops project and invite users to join this project , will be prompted to assign a role. When

[2021-01-22 10:51] Forest-L opened #1239 "How do I deploy a highly available Kubesphere cluster on a compute node"

[2021-01-25 02:43] FeynmanZhou commented on #924
@kubesphere/sig-docs Hi Team, please help to follow up with this issue and add the uninstallation guide for each feature.

[2021-01-25 02:57] FeynmanZhou commented on #924
@kubesphere/sig-devops @kubesphere/sig-networking How to uninstall KubeSphere DevOps and NetworkPolicy?

[2021-01-25 03:09] shaowenchen commented on #924
[code]

[code]

[code]

[2021-01-25 06:48] guoh1988 opened #1243 "etcd monitor fail"
1. ks-3.0 Minimal Installation ,The page is normal
2. create a secret for etcd
[code]
3.  enable etcd monitoring dashboard installation
[code]
4.Unable to get the etcd node information. Check the Prometheus log and find that the etcd certificate cannot be found. After manually mounting the certificate, the etcd node information can be viewed normally
`/etc/prometheus/secrets/kube-etcd-client-certs

[2021-01-25 07:53] duanjiong commented on #924
Closing networkpolicy does not require uninstalling the component, its controller is now inside ks-controller-manager

[2021-01-26 02:54] daniel-hutao opened #1244 "move ks-installer/roles/ks-logging/files/logsidecar-injector to helm-charts or logsidecar-injector repo"
The structure of logsidecar-injector directory is as follows, which is obviously a helm chart code.
But you can't find it from kubesphere/helm-charts or kubesphere/charts or kubesphere/logsidecar-injector.
I think it is reasonable to put [ks-installer/roles/ks-logging/files/logsidecar-injector]  kubesphere/helm-charts or kubesphere/logsidecar-injector, but it should not be put inside ks-installer.

[2021-01-26 03:32] junotx commented on #1244
Thanks for your suggestion. That is indeed a helm chart which will be synchronized to `kubesphere/logsidecar-injector` later.

[2021-01-26 06:00] daniel-hutao commented on #1244
I think so, synchronized to kubesphere/logsidecar-injector is suitable

[2021-01-28 02:43] LinuxSuRen commented on #1188
/kind support

hi @MRGUO840140 , thanks for reaching out to us. It looks like you already resolved your problems. I guess we can close this issue. Right?

[2021-01-28 10:15] LinuxSuRen opened #1247 "Request to Jenkins agent upgrade"
The official GitHub repo was changed from https://github.com/jenkinsci/docker-jnlp-slave to https://github.com/jenkinsci/docker-inbound-agent.

And, the image name of `jenkins/jnlp-slave`  are deprecated, use `jenkins/inbound-agent`.

Currently, the image tag is `3.27-1` which was published in 2018. It's pretty old. The latest release is [4.6-1](https://github.com/jenkinsci/docker-inbound-agent/re

[2021-01-28 10:17] shaowenchen commented on #1247
/project devops

[2021-01-29 03:11] gennpix opened #1248 "prometheus监控KubeScheduler和KubeControllerManager的端口需要动态获取"
涉及文件：
ks-installer/roles/ks-monitor/files/prometheus/prometheus/prometheus-serviceKubeScheduler.yaml
ks-installer/roles/ks-monitor/files/prometheus/prometheus/prometheus-serviceKubeControllerManager.yaml

Kubernetes默认的端口已经更改了
![image](https://user-images.githubusercontent.com/15207081/106226487-4e7a9a80-6222-11eb-80c4-db0b60641c89.png)

[2021-01-29 03:40] Nctllnty commented on #1248
我也发现了这个问题   手动修改了svc和endpoint  然后更改了monitor crd的scheme为https解决的

[2021-02-01 13:18] DavenAaron commented on #1105
me too

[2021-02-03 02:43] wuweiit commented on #1105
turned off the firewall

[2021-02-03 02:43] #1105 closed

[2021-02-05 04:57] wenhuwang opened #1252 "Upgrade nginx ingress controller version"
The Latest release version of nginx-ingress-controller is already v0.44.0, it is a recommended to upgrade the latest release version.

/assign @wenhuwang

[2021-02-07 03:58] LinuxSuRen commented on #1188
/close

[2021-02-07 03:58] #1188 closed

[2021-02-18 04:00] zackzhangkai commented on #1252
0.44 is the latest version. Why do you want to upgrade it officially? Otherwise, you can upgrade it by yourself to meet your special requirement.

[2021-02-18 05:45] LinuxSuRen commented on #1252
Using the latest version might be or not a good solution. No matter what, please list the reasons that you think it's worth upgrading it.

[2021-02-19 03:06] wenhuwang commented on #1252
We have encountered some bugs in the configuration of https certificate in the process of using nginx-ingress. The later version of nginx-ingress has been fixed. There may be many similar bugs, so I suggest to upgrade the version appropriately. We can discuss the specific version.

[2021-03-02 09:53] zackzhangkai commented on #1252
/deploy

[2021-03-03 02:25] zackzhangkai commented on #1252
/deploy

[2021-03-10 02:51] xyz-li opened #1303 "apply helmapplication crd when install kubesphere cluster"
**What's it about?**
ks-apiserver and ks-controller-manager need helmapplication crds. ks-installer should apply ```application.kubesphere.io_helmapplications.yaml
application.kubesphere.io_helmreleases.yaml
application.kubesphere.io_helmapplicationversions.yaml
application.kubesphere.io_helmrepos.yaml
application.kubesphere.io_helmcategories.yaml``` first.

/kind feature-request

[2021-03-10 08:48] daniel-hutao opened #1304 "Release grafana support"
I found 【# - { path: prometheus/grafana, file: grafana-deployment.yaml }】 at 【roles/ks-monitor/tasks/generate_manifests.yaml:46】 when I try to use grafana to add a custom monitoring dashboards. The enabling of grafana was previously configurable by cc.spec.monitoring.grafana.enabled=true. I think release this comment will make ks more flexible, so that users who need to use grafana can optionally

[2021-03-10 08:50] daniel-hutao commented on #1304
/kind feature-request

[2021-03-11 02:30] #1252 closed

[2021-03-11 03:21] #1304 closed

[2021-03-11 07:52] #1303 closed

[2021-03-11 09:17] daniel-hutao opened #1311 "Proposal: Add external elasticsearch http basic auth support at cc"
ES enabling authentication is a very common scenario. We already have <common.es.externalElasticsearchUrl> to sepcify the url of external es, so we can simply use a similar approach add <common.es.externalElasticsearchUsername common.es.externalElasticsearchPassword> to specify the username and password of es with authentication enabled.

[2021-03-11 09:30] daniel-hutao commented on #1311
And it's needed to let ks-apiserver to support log index with authentication enabled es.

[2021-03-11 09:44] daniel-hutao commented on #1311
/kind proposal

[2021-03-12 07:49] gsgs-libin opened #1315 "gke上安装kubesphere失败"
具体连接是这个：https://kubesphere.com.cn/forum/d/2870-google-gkekubesphere-30

问题原因是： 看样子GKE 1.17 之后内置 snapshot-controller了。 ks-installer可能没有判断

[2021-03-15 08:08] daniel-hutao commented on #1315
/retitle Failed to install KubeSphere on gke

[2021-03-15 11:52] LinuxSuRen commented on #1248
hi @gennpix , Thanks for reporting this issue to us. We encourage all people to communicate in English. I'll help you to rewrite the issue title in English. Please correct me if you have a better one.

/retitle The default port of KubeScheduler and KubeControllerManager isn't static anymore

/kind bug

[2021-03-15 11:59] LinuxSuRen opened #1323 "Task 'logging' failed: 'dict object' has no attribute 'logsidecar'"
These are my steps:

* Install KubePhere via: `kk create cluster --with-kubesphere nightly-20210314 -y`
* Enable all plugin components
* Check the log output of `deploy/ks-installer`

/kind bug

Below is the version of [kubekey](https://github.com/LinuxSuRen/kubekey/releases/tag/v1.0.6):
[code]

Below are the log output of ks-installer:
[code]

[2021-03-15 12:11] zryfish opened #1324 "If network is empty, then skip it"
[code]

[2021-03-16 00:14] LinuxSuRen commented on #1324
I don't quite understand the meaning of this issue. Is it a bug or a feature request? I'd suggest that we tell the whole story as possible as we can, then everyone could have a chance to participate it.

[2021-03-16 02:13] daniel-hutao commented on #1311
/area observability

[2021-03-16 02:21] LinuxSuRen commented on #1311
+1 from me.

[2021-03-16 10:05] #1134 closed

[2021-03-19 11:41] yunkunrao commented on #1243
/kind bug

[2021-03-19 11:42] yunkunrao commented on #1239
/kind support

[2021-03-24 02:15] lucas-www opened #1342 "When I deleted ks-controller-manager pod from cluster, It failed to connect to ldap service"
As stated in the titled, when I deleted ks-controller-manager pod from cluster, ks-controller-manager restarted automatically, but It failed restart.
The log output is as follows,
![image](https://user-images.githubusercontent.com/68903281/112243699-fa6fbd80-8c88-11eb-9cd8-c589531db354.png)
![image](https://user-images.githubusercontent.com/68903281/112244013-8a156c00-8c89-11eb-9767-1bbd6fce4bca.p

[2021-03-24 02:19] calvinyv commented on #1342
/assign @pixiake

[2021-03-24 02:26] wansir commented on #1342
@lucas-www  Please check the status of LDAP server, network timeout caused this problem.

[code]

[2021-03-25 05:36] zryfish opened #1348 "OpenPitrix namespace is still created even there are no openpitrix components"
Using nightly-20210324, there is still openpitrix-system namespace even there is no corresponding components
[code]

[2021-03-25 05:38] zryfish commented on #1348
/assign @xyz-li
/kind bug

[2021-03-26 07:41] KeithTt commented on #1243
Same problem here:

![image](https://user-images.githubusercontent.com/15189954/112598514-a7913400-8e49-11eb-8cdd-ce31ba541446.png)

[2021-03-26 08:17] daniel-hutao opened #1352 "There's no ks-jenkins image in dockerhub kubesphere project"
![image](https://user-images.githubusercontent.com/18692628/112602378-8b43c600-8e4e-11eb-8d3b-a6717a3666c4.png)

There's no ks-jenkins image in dockerhub kubesphere project, but it's needed is at pulling_images.sh - kubesphere/ks-jenkins:2.249.1

/kind bug
/area devops

[2021-03-26 08:20] LinuxSuRen commented on #1352
Please check the document of [ks-jenkins](https://github.com/kubesphere/ks-jenkins#get-started).

`ks-jenkins:2.249.1` is not released yet. So I guess this is not a bug instead of a support request. But thanks for reporting this. I'd rather keep this issue open until we really have a `kubesphere/ks-jenkins:2.249.1`.

/kind support

[2021-03-26 08:21] LinuxSuRen commented on #1352
/kind-remove bug

[2021-03-26 08:22] LinuxSuRen commented on #1352
/remove-kind bug

[2021-03-26 08:23] LinuxSuRen commented on #1352
/assign

[2021-03-28 10:57] gnuhub opened #1355 "Warning: apiextensions.k8s.io/v1beta1 CustomResourceDefinition is deprecated in v1.16+, unavailable in v1.22+; use apiextensions.k8s.io/v1 CustomResourceDefinition"

[2021-03-29 10:53] duanjiong opened #1360 "filed network.enabled should be removed in cluster-configuration.yaml"

[2021-03-29 10:54] duanjiong commented on #1360
/assign @pixiake

[2021-04-01 06:53] xyz-li commented on #1348
Fixes #1364

[2021-04-01 08:56] xyz-li commented on #1348
/close

[2021-04-01 08:56] #1348 closed

[2021-04-02 08:36] JohnNiang commented on #1355
But if I upgraded the version, something went wrong...

[code]

[2021-04-09 02:21] LinuxSuRen commented on #1355
/kind bug

[2021-04-09 04:40] deepak7093 opened #1395 "Install on GKE failed"
I'm trying to install kubesphere on GKE,  it gives error as below:

[code]

[2021-04-12 09:20] therealqxing opened #1398 "Dockerfile permission"
ks-installer pod got stuck at "permission denied" when using customized image which was build using Makefile, see logs below.
[code]

It seems there is a typo `kubesphe:kubesphe` instead of `kubesphere:kubesphere` with directory `/kubesphere` and `/hooks` in the image `kubespheredev/shell-operator:v1.0.0-beta.5-alpine3.12`.
[code]

[2021-04-13 07:59] guoziqin commented on #199
都不行

[2021-04-14 03:51] pixiake commented on #1398
If you need to modify the directory and permissions, it is recommended to build image based on `Dockerfile.complete`.

https://github.com/kubesphere/ks-installer/blob/master/Dockerfile.complete

[2021-04-14 04:06] therealqxing commented on #1398
I have already tried to build image using `Dockerfile.complete`, but still got the same error. I didn't change any directory permissions in the Dockerfile.
[code]

I can see the dirs ownership has been changed to `kubesphere:kubesphere`, I wonder why it returns `permission denied` error.
[code]

[2021-04-14 04:38] therealqxing commented on #1398
Finally I found It's the file permission issue on my host...   Anyway thanks for the help :)

[2021-04-14 04:38] #1398 closed

[2021-04-15 02:55] wansir commented on #1113
fix: https://github.com/kubesphere/ks-installer/pull/1376

/close

[2021-04-15 02:55] #1113 closed

[2021-04-15 04:59] yunkunrao opened #1407 "When metering module is enabled and price configmap was not created, there's not helper link."
If metering module is enabled, there should be a hint which contains a doc link about how to create the price configmap and mount the configmap into ks-apiserver pod.

[2021-04-15 05:02] yunkunrao commented on #1407
/kind proposal

[2021-04-15 05:23] LinuxSuRen commented on #1407
/area documentation
/cc @kubesphere/sig-docs

[2021-04-16 10:40] zhanghailong-qingcloud opened #1417 "1、openpitrix镜像仓库问题"
https://github.com/kubesphere/ks-installer/blob/master/roles/download/defaults/main.yml#L129
https://github.com/kubesphere/ks-installer/blob/master/roles/download/defaults/main.yml#L113-L117

[2021-04-16 10:41] #1417 closed

[2021-04-19 02:38] daniel-hutao opened #1420 "Configmap kubesphere-config not found error when install ks by ks-installer"
I got the error below when install ks cluster by ks-installer:
![image](https://user-images.githubusercontent.com/18692628/115174067-23a23300-a0fb-11eb-99be-e9fc1523402d.png)

but after about 10 mins:
![image](https://user-images.githubusercontent.com/18692628/115174134-459bb580-a0fb-11eb-948b-6a52078d2719.png)

and at last the ks-apiserver is up:
![image](https://user-images.githubusercontent.com

[2021-04-19 02:46] daniel-hutao commented on #1420
/kind bug

[2021-04-19 03:27] RolandMa1986 opened #1422 "rbac.authorization.k8s.io/v1beta1 is going to be deprecated on v1.22.0"
rbac.authorization.k8s.io/v1beta1 is going to be deprecated on v1.22.0. So we need to update those RBAC resources to  rbac.authorization.k8s.io/v1
/kind feature

[2021-04-20 03:07] JohnNiang opened #1429 "s2ibuildertemplates was loaded incorrectly by recent ks-installer"
# Description

s2ibuildertemplates was loaded incorrectly by recent ks-installer.

# Reproduce

Recently, I installed kubesphere with [kubekey](https://github.com/kubesphere/kubekey/releases/tag/v1.1.0-alpha.2) with the following steps:

- Download kubeky and decompress it

[code]

- Up kubernetes and kubesphere

[code]

- Enable DevOps component

[code]

  Turn `spec.devops.enabled` into `true`.

[2021-04-20 03:08] JohnNiang commented on #1429
/kind bug
/priority high

[2021-04-20 04:16] therealqxing opened #1430 "redis-ha could not resolve the announce ip for this pod"
Kubernetes version: `v1.17.9`
Kubesphere version: `v3.0.0`
Network: Flannel with host-gw backend

[code]

[2021-04-20 05:53] LinuxSuRen commented on #1429
/area devops

[2021-04-20 10:03] #1422 closed

[2021-04-21 02:18] yuswift commented on #1429
/milestone 3.1.0
/cc @pixiake

[2021-04-21 03:42] RolandMa1986 opened #1435 "OpenPitrix | Import App task failed"
ks-install shows "OpenPitrix | Import App" task was failed caused by the following error:

[code]

/kind bug
/priority high
/cc @xyz-li

[2021-04-21 06:51] wansir opened #1437 "Failed to enable multicluster"
[code]

/kind bug

[2021-04-21 07:46] zryfish commented on #1429
Found the cause, working on it.
/assign

[2021-04-21 08:57] daniel-hutao opened #1439 "There is no need to deploy redis by default in a k8s cluster with one master and multiple workers"
There is no need to deploy redis by default in a k8s cluster with one master and multiple workers

![image](https://user-images.githubusercontent.com/18692628/115525884-171c0700-a2c2-11eb-9f96-52ca0338af3a.png)

![image](https://user-images.githubusercontent.com/18692628/115526373-87c32380-a2c2-11eb-84ab-3be12403a70e.png)

/good-first-issue
/kind bug

[2021-04-21 09:26] wenxin-01 opened #1440 "It took too long to creating kubesphere crd 'ks-crds/devops.kubesphere.io_s2iruns.yaml'"
**Versions Used**
KubeSphere: `dev:latest`

![image](https://user-images.githubusercontent.com/68640256/115530805-b2af7680-a2c6-11eb-8f99-6e6b3c578666.png)

/kind bug
/priority medium

[2021-04-21 16:21] #1439 closed

[2021-04-21 16:44] #1440 closed

[2021-04-22 08:10] #1430 closed

[2021-04-22 08:30] therealqxing opened #1445 "cannot access ks-console"
[code]

[code]

`ks-apiserver` doesn't have error logs.
[code]

One of a `ks-controller-manager` crashs repeatedly, see error logs below.
[code]

and `openldap` error logs
[code]

[2021-04-22 08:38] zryfish commented on #1445
Please pay attention to this line
[code]

This kind of error log usually implies there is an error in DNS resolution, please check your cluster network, make sure all network components are running. And you may refer to https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/ to help you debug.

[2021-04-22 08:48] therealqxing commented on #1445
I just try to resolve the ks-apiserver service name from ks-console, it seems it's normal.

[code]

[2021-04-24 01:49] JohnNiang commented on #1429
@zryfish The latest ks-installer(nightly-20210423) didn't fix this issue yet. #1441 might not be a solution for this problem.

[2021-04-26 07:36] therealqxing opened #1469 "ks-apiserver failed to connect to redis service, i/o timeout"
This is a 3 nodes cluster deployed with KubeSpray, and Kubernetes version: v1.17.9
KubeSphere version: custom ks-installer image based on v3.0.0 (which is basically the same with v3.0.0 expect for upgrading redis-ha helm chart to v3.9.3)

[code]

FYI. I have already changed the redis service address to redis-ha-haproxy in ks-apiserver configmap `kubesphere-config`, which was called `redis` in orig

[2021-04-26 07:54] therealqxing commented on #1469
It seems there are something wrong with coredns service.
[code]

[2021-04-26 07:54] #1445 closed

[2021-04-26 09:43] wansir commented on #1469
CoreDNS status is abnormal, please check your cluster status and the pod status under kube-system. You can upgrade the Redis helm chart directly, https://github.com/kubesphere/ks-installer/blob/master/roles/common/files/redis-ha/Chart.yaml.

[2021-04-26 09:51] therealqxing commented on #1469
pod status under kube-system
[code]

coredns logs about redis-ha service, NOERROR for all "redis-ha-haproxy.kubesphere-system.svc.cluster.local"
[code]

[2021-04-26 16:02] #1429 closed

[2021-04-27 03:27] therealqxing commented on #1469
Finally I found the issue is caused by flannel host-gw mode, this network mode requires all nodes in a same layer 2 network but my nodes are not satisfied, everything works after changing to flannel vxlan. Thanks anyway : )

[2021-04-27 03:27] #1469 closed

[2021-04-29 09:46] pixiake opened #1499 "ValueError: Invalid value for `names`, must not be `None`"
**What happened:**

ks-installer failed to start.

There are the following errors in  the log:

[code]

[2021-04-29 09:56] pixiake commented on #1499
https://github.com/kubesphere/ks-installer/blob/f73280816c163442d56888feb8e8866d44177201/controller/installRunner.py#L416
Modify according to
https://github.com/kubesphere/ks-installer/blob/d7b5e81dc5fd6b253f3d04d9cdcfb92258a69e51/controller/installRunner.py#L341

Build a new image after modification.

[2021-04-30 03:23] RikyLee opened #1501 "ks-installer 安装 kubesphere 3.0/3.1，ks-jenkins无法正常启动"
使用NFS作为后端存储，ks-jenkins 一直处于

[root@k8s-portal-master1 ~]# kubectl get pods -n kubesphere-devops-system
NAME READY STATUS RESTARTS AGE
ks-jenkins-86744d7fb8-p6nv5 0/1 Running 2 9m1s

查看ks-jenkins日志，一直卡在Beginning extraction from war file

[root@k8s-portal-master1 ~]# kubectl logs -f ks-jenkins-86744d7fb8-p6nv5 -n kubesphere-devops-system
Picked up JAVA_TOOL_OPTIONS: -Xms1024m -Xmx8192m -XX:MaxRAM=6g

[2021-04-30 05:47] LinuxSuRen commented on #1501
/area devops
/kind bug
/retitle Jenkins stuck in the starting process (NFS as the backend of the storage)

hi @RikyLee thanks for reaching out to us, we encourage English as the private language for communication. So, it allows more people to be able to help you instead of Chinese only. I've writer the title for you.

[2021-04-30 05:49] LinuxSuRen commented on #1501
/kind-remove bug
/kind support

Did you check the log of the NFS server? Jenkins does not rely on the NFS.

[2021-04-30 05:56] RikyLee commented on #1501
nfs client provisionerlogs like this:

I0430 03:10:55.928447       1 controller.go:987] provision "kubesphere-devops-system/ks-jenkins" class "nfs-client": started
I0430 03:10:55.930834       1 event.go:221] Event(v1.ObjectReference{Kind:"PersistentVolumeClaim", Namespace:"kubesphere-devops-system", Name:"ks-jenkins", UID:"4203fec2-df06-4bdb-9e9e-76e18e7b6b0d", APIVersion:"v1                 ", Re

[2021-04-30 05:58] LinuxSuRen commented on #1501
How about the capacity and other metrics of the NFS server? For example, `inode`, CPU, memory.

[2021-04-30 06:02] RikyLee commented on #1501
metrics  of nfs server like these:

top - 14:00:04 up 46 days,  4:15,  1 user,  load average: 0.54, 0.30, 0.31
Tasks: 139 total,   1 running, 138 sleeping,   0 stopped,   0 zombie
%Cpu(s):  0.0 us,  8.4 sy,  0.0 ni, 83.3 id,  8.3 wa,  0.0 hi,  0.1 si,  0.0 st
KiB Mem : 12011584 total,  6927316 free,   475564 used,  4608704 buff/cache
KiB Swap: 16777212 total, 16777212 free,        0 used. 11124224

[2021-04-30 07:40] yangchuansheng opened #1503 "How to bring my own prometheus"
If prometheus already exist before installing KubeSphere，how to use my own Prometheus stack setup in KubeSphere？and I don't want to install customized Prometheus stack of KubeSphere either.

[2021-04-30 07:46] yuswift commented on #1503
/area observability

[2021-04-30 08:38] zhu733756 commented on #1503
Refer to https://kubesphere.io/docs/faq/observability/byop/

[2021-04-30 09:21] yangchuansheng commented on #1503
but I don't want to install customized Prometheus stack of KubeSphere, this article can not help me.

[2021-04-30 09:38] zhu733756 commented on #1503
Ok, I misunderstanded about it. I just see the title.

[2021-05-06 02:42] #1499 closed

[2021-05-08 02:44] zhu733756 commented on #1503
@yangchuansheng Hi, I pull a request and try to fix this issue. Once you use your own prometheus stack,  it is recommended to install kubeSphere customized stuff as mentioned at  [here](https://kubesphere.io/docs/faq/observability/byop/#step-3-install-kubesphere-customized-stuff-to-your-prometheus-stack). Some metrics rely on these configurations.

[2021-05-08 08:17] therealqxing opened #1514 "Alerting Message send notification failed"
![image](https://user-images.githubusercontent.com/16660318/117532135-93c81880-b018-11eb-8a3b-24c5b9a61277.png)

notification logs
[code]

[2021-05-15 07:31] laingke commented on #1105
NEVER to be a good choice to turn off the firewall, then which port we have to add?

[2021-05-24 07:58] RolandMa1986 opened #1525 "Incorrect logs was printed by check_cluster_status.sh in e2e-TEST workflow"
Check the actions logs in [pr-test.yaml](https://github.com/kubesphere/ks-installer/actions/workflows/pr-test.yml).
1. Both the "Deploy KubeSphere to Kind" and "Test Plugin" steps printed the same logs. But the "Test Plugin" step should enable more components.
2.  There's are always string "CONTRIBUTING.md Dockerfile Dockerfile.complete LICENSE Makefile OWNERS README.md README_zh.md controller dep

[2021-05-27 07:01] JohnNiang commented on #1352
I'm going to close this issue due to being resovled.

![image](https://user-images.githubusercontent.com/16865714/119780365-4eeb1f80-befc-11eb-89fd-7859c7796716.png)

[2021-05-27 07:01] JohnNiang commented on #1352
/close

[2021-05-27 07:01] #1352 closed

[2021-05-27 07:13] #1525 closed

[2021-05-27 09:29] jayzch opened #1529 "镜像下载脚本强依赖docker环境"
在 offline-installation-tool.sh 中拉取镜像。

./offline-installation-tool.sh -s -l images-list.txt -d ./kubesphere-images
这里脚本，还是强依赖本地需要有docker环境。

理论上不应该依赖docker，只应该下载镜像。

[2021-05-28 05:12] ZhangYuanSheng1217 commented on #1501
I also encountered this problem

![image](https://user-images.githubusercontent.com/21291815/119933122-0ee87300-bfb6-11eb-98ce-6aad31fea510.png)
![image](https://user-images.githubusercontent.com/21291815/119933174-2c1d4180-bfb6-11eb-8602-2da41a07260f.png)
![image](https://user-images.githubusercontent.com/21291815/119933233-4e16c400-bfb6-11eb-91a1-c008d9f5891e.png)

[2021-06-08 06:52] fengjian1585 opened #1530 "system:serviceaccount:kubesphere-system:ks-installer No resources found"

[2021-06-08 15:49] JohnNiang opened #1531 "Unable to create pod of Jenkins agent for missing default quota limits"
The error will occur when I specify a custom podTemplate in Jenkinsfile.

**Jenkinsfile example**:

[code]

**Error detail**:

[code]

/kind bug
/area devops
/priority medium
/assign @JohnNiang

[2021-06-09 07:35] wenhuwang opened #1532 "kubeedge's cloudcore component advertiseAddress configuration format is wrong"
Ks-installer Version: v3.1.0
cluster-configuration.yaml:
[code]
![image](https://user-images.githubusercontent.com/16423072/121312412-ec504580-c937-11eb-9846-407c81692ab9.png)
![image](https://user-images.githubusercontent.com/16423072/121312571-16096c80-c938-11eb-97ae-8be3bfb2a8d2.png)

/kind bug
/assign @wenhuwang

[2021-06-11 04:59] #1503 closed

[2021-06-11 13:04] LinuxSuRen commented on #1529
/retitle Douts about the dependency between the script offline-installation-tool.sh and docker client
/kind support

[2021-06-11 13:17] muzi502 commented on #1529
/cc @muzi502

[2021-06-14 00:05] #1532 closed

[2021-06-16 02:47] ks-ci-bot opened #1546 "[release-3.1] upgrade kubeedge version to v1.6.2"
Manual cherrypick required.

#1527 failed to apply on top of branch "release-3.1":
[code]

[2021-06-17 14:13] mpv945 opened #1547 "How to install the arm version. Or tell the method to compile itself"
Now using ARM processor and k8s cluster to build OK, this service has been unable to be installed